[2018-07-20 04:53] desdulianto opened #661 "Cannot download executeable from exercise solution."
Hi, I opened this ticket because @kotp told me that when he downloaded my exercise solution of ruby track rna-transcription, it did not deliver executable file.

Here is the screenshot of the command history when I submitted the solution.
![image](https://user-images.githubusercontent.com/3291789/42983817-142140ec-8c13-11e8-94f1-5cbc1341d9a1.png)

I first submitted the solution when exercism haven

[2018-07-20 06:19] seesiva opened #662 "Windows 64-bit Exercism - Download exercise fails after upgrade"
Attached is the issue screenshot.
![image](https://user-images.githubusercontent.com/3206488/42986349-cec2dc0e-8c12-11e8-85b9-fc8509b3b6a7.png)

[2018-07-20 08:16] NobbZ commented on #662
This is a known bug in the updater. It has been fixed in the current release (v3.0.5), but you need to update manually.

Please download the appropriate ZIP file for your system from https://github.com/exercism/cli/releases/latest and extract the contained `exercism.exe` to whereever your current exe is.

You can find the path of the old/broken executable using `where exercism`.

[2018-07-20 08:34] seesiva commented on #662
Thanks. It did worked after the above said approach. You need to reconfigure with token to continue working with updated version.

[2018-07-20 08:34] #662 closed

[2018-07-20 12:32] kytrinyx commented on #657
https://github.com/exercism/website-copy/pull/225

[2018-07-20 12:37] kytrinyx commented on #661
@desdulianto Thanks so much for following up here!

Would you show me the output of `exercism troubleshoot`?

[2018-07-21 01:45] desdulianto commented on #661
Here it is @kytrinyx
[code]

is it because of my version is lagging?

[2018-07-21 08:03] Ornataweaver opened #663 "'exercism debug' is mentioned in"

[2018-07-21 08:07] Ornataweaver opened #664 "'exercism debug' is mentioned in "Submitting Exercises" but it doesn't work in terminal."
[code]
I think you should rename it to 'troubleshoot' in '/my/solution/' s.
https://exercism.io/my/solutions/ca1c0ce46858487e85ac8a13300dc74f

[2018-07-21 08:07] Ornataweaver commented on #664
Or add debug as equivalent of 'troubleshoot'. This would be better and more compatible.

[2018-07-21 16:43] kotp commented on #661
I believe a bug was found, but it does not hurt at all to update the client.

[2018-07-22 01:57] #657 closed

[2018-07-22 11:53] kytrinyx commented on #664
Thank you for reporting this @Ornataweaver.

I've investigated, and it looks like the `exercism debug` is referenced in the exercise READMEs for several languages. Since we pin exercises when people start them, people who have already unlocked the exercise would not get the fixed READMEs even if we updated them.

As such I think you're right that adding `debug` as an alias to `troubleshoot` is the

[2018-07-22 12:01] #663 closed

[2018-07-22 12:04] kytrinyx opened #665 "Ensure filepaths are all normalized on submit/download"
When submitting files on Windows, we need to ensure that the server receives normalized file separators (`/`), and when downloading files on windows, we need to ensure that any file paths are normalized to Windows path separators (`\`).

See https://github.com/exercism/exercism.io/issues/3870 for original report.

[2018-07-22 16:35] nywilken opened #666 "Shell completions reference old CLI commands"
The Bash and Zsh tab completion files being shipped with the latest release reference subcommands that no longer exist. The files should be updated to reflect the new Exercism subcommands.

It might be worth checking out https://github.com/spf13/cobra/blob/master/bash_completions.md

[2018-07-23 02:50] desdulianto commented on #661
Ok, I have upgraded the client and resubmit the solution, it's on 7th iteration now :D
Here is the command line output:
[code]

[2018-07-23 07:59] MohamedHajr commented on #626
I'm having the same issue, went throw the same steps to reconfigure the CLI and now gets an Error: couldn't find it whenever I submit an exercise, and on the website when I went to the hello world exercise to check the instructions for submitting every time I hit the link I get redirected to the python track page.

[2018-07-23 08:04] NobbZ commented on #626
Which version of the CLI are you using? The error message should be much more informative since 3.0.4 as far as I remember.

And which link do you click when you get directed to the track page?

Have you deleted and redownloaded the exercise in question before trying to submit to pull in the metadata neeed? Pro-Tip: Backup the solution you want to submit first ;)

Please refer to https://exercism.

[2018-07-23 19:00] daveyarwood commented on #629
There used to be an `exercism tracks` command that listed all of the available tracks, but it seems to have disappeared. That's a bummer, because I had a similar setup where I could run a script to fetch an exercise from a random track, and my script relied on the output of `exercism tracks`.

[2018-07-23 23:17] kytrinyx commented on #629
We'll likely be adding back _something_ that will provide more track/exercise data from the API, but it will probably be at least a few weeks until we get it.

[2018-07-23 23:52] kytrinyx commented on #626
The `Instructions` tab comes from the README of the exercise, which comes from each individual track repository. I think we'll need to put something in place to ensure that if you follow those instructions, the CLI gives you useful error messages.

[2018-07-23 23:55] kytrinyx commented on #626
The actionable thing for this is to ensure that if the README of an exercise says to run a command, we need to ensure that the CLI will give a useful error message if you run that command.

[2018-07-23 23:58] kytrinyx commented on #560
@FabienTregan, yes, that is correct. But I think that the API should be providing the error message, the CLI shouldn't hard-code it, since it's much easier to deploy the website (once) rather than make (thousands of) people download a new version of the CLI.

[2018-07-24 09:00] ptillemans commented on #665
I have an example for this: solution dae72e893ea042729b35608a16584ad1

A student submitted a solution for rust track challenge Pythagorean Triplets.

It displays fine on the site, but when downloading the solution contains:

[code]

examining the content of the folder:

[code]

note the \\src\\lib.rs

[2018-07-24 09:01] ptillemans commented on #665
Oops, sorry, didn't saw this was closed already. sorry.

[2018-07-24 09:05] MohamedHajr commented on #626
After checking the migration that migration link thanks to @NobbZ, I understood that the new version uses metadata and I have to redownload the exercise and I guess the `Error: couldn't find it` that was occurring it  was because there was no metadata,  I Couldn't find anything on the migration on the website and that's why I came here, so if we can add that migration page to the footer help secti

[2018-07-24 15:32] kytrinyx opened #671 "Clarify configuration status in troubleshoot command"
If you run `exercism troubleshoot` when nothing has been configured, we should show the default configuration directory as "configuration home", and explicitly say that it is unconfigured.

[2018-07-24 15:39] kytrinyx opened #672 "Link to community solutions after submitting when in Independent Mode"
We should print the link for people to browse the community solutions if they're not in mentored mode.

At the bottom of the submit command, we can add something like this:

[code]

However, we will need to get the API to tell us which mode a solution is being solved in so that we can check for that before printing it.

[2018-07-24 15:41] kytrinyx opened #673 "Link back to track after submitting in mentored mode"
Once you've submitted a solution, you should be encouraged to go solve other exercises that are available to you. E.g. _A mentor will give you some feedback. Explore other exercises you can do at SITE_URL/my/tracks/:track_

We will need the API to pass back whether something is in mentored mode when writing the solution file, or as a response to submitting.

[2018-07-24 18:01] cliffmccrary opened #674 "MAC: command line wont recognize exercism"
Hey guys having a little trouble getting exorcism installed on my mac. I have unzipped it and put unix executable in my path. Get command not found when I try to call it. I can open the executable and it launches fine. Also tried it in home path, tried moving all files with executable so they are in same path, tried leaving everything how it was unzipped in the folders, no dice. What am I missing?

[2018-07-24 18:16] NobbZ commented on #674
* Where exactly have you put the binary?
* What is the output of `echo $PATH`?
* What do you mean by “[you] can open the executable and it launches fine”?
* Does specifying an absolute path to the call work, eg: `~/bin/exercism version` (assuming you have put the executable to `~bin`).

[2018-07-24 19:01] cliffmccrary commented on #674
i put it in my folder pythonthehardway in my home dir. When i echo $path i get blank line and then back to comman prompt at pythonthehardway folder. If I open the executable file it gives me all info about exercism. If i specify and absolute path with version it returns back proper call with version 3.0.5.  If i dont specify path it just says -bash: exercism: command not found

[2018-07-24 20:02] NobbZ commented on #674
I asked for `echo $PATH`, not `echo $path`. Environment variables are case sensitive.

Also I doubt that some pythonthehardway folder is in your search path.

Also I asked where **exactly** you put the binary. By this I mean an absolute path.

[2018-07-24 20:12] cliffmccrary commented on #674
sorry about that, this is what comes up: /Users/melissaannnunez/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/MacGPG2/bin

not to sure on second question? when you say binary you mean executable file? if so its in /Users/melissaannnunez/pythonthehardway . How do I get absolute path?

[2018-07-24 20:17] cliffmccrary commented on #674
wow i feel really dumb! guess i didn't have it figured out as much as I thought haha, followed the detailed instructions on setting up terminal and got it figured out.

Thanks for the help nobbz sorry for wasting your time :/

[2018-07-24 20:18] NobbZ commented on #674
Yeah, `/Users/melissaannnunez/pythonthehardway` is the absolute path. But that is not in your `$PATH`.

Move it in one of the places that are listed in your `$PATH`, or even better, put it in `~/bin` and add that to your `$PATH`. How to do so, you have to look up in your operating systems manual. I'm not proficient enough with Mac and it's specifics.

[2018-07-24 20:52] kytrinyx commented on #674
@cliffmccrary If you're still stuck, let us know. I'm familiar with Mac and PATH. If you're all sorted, would you please close this issue?

[2018-07-24 20:53] #674 closed

[2018-07-24 21:21] kytrinyx commented on #661
I figured out how to reproduce this! Ok. Now I can work on a fix :-)

[2018-07-24 22:02] kytrinyx commented on #638
I'm going to close this, as there's nothing further actionable on it at this time.

[2018-07-24 22:02] #638 closed

[2018-07-24 22:42] kytrinyx commented on #643
Alright, we've sorted out the URL issue, and (unfortunately) can't do anything in the CLI for the `sudo` issue. I'm going to close this.

[2018-07-24 22:42] #643 closed

[2018-07-24 22:43] kytrinyx commented on #626
That error is in an old version of the CLI. For anyone who downloaded the client in the past 7 days, they will get an error message that points to the migration guide.

[2018-07-25 05:00] kytrinyx commented on #639
I spent a bit of time sketching out a few different possibilities, and the approach I like the best is to write an `exercism doctor` command which will walk the workspace and migrate any unmigrated exercises.

[2018-07-25 08:04] NobbZ commented on #643
@kytrinyx I've not looked at the updater code, but, may I suggest the following:

If we are on a linux and the first `exercism` binary in the `PATH` is **not** owned by the current user, we should simply suggest to ask the files owner to do the update. Further if the owner is `root` and the path not prefixed by `/root/`, we can safely assume, that the binary is owned by a package. We should then s

[2018-07-25 11:41] nywilken commented on #643
@Nobbz I think what you are proposing could  help things but it may be a bit much for us to do in the CLI. Is there an FAQ or help document that we could add this information to?

All the instructions suggest installing the binary into a users home directory. If a user happens to have their binary in a location where they are not the owner of then calling upgrade would error with a permission deni

[2018-07-25 11:53] NobbZ commented on #643
@nywilken I do understand, its a lot of logic.

Perhaps add a section for installation and updating the CLI in the FAQ and link to it when we encounter errors during upgrade?

[code]

Or something along that lines.

Especially, even after I am not a friend of user-level install and still suggest to have packages for major platforms, I understand that it is currently not managable to do so. So we r

[2018-07-25 11:54] NobbZ commented on #643
PS: The last resort solution in the FAQ should be post an issue. If we do a FAQ, we definitively need this to be part of it, or people will probably give up after trying the FAQ.

[2018-07-25 21:20] nywilken commented on #643
Agreed.

Your FAQs proposal is a great idea.  It is easy to implement and would provide a path forward for users.

[2018-07-25 21:26] nywilken opened #680 "Link to upgrade FAQs upon error"
Currently, if an error in encountered when trying to upgrade the Exercism CLI via the upgrade command an error is provided, but no additional guidance on how to resolve is provided to the user.

This request is to update the CLI upgrade command to provide a link to common upgrade issues so that the user can try to resolve the issue on their own.

The messaging should be something like the followin

[2018-07-25 21:43] nywilken commented on #680
https://github.com/exercism/website-copy/issues/261

[2018-07-26 03:16] #671 closed

[2018-07-26 18:00] #546 closed

[2018-07-26 20:42] kytrinyx commented on #665
This isn't closed -- it's being worked on.

[2018-07-26 21:47] bostonrwalker opened #684 "Windows CLI install issue - can't click "Next >" after choosing path"
I'm trying to install in AppData since I don't have permissions on C:/ on this machine. Unfortunately, the installer won't let me get past the first prompt! I also visited the license agreement link to see if that would help, but the "Next >" button is still greyed out. Shift+ N doesn't work either.

![2018-07-26 17_42_33-exercism cli install](https://user-images.githubusercontent.com/22710070/432

[2018-07-26 22:10] NobbZ commented on #684
I skimmed the code of the installer, and it seems that the button is only enabled when `CheckTLS.TLSok` is `True` as well. It seems as if there is a check made against the TLS version available to your computer and I remember that there have been issues with TLS on some older windows versions (7 and/or 8) in general.

Please check if following the link labeled "Microsoft instructions for updating

[2018-07-26 23:42] kytrinyx commented on #684
@bostonrwalker If you're on Windows 10, you could try going through the walkthrough and taking the "manual installation" route: https://exercism.io/cli-walkthrough -- that should get you unblocked until @rpottsoh has a chance to update the installer.

[2018-07-26 23:43] rpottsoh commented on #684
@NobbZ I should be able to do something.  Thanks for the suggestion.

[2018-07-27 00:02] rpottsoh commented on #684
@bostonrwalker Did a dialog box also appear indicating an error with TLS on your computer.  It should have been worded similar to this:
[code]

[2018-07-27 00:30] rpottsoh commented on #684
![temp](https://user-images.githubusercontent.com/6978003/43295394-a188785c-9112-11e8-8415-cdea21e16662.gif)

The screen will look like this for the next release when the TLS check fails.

[2018-07-27 00:31] rpottsoh commented on #684
I am going to reword the message in the dialog box.

[2018-07-27 01:08] rpottsoh commented on #684
I have released an update to the installer https://github.com/exercism/windows-installer/releases/latest

[2018-07-27 06:12] ErikSchierboom opened #688 "Allow downloading of specific iteration of user solution"
The `exercism download` command allows me to download a user's solution by specifying its UUID. It would be great if we could also specify the specific iteration to download, as sometimes I want to check against some older code. This downloaded iteration should probably then also be downloaded to a different folder.

[2018-07-30 13:56] bostonrwalker commented on #684
I tried following Microsoft's instructions to update my TLS defaults, but due to security restrictions I couldn't make the required changes on this PC. On the other hand, I was able to install the CLI and submit solutions without TLS 1.2 after following the instructions for Windows manual install at https://exercism.io/cli-walkthrough. So it seems TLS 1.2 is only a requirement of the particular im

[2018-07-30 14:17] rpottsoh commented on #684
The installer is using the default version of TLS available to Windows (not something provided by a 3rd party library).  I agree this is a weakness of the installer.  I need to look into using a 3rd party, OS, library.
 What version of Windows are you using?  TLS issues, in regards to the installer, are normally only found with versions less than 10.  The installer has been downloaded thousands of

[2018-07-30 22:58] rpottsoh commented on #684
@bostonrwalker I think I have worked out an update that will remove the need for updating TLS settings in Windows if they are not up to GitHub requirements.  I would like to put a Pre-release version up for you to try.  I'll assume that you are and will post again when it is ready,

[2018-07-31 09:54] tejasbubane opened #689 "Default workspace directory is next"
Default workspace directory is `exercism_submissions_next`. It can be changed to `exercism_submissions` now that we have v2 site live.

[code]

[2018-07-31 18:54] nywilken commented on #689
@tejasbubane are you asking if you can change your workspace path now that v2 of the site is live?

If so, the answer is you can use the `configure` command to change your workspace and all should work as expected. Please keep in mind that the CLI will not move files for you so you will need to create your new directory, copy over your files (rsync for Mac/Linux or robocopy for Windows), before ch

[2018-07-31 19:10] tejasbubane commented on #689
No. I mean the CLI should now use default path as `exercism_submissions` when someone runs the `configure` command for the first time.

[2018-07-31 19:26] nywilken commented on #689
I see. The default directory when running configure is not `exercism_submissions_next`, but `exercism` which by default will be relative to the user’s home directory.

[2018-07-31 19:44] tejasbubane commented on #689
Ok I think it was being picked up from my old config (the beta release of CLI that I had installed before). After deleting the `~/.config` this looks good:

[code]

[2018-07-31 19:44] #689 closed

[2018-08-01 14:16] Stargator commented on #665
I'm on a MacOS and 1 out of 5 of the first solutions I downloaded were like the one @ptillemans posted. But this is on the Dart track.

[2018-08-02 02:13] BigslimVdub opened #690 "exercism will not move to /bin Ubuntu 16.04"
Downloaded latest Linux 64 and extract files to /Downloads folder. I am unable to move or copy exercism.exe to ~/bin with sudo or gksudo. Manually moving causes permissions denied. Yes I have admin privileges.

The exe does not run so I do not believe this is correct file for ubuntu.

Do I need to build from source? No cmakelists.txt for use with make.

[2018-08-02 02:49] ianloh opened #691 "Error: Patch ___ EOF while submitting"
Hi,

Am unable to submit exercises, e.g. while attempting to submit the first Go track exercise (Hello, World), I get:
[code]

Troubleshoot's output:
[code]

Help appreciated. Thanks!

[2018-08-02 02:51] nywilken commented on #690
Building from source is not necessary. Judging from your comments I would have to say that you may have downloaded the wrong release package. I confirmed that the linux 64 binaries are correct.

If you download the latest binary directly
[code]
Then view the contents of the tarball `tar tvzf exercism-linux-64bit.tgz` you should see something like the following:
[code]

As for the permission denied

[2018-08-02 03:16] nywilken commented on #691
@ianloh quickly looking at the provided error message it looks like encountered an issue communicating with the Exercism server when trying to submit your solution. Have your tried submitting the file again?

If so can you include the verbose flag `exercism submit -v ~/Exercism/go/hello-world/hello_world.go`

Please make sure to remove any token information (line beginning with Authorization:) bef

[2018-08-02 05:24] ianloh commented on #691
Here's the output with the verbose flag:
[code]

Thanks!

[2018-08-03 01:54] BigslimVdub commented on #690
My error. I was trying to move to ~/bin not ~/home/user/bin. I retried and it worked properly. Install instructions noted to move to ~/bin not ~/home/user/bin.

Works great now, thanks!

[2018-08-03 01:54] #690 closed

[2018-08-03 03:31] nywilken commented on #691
@ianloh thanks for this output. It looks like the request to the API is throwing and error, but I am not sure why yet. Oddly enough the response time for https://api.exercism.io/v1/ping seems to be very quick; faster than any response time I've seen.

what is the response of ```curl https://api.exercism.io/v1/ping```?

[2018-08-03 08:15] NobbZ commented on #691
Nearly one and a half second is quick? I do get response times from 200 to 300 milliseconds there. Meaning beeing ~5 to ~8 times faster...

[2018-08-03 08:52] nywilken commented on #691
@NobbZ good catch. I was reading it as ms. Too many numbers after that decimal 🤦‍♂️
@ianloh disregard that fast comment.

[2018-08-03 16:19] kytrinyx commented on #688
Yeah, I'd love this. We need the API to provide a way to do this. I'll open an issue for that.

[2018-08-03 18:06] kytrinyx commented on #684
Thanks! I'll close this one.

[2018-08-03 18:06] #684 closed

[2018-08-03 18:12] kytrinyx commented on #680
@nywilken that's the correct repo!

[2018-08-03 18:21] kytrinyx commented on #548
This is fixed. It turns out we don't need to use a team flag, because submit relies on the solution UUID, which "just works".

[2018-08-03 18:21] #548 closed

[2018-08-04 00:16] drwl opened #692 "Automatically change directory after downloading an exercise"
I've been using the platform a lot recently, I really love it. I've tried searching through the issues to see if this was brought up before but it looks like it hasn't.

As a feature request, would it be possible to add a configuration option or a flag to automatically cd to the exercise directory after downloading it?

[2018-08-04 03:09] nywilken commented on #680
Thanks @kytrinyx

[2018-08-04 07:53] NobbZ commented on #692
It's not, as we have no clue how we can alter the parents process working directory, but the download command is designed in a way, that you can do `cd $(exerercism download ...)` on Linux and Mac OS.

[2018-08-04 15:50] kytrinyx commented on #692
Thanks @NobbZ

@drwl out of curiosity, if we had added this information to the output of `exercism download -h` would you have discovered it?

I'm going to go ahead and close this.

[2018-08-04 15:50] #692 closed

[2018-08-04 18:16] drwl commented on #692
Oh I didn't know you could do that. Yes, I would've discovered it if it was put in `download -h`.

[2018-08-04 19:06] macta opened #694 "Cannot download hello-world when track in beta - get "solution not found"?"
The pharo track has been moved to "beta" mode in V2 exercism, but when you use the command line client you get an error 'solution not found' even though the configlet linter is fine locally and the config.json looks ok?

e.g.
[code]
I would expect the configlet to fail if there was no solution - and there appears to be one that matches the config.json solution regex. So I'm stumped

[2018-08-05 15:05] macta commented on #694
This got answered in the other forum for me - it was due to me not being registered in the track I was developing. However I think the cli gives a bad error message for this? It should say - not registered in track?

[2018-08-05 16:36] kytrinyx commented on #694
This error message needs to be fixed in the API, as we're taking the message from the HTTP response.

[2018-08-05 17:05] kytrinyx commented on #639
This can rely on the the `workspace.PotentialExercises` method.
https://github.com/exercism/cli/blob/80f08fce28e1061d66f55e4e5c8d8e7a27df3420/workspace/workspace.go#L48

The basic behavior should be:

**if directory has solution, do nothing**
Test setup: an exercise directory with a metadata file
Verify: it doesn't get overwritten

**if directory has no solution, write it**
_It should not overwrit

[2018-08-05 17:09] kytrinyx opened #697 "Update metadata file when downloading a solution"
If the metadata file has changed (e.g. people have switched from mentored to independent mode, or back) then we'll want to include this data in the solution file.

The download command should be a bit smarter with regards to the metadata file:

- write it if it's not already there
- write it if the uuid matches
- bail with an error if the uuid is different

[2018-08-05 17:11] kytrinyx commented on #661
I've made it so that the download command won't add a prefix.

The next step is to ensure that the metadata file won't get clobbered if it's already present: https://github.com/exercism/cli/issues/697

Then we can cut a new release.

[2018-08-05 17:28] kytrinyx commented on #637
@NobbZ If you have a moment, would you help fleshing out the reproduction steps we need to ensure that we fix this correctly both for the case sensitive and case insensitive platforms?

The reported case was:

- workspace directory is capitalized
- CLI is configured with capitalized directory name (matches actual name)
- exercise is submitted using lowercase for workspace

It sounds like we want t

[2018-08-05 17:44] kytrinyx commented on #629
_This issue has been imported to the https://github.com/exercism/exercism.io repository._

[2018-08-05 17:44] #629 closed

[2018-08-05 17:59] kytrinyx commented on #627
_This issue has been imported to the https://github.com/exercism/exercism.io repository._

[2018-08-05 17:59] #627 closed

[2018-08-05 18:12] kytrinyx opened #698 "Distinguish between paths and filepaths for solutions"
When submitting a solution we should ensure that the path that we send to the server is a normalized path relative to the exercise directory. This normalized path should always use forward slashes.

So for Hello World in Scala the path, when submitting from any operating system, would be:

[code]

When downloading, we need to use Go's [`filepath.FromSlash`](https://golang.org/pkg/path/filepath/#Fr

[2018-08-05 18:14] kytrinyx commented on #568
I've opened an issue to address the slashes issue: https://github.com/exercism/cli/issues/698

We also have an open issue to deal with the problems arising because we don't take into account the fact that drive names are case insensitive: https://github.com/exercism/cli/issues/637

I'm going to close this issue in favor of the other two. Thanks so much for helping figure out what is going wrong!

[2018-08-05 18:15] #568 closed

[2018-08-05 18:41] kytrinyx commented on #637
Note from @NobbZ:

This looks exactly like what we need.

[2018-08-05 18:50] kytrinyx commented on #560
_This issue has been imported to the https://github.com/exercism/exercism.io repository._

[2018-08-05 18:50] #560 closed

[2018-08-05 18:51] kytrinyx commented on #523
I believe this is done.

[2018-08-05 18:51] #523 closed

[2018-08-05 18:56] kytrinyx commented on #477
We've currently removed any need for interactivity in the commands (see https://github.com/exercism/cli/pull/696).

I'm going to close this and we can reconsider if we add back interactive behavior.

[2018-08-05 18:56] #477 closed

[2018-08-05 18:58] kytrinyx commented on #511
@navneeth I'm trying to figure out what's going on here, but I don't think we have enough information.

Can you confirm that you are using the most recent version of the Exercism CLI, and that you're using the command that is available on the website on the page for the exercise you're trying to download?

[2018-08-05 18:59] kytrinyx commented on #491
I think the right move here is to change the CLI so that it _writes_ the files with the correct permissions, but that it won't bail if the permissions are different. That way it's not a breaking change (and it's really up to them if people want to change the permissions on a file).

[2018-08-05 19:02] kytrinyx commented on #458
I'm moving this to exercism/exercism.io so that we can discuss this in terms of the product rather in terms of the CLI behavior, since in order to get it right we have to update individual tracks, the website, the API, _and_ the CLI.

[2018-08-05 19:02] kytrinyx commented on #458
_This issue has been imported to the https://github.com/exercism/exercism.io repository._

[2018-08-05 19:02] #458 closed

[2018-08-05 19:19] kytrinyx opened #699 "Implement behavior to clean up numeric suffixes in exercise directories"
When we launched the v2 site, the CLI had some funky behavior that sometimes adds a numeric suffix to the exercise directory. This behavior is going away.

The `exercism doctor` command should clean any of these up.

We can rely on the `workspace.PotentialExercises()` functionality to do this, and then group them into each group of related exercises. E.g.

- `ruby/hello-world`
- `ruby/hello-world-

[2018-08-06 02:25] navneeth commented on #511
Hi Katrina,
I really appreciate your resolve. Thank you for remembering it.
However I am now able to use excercism on another machine that is not on the proxy network.

The problem remains on my desktop which is in a proxy based network. So that is most likely the cause.
You can attribute the issue to proxy and close it.

Thanks !
Navneeth

[2018-08-06 02:50] kytrinyx commented on #511
Alright, thanks Naveenth! I hope you get the proxy sorted out.

[2018-08-06 02:50] #511 closed

[2018-08-07 21:29] kytrinyx commented on #607
@jdsutherland @nywilken how would you feel about naming it `.exercism/metadata.json` instead of `.exercism/solution.json`?

[2018-08-08 17:16] ErikSchierboom commented on #665
@kytrinyx Just out of curiosity: is this high on the priority list? It is my number one pain when using the CLI (which is otherwise working perfectly).

[2018-08-09 00:48] kytrinyx commented on #665
Yes, it's next on my list!

[2018-08-09 00:51] kytrinyx commented on #607
I think if we get another metadata file, we can consider what needs to happen. For now, I do think that `metadata` is better, and since it's _in_ the exercise directory, it does seem logical that it would be understood to be metadata for the exercise/solution.

Having slept on it, and read your comment, I think we should go with `.exercism/metadata.json`

[2018-08-09 05:46] ErikSchierboom commented on #665
Fantastic!

[2018-08-10 08:13] ianloh commented on #691
When I `curl https://api.exercism.io/v1/ping`, I get
`{"status":{"website":true,"database":true}}%`

[2018-08-10 20:28] kytrinyx opened #700 "Release tarballs are named ambiguously"
From @vbuell in https://github.com/exercism/interactive-cli-walkthrough/issues/58:

[2018-08-11 12:01] MarkyMarkz opened #701 "Linux: CLI- Configuration Error"
I tried to configure CLI with my token, but got these errors:

[code]

Sudo:

[code]

Troubleshoot:

[code]

Does someone know any solution to this?
Thanks in advance!

[2018-08-11 19:42] o1dnik opened #702 "submit solution responds with missing metadata message"
I've migrated from v1 to v2 recently and discovered a completely new UI. The cli version is updated, for python task "Hello world" pytests pass ok, but `exercism submit $(pwd)/solution.py` replies with some default message:

[code]

I can't find anything related to metadata, how it's built and try to debug by myself, so I'd raise this question to be directed correctly from here.
And some additiona

[2018-08-11 19:47] NobbZ commented on #702
From the link in the error message you quoted:

[2018-08-11 19:55] o1dnik commented on #702
Thanks @NobbZ   Well, I don't get the written text unfortunately. Already did download once, so it should have probably updated all tasks... or not. Anyway. here's the additional output:
[code]

[2018-08-11 20:05] o1dnik commented on #702
Since the issue is resolved, I'm closing the issue, but would appreciate any further comments regarding workspace definition and relative/absolute pathnames.

[2018-08-11 20:05] #702 closed

[2018-08-11 20:58] kytrinyx commented on #701
You should not need sudo.

This is interesting because it says that you're unable to reach the URL:

[code]

However when you call the troubleshoot command, you are able to connect. It's not fast, but it's less than a second:

[code]

The timeout in the configure command is 10 seconds, whereas the one in the troubleshoot command is 20, which should not affect this.

You could try this:

[code]

Bu

[2018-08-12 22:07] DamnedScholar opened #707 "Would it be possible for us to view exercise status through the CLI?"
In general, I think it would be useful for users to be able to use a command like `exercism view [--track=python]` and see a printout of the status of downloaded exercises (those that match folder names in the `Exorcism/` folder). In my specific use case, I use Atom and would be able to take a feature like that and use it to modify my editor's GUI to integrate information from the CLI.

[2018-08-13 16:14] MarkyMarkz commented on #701
Hi, thanks for your quick response!
Your `--no-verify` suggestion worked and my CLI was set up immediately.
But as you predicted, `download` was canceled.

`time curl` says this:

[code]

[2018-08-14 00:39] kytrinyx commented on #707
The short answer is: probably, but we don't have a timeline yet.

We have an open issue for this feature request: https://github.com/exercism/exercism/issues/4162

It's going to require some product design discussions before we decide how to implement it, and then we'll need to do work both in the API and the CLI to support it.

I'm closing this in favor of the issue in the exercism repo.

[2018-08-14 00:39] #707 closed

[2018-08-14 00:40] kytrinyx commented on #701
I don't understand how `curl` gets access quickly, and the CLI does not!

@nywilken have you run into anything like this before?

[2018-08-14 01:03] kytrinyx commented on #702
@o1dnik There's a bug in the CLI with the paths. I've fixed it, but am waiting on a second fix that I need before I release a new client.

I would recommend running `exercism configure --show` to see what the current configuration is, and update that to be whatever you'd prefer it to be.

To get the directories sorted out, try moving the `hello-world` directory to `backup-hello-world` and `hello-w

[2018-08-14 03:53] nywilken commented on #701
Not sure if time is what we want here. As it is reporting time in seconds which also accounts for the the time to display the out to the screen.

@MarkyMarkz if you run the following command you should see numbers closer to what you see when running `exercism troubleshoot`

[code]

@kytrinyx I haven't seen this issue yet.  I can reproduce if I drop the Timeout for the client to 1 second on my mach

[2018-08-14 17:33] MarkyMarkz commented on #701
I am glad, I´m not the only one irritated by this.
@nywilken, your command gives following output:
[code]
I´m using Manjaro with KDE. I should mention that I used Exercism before without problems on the same laptop but with Mint KDE.
Kernel: `4.16.18-rt12-MANJARO`

Sorry for the noob question, I tried using `dig` or `host` for DNS information but those commands were not found neither could I insta

[2018-08-18 06:49] mawis opened #708 "Add option to change to the downloaded directory"
I have a pattern, that repeats with every download of exercises or solutions I do:

* call `exercism download`
* copy the path it was downloaded to
* call `cd <that path>`

That's very frustrating repetition. Wouldn't it be possible to add an option to exercism to change to the directory where the solution was downloaded to automatically? Maybe even as a default or configuration option.

[2018-08-18 06:54] NobbZ commented on #708
As a process can't change the working directory of its parent process, no that's not possible, but the output of the CLI is designed in a way that you can do `cd $(exercism download ...)` on most shells.

[2018-08-18 06:58] mawis commented on #708
Oh sure, you're right. I didn't think of that.

I guess I have to write a wrapper shell script around `exercism` to implement that.

[2018-08-18 06:58] #708 closed

[2018-08-21 15:38] amydpp opened #709 "Can't install/use"
I initially installed the CLI and tried to configure but kept getting the 'incorrect usage', then I tried to redownload it. And got the following error

![exercismerror](https://user-images.githubusercontent.com/181626/44412467-032f0e80-a537-11e8-8039-321460034e02.PNG)

![exercismerror2](https://user-images.githubusercontent.com/181626/44412477-0f1ad080-a537-11e8-930d-f3a4ae4f85b2.PNG)

I've tried

[2018-08-21 16:53] bippum opened #710 "Set new workspace directory on linux"
I would like to use Exercism with Ubuntu CLI on Windows. Unfortunately, modifying any Linux files with a Windows program will cause a cascade of errors. Could it be possible to change the directory in which Exercism operates? I already tried using the `--dir` option, but it seems to have been removed.

[2018-08-21 16:56] NobbZ commented on #709
Please remove the version installed by chocolatey completely and then follow the tutorial to do a fresh windows install.

[2018-08-21 16:58] amydpp commented on #709
I deleted the files...not sure what else I should do. After deletion tried a fresh install, got the same message.

[2018-08-21 17:01] NobbZ commented on #709
You obviously haven't deleted those files, or windows would tell you that it can't find the executable.

Please use chocolatey to uninstall exercism and then check if the directory mentioned in the error message is empty or even better does not exist at all.

[2018-08-21 17:07] NobbZ commented on #710
It's `--workspace` now. `exercusm configure --workspace=/foo`.

But we experienced problems in the past using the Linux CLI under WSL. Please make sure that both windows and WSL and the Linux inside are up to date before trying.

[2018-08-21 17:26] NobbZ commented on #709
A screenshot that shows that the executable under the path mentioned by the error message does not exist.

Also I want a screenshot that shows that there is no exercism executable left in chocos shim directory.

Also please show the output of `where exercism` from a terminal.

[2018-08-21 17:36] amydpp commented on #709
where exercism did it.

Thank you.

Once I deleted it all, I was able to reinstall.

[2018-08-21 19:27] #665 closed

[2018-08-21 19:27] #698 closed

[2018-08-21 19:28] kytrinyx commented on #709
Glad you got it sorted!

[2018-08-21 19:28] #709 closed

[2018-08-21 23:10] Diogo-Rodrigues opened #711 "request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
Hey guys! I just downloaded the latest release of exercism CLI (v3.0.6) for linux64, but when I tried to configure the CLI with this command

 it doesn't work.

So, I found a solution for this problem using the tag

 and it seemed to work, but it didn't.

When I tried to download this exercise

This message error appeared:

I'm working with Ubuntu 18.04:

[2018-08-22 01:52] kytrinyx commented on #711
@Diogo-Rodrigues We've run into this before (https://github.com/exercism/cli/issues/701) and we've not yet figured out exactly what is causing it.

I'm going to see about adding a flag that will let people override (extend) the timeout, so that we can work around the problem until we figure it out.

Sorry about the trouble!

[2018-08-22 02:49] Diogo-Rodrigues commented on #711
Ok @kytrinyx, thanks for the quick answer!

[2018-08-22 07:04] angelikatyborska opened #712 "Can't download exercise by uuid with 3.0.7"
I have just updated to 3.0.7 via `exercism upgrade` and now every time I try to download an exercise by uuid, I get this:
[code]

I tried a few different exercises (all Elixir) and it's all the same.

I was forced to downgrade to 3.0.6 to be able to continue mentoring. To anyone that has to downgrade too, I did it by running:
[code]

Brew allows you to install any version of a formula by just pass

[2018-08-22 11:32] nywilken commented on #712
@angelikatyborska thanks for calling this issue out. @kytrinyx I submitted a fix for this issue and assigned it to you for review. I tested locally and confirmed the download command is working with both `download --uuid 90cc8d0c5d5c494aad97a8c10b52f7cd` and `download --exercise rna-transcription --track ruby`

[2018-08-22 14:15] iainism opened #714 "Install CLI with Win 7 and behind proxy"
Hi, I have Windows 7 (Version 6.1.7601, 64 Bit), and I am behind a proxy, so the Exercism CLI installer doesn't work, and also the folder structure anticipated by the manual walkthrough ( https://exercism.io/cli-walkthrough ) doesn't exist, since the walkthrough assumes Windows 10 is being used.  Is there an 'older' manual instruction somewhere that I can use please?  Even better, can the Exercism

[2018-08-22 14:21] NobbZ commented on #714
Windows 7 has reached its end of life, it's support by Microsoft has been reduced to a bare minimum. I'm not even sure if the binary is runnable on such a system

If you insist on keeping your dated operating system you need to infer the steps necessary to install on your own, but you will probably not get any guarantees.

But because of the proxy, please file an issue at the repository of the ins

[2018-08-22 14:33] iainism commented on #714
"Windows 7 has reached its end of life"

Windows 7 is being supported by Microsoft until January 2020, so end-of-life is in 16 months time.  It would seem premature to drop support for Win 7 now given that [there are still far more Win 7 users out there than Win 10 users](https://www.computerworld.com/article/3199373/windows-pcs/windows-by-the-numbers-windows-10s-growth-continues.html)

[2018-08-22 15:12] crane-yuan commented on #712
@nywilken Hello, I was in trouble when I was using exercism-cli under OSX. Please help me look at it.

And my exercism-cli version is 3.0.7.

I get this when i try to download exercise in the first time, but  it worked somehow when I tried again.
[code]

![image](https://user-images.githubusercontent.com/8643491/44472040-e6dac100-a65f-11e8-8eeb-8f4f47041665.png)

[2018-08-22 17:12] NobbZ commented on #714
Thats when the extended supports end, which is near to use less for regular customers that don't pay the extended bills…

Everything not in mainstream support is dead for me.

Still, it seems as if there was no copy of Win 7 available when writing the tutorials, so you need to find the differences and either ask questions how to work around that difference or find out yourself how to do so (and ho

[2018-08-22 17:13] bippum commented on #710
Thanks for the pointer. Mine seems to be working fine, as long as I only modify files from outside the linux enviornment within `/mnt/c/...` .

[2018-08-22 17:13] #710 closed

[2018-08-22 18:16] arademann commented on #701
Adding `nameserver 8.8.8.8` to your `/etc/resolv.conf` may be a workaround. It worked for me, at least. I had the same problem a few months ago while I was working with Docker. [https://github.com/docker/for-win/issues/611](https://github.com/docker/for-win/issues/611)

[2018-08-22 19:32] iHiD opened #715 "[Feature Request] Add mentoring CTA to Exercism download command"
I was inspired by this

<img width="590" alt="screen shot 2018-08-22 at 20 30 09" src="https://user-images.githubusercontent.com/286476/44485987-46c66d00-a64a-11e8-936d-5595ce5a9d3b.png">

Once we've got the mentoring signup integrated into the site, we could add something like:

[2018-08-22 19:34] iHiD opened #716 "[Feature Request] Check that I meant to submit a test file."
I sometimes accidently submit the test file rather than the code file. This is because I'm running this a lot

[code]

and then sometimes my fingers just automatically type the same filename for `exercism submit`.

It would be nice that i I submit one file and it matches the test pattern, the CLI asks whether I meant to submit just the test file before creating the iteration.

[2018-08-22 19:54] nywilken commented on #701
@arademann thanks for offering that advice - I've seen others report the same solution. But there are a number of users having the same issue #711 and #712.

@MarkyMarkz  I've been trying to debug this further and while I haven't confirmed it just yet because I have not setup a debug process for this I believe the issue occurs when we throw auth into the mix. More specifically, with the extra conn

[2018-08-22 20:39] iainism commented on #714
"Everything not in mainstream support is dead for me."

So over 63% of Windows users globally (see previous link) aren't relevant to Exercism?

Thanks for letting us know where we stand.

[2018-08-22 20:50] NobbZ commented on #714
That's just a personal opinion and might not be what exercism is actually thinking. It's always as I understood Microsoft's support cycles.

But still, there is the point that probably no win7 copy was available (which is a realistic point) when the tutorial where written and it was just assumed that it will work similarly for older versions.

So unless you can't point to the differences we can't

[2018-08-23 02:11] kytrinyx commented on #715
This is a great idea!

[2018-08-23 02:13] kytrinyx commented on #716
This will rely on our getting the `prepare` command sorted out so that we can get the test pattern for each of the languages that people are doing exercises for.

Definitely doable, but it will not be in the next few weeks, I think.

[2018-08-23 02:27] kytrinyx commented on #714
This is the situation we are in. We can support other versions, but we don't have the resources to support older versions until (a) we know that it's necessary, and (b) we can get help figuring out what needs to change.

Maybe! @rpottsoh how hard would it be to support this?

If that doesn't work out, then we would greatly appreciate it if you have the bandwidth to help us figure out the details o

[2018-08-23 02:34] kytrinyx commented on #711
I'm going to close this as a duplicate of #701 since that is where we're tracking the debugging. @Diogo-Rodrigues would you go ahead and subscribe to that issue?

[2018-08-23 02:34] #711 closed

[2018-08-23 02:34] kytrinyx commented on #712
I've released a fix for the `uuid` flag on the `download` command. I'm going to go ahead and close this.

@crane-yuan Please subscribe to https://github.com/exercism/cli/issues/701 which is the issue that you are describing.

[2018-08-23 02:34] #712 closed

[2018-08-23 02:38] kytrinyx opened #717 "Do not allow submitting enormous files"
The `file_contents` column in the database is a MySQL `BINARY` type (65,535 bytes).

https://github.com/exercism/website/blob/40515d13b4a8ae177aea8813eae86ca9229eae81/db/schema.rb#L137

See https://github.com/exercism/exercism/issues/4277 for the original report.

[2018-08-23 02:38] kytrinyx commented on #717
See https://github.com/exercism/exercism/issues/4277

[2018-08-23 04:32] crane-yuan commented on #712
@kytrinyx Thanks for your reply, I will try it.

[2018-08-23 13:34] Diogo-Rodrigues commented on #711
Yes, of course @kytrinyx ! I'm going to do that. Thanks!

[2018-08-23 14:39] rpottsoh commented on #714
I am not sure how to deal with a proxy server.  I never have had to and have no way to test.  I have quickly scanned the comments above and I am left wondering if the CLI ill work behind the proxy?  If the CLI won't work I don't see much point in looking into this in regards to the Installer.

@iainism  have you downloaded the [latest](https://github.com/exercism/cli/releases/latest) version of th

[2018-08-23 14:47] rpottsoh commented on #714
@NobbZ  this is correct.  Which makes it difficult from my perspective to do anything.

[2018-08-24 11:11] MarkyMarkz commented on #701
@arademann, thank you for your suggestion. Unfortunately it didn´t work.

[2018-08-25 10:41] sudha50 commented on #701
@arademann solution worked for me.

[2018-08-25 18:13] Jarvvski opened #718 "Download all items for given track"
Did some quick searching and I see that the ability to download all items for a given track isn't currently in the CLI.

I'd really find this item useful, as it's great to have access to items to work on during a long flight etc.

In the mean time (because I've been searching for it in the issues here) I made a tiny script to be able to download all items for a given track: https://github.com/Jarv

[2018-08-26 17:42] kytrinyx commented on #718
I think this would be a nice addition.

A few notes:

- It would have to be "all unlocked", not "all"
- In "independent mode", "all unlocked" would be equivalent to "all"

We would need some design/implementation on the backend API in https://github.com/exercism/website before we can start addressing this

[2018-08-26 17:56] kytrinyx opened #719 "Design question: what should the cli and api packages actually look like?"
@nywilken I was looking at the contents of the `cli` package and the `api` package. I think we've got a bit of ambiguity around where things belong.

I'm wondering if we should have the CLI-specific _logic_ in the `cli` package (build stuff, logic around versions, maybe), and then have everything that talks to remote servers in `api`. But maybe `api` is the wrong name. Maybe `remote`?

[2018-08-26 20:06] kytrinyx commented on #701
I've opened a pull request to add the configurable http timeout.

Once that gets merged and a cut is released, you will be able to pass a flag `--timeout=` which will override the default timeout that we use. E.g.

[code]

[2018-08-28 01:29] nywilken commented on #719
I think this makes complete sense. Maybe even have a pkg specific for the exercism api. I know I mentioned the upgrade pkg in the past but this might be a good opportunity to revisit.

I’m blanking right now on what is specific to the cli. But it is worth breaking up. I have time this week to put together a rough proposal for the pkg break out.

[2018-08-28 01:59] kytrinyx commented on #719
That would be fantastic. I've been spending an hour or so each evening checking in on discussions, PRs, and issues, so I will have time to look at a proposal if you have one.

[2018-08-28 04:36] #701 closed

[2018-08-29 21:42] kytrinyx commented on #717
Awesome, go for it!

[2018-08-30 02:16] exlibrischimex opened #726 "Configuring the CLI"
i have an issue configuring exercism on command line error message token not recognized.

[2018-08-30 02:44] nywilken commented on #726
@exlibrischimex can you provide the version of the exercism cli you are running `exercism version`.

Also please provide the command you are running minus your token.

[2018-08-31 02:48] nywilken commented on #719
#### Current Structure
An outline of the current HTTPClient structure being used by the Exercism CLI

Packages which define an HTTPClient:
[code]

Commands which use the defined HTTPClients:
[code]

Import Dependencies:
[code]
----
#### Proposed Structure
[code]

In addition to the new structure, I propose that we add a third HTTPClient.
The third client would live in cmd/root.go for now and it wo

[2018-08-31 03:18] sfairchild opened #728 "Update usage documentation for submit"
It was discovered while discussing #724 that the documentation for `exercism submit` could be improved including showing optional additional files.

As a user I would like documentation showing the proper use of `submit` including any optional flags.

[2018-09-03 17:05] kytrinyx commented on #719
I like this.

I'll take a look at that PR!

[2018-09-03 17:06] kytrinyx commented on #728
Do you mean the documentation that is shown when running `exercism -h`?

[2018-09-03 19:54] NobbZ commented on #728
Its `exercism help submit` or `exercism submit -h` meant here.

Its `usage` string is `submit [flags]`, usually I'd read this as if we can optionally specify flags, but nothing else.

Instead we **have to** provide at least one file name and **can** provide many. Directories are not allowed (yet).

The fact that we have to provide a list of files is only mentioned in the description, but not in th

[2018-09-04 15:08] sfairchild commented on #728
Updated the original comment to make it more clear. I should have included more details

[2018-09-04 22:58] #557 closed

[2018-09-04 22:58] #607 closed

[2018-09-04 22:59] kytrinyx commented on #728
Awesome, thanks for fleshing that out! I agree--this would be a much better experience.

[2018-09-05 02:10] nywilken commented on #726
@exlibrischimex are you still having issues? Otherwise, I will mark this issue as closed.

[2018-09-05 16:51] #717 closed

[2018-09-05 16:54] nywilken commented on #726
Closing this issue for now. @exlibrischimex feel free to re-open if you are still having issues.

[2018-09-05 16:54] #726 closed

[2018-09-05 23:19] yehia67 opened #731 "Running exercism in Ubuntu 16.04"
hey, I have a problem installing  exercism-linux-64bit.tgz . I make the same steps as the walk-thought but it keep give me "Command not found". After running this command `tar -xf exercism-linux-64bit.tgz` I have one executable file and shell folder. Then I wrote this commands.
![screenshot from 2018-09-06 01-08-26](https://user-images.githubusercontent.com/21314724/45126020-8aa09280-b171-11e8-9aa

[2018-09-05 23:36] nywilken commented on #731
@yehia67 did you confirm that ~/bin is in your PATH? You can echo $PATH to see the full path, if your local bin directory is not in your PATH you should add it to your local bashrc or zshrc. You can find instructions here on how to make PATH changes persist
https://superuser.com/questions/595818/add-usr-local-sbin-to-the-path-of-a-user

If you modified your rc file already please check that there

[2018-09-06 00:10] yehia67 commented on #731
the output of my PATH is: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
should it be like : $PATH:" == *":$HOME/bin: ??

[2018-09-06 00:46] nywilken commented on #731
In your shell configuration file you should append `:$HOME/bin` to your PATH variable. It should look something similar to  `export PATH=$PATH:$HOME/bin/`

Please note that your PATH variable may vary from what I put above, but if you append `:$HOME/bin` to it and reload your shell it should resolve your issue.

[2018-09-06 04:12] bencoman opened #732 "configure fails for http protocol (i.e. sans https)"
While working on [downloading exercises directly into our Pharo IDE](https://github.com/exercism/pharo/issues/32), `exercism --verbose...` provided enough info to get the server to hand us a sample JSON string that I could examine inside Pharo.   However I have no sample of  what the server requires for [Pharo to go direct with the "submit" command](https://github.com/exercism/pharo/issues/96).

T

[2018-09-06 04:55] NobbZ commented on #732
You have plenty of other options. You could use a proxy that does HTTP to HTTPS for you, you can hack into the CLI to print out the bare requests or you could read the source code to learn how the JSON is built. In go, you can very often read the details about how types are converted into JSON in its type definitions.

But I glanced over the clients code, and it seems as if it were constructing so

[2018-09-06 11:30] bencoman commented on #732
Some good ideas.  Thx @NobbZ.
I'll close this for now while I give those a try.

[2018-09-06 11:30] #732 closed

[2018-09-06 11:35] yehia67 commented on #731
Okay thank you it work

[2018-09-06 11:35] #731 closed

[2018-09-06 11:48] NobbZ commented on #732
Please make sure to ask your question again in exercism/exercism#4087.

We need to get our votes there, and also please feel free to ask for more features in the API there as you need them for your integration into Pharo.

[2018-09-09 17:49] kytrinyx commented on #732
It sounds like you might have some avenues to try.

We won't be disabling HTTPS on the live server, but it should be possible to run a copy of the website locally, which would not use HTTPS.

We are doing a multipart fileupload. Here's a test request:

[code]

[2018-09-10 07:00] bencoman commented on #732
@kytrinyx, @iHiD,  I've got the website up and running locally per https://github.com/exercism/website.
I've successfully signed up to it with my github account, but seem to have no data.
http://lvh.me:3000/my/tracks tells me I have 0 tracks and searching for python returns empty response.
How can I load it with data (e.g. python & pharo track) so facilitate observing the CLI's wire transfer in op

[2018-09-10 17:35] AlexLeSang opened #733 "dial tcp: lookup api.github.com on 127.0.2.1:53: server misbehaving"
Command:
exercism -v upgrade

Error message:
Error: Get https://api.github.com/repos/exercism/cli/releases/latest: dial tcp: lookup api.github.com on 127.0.2.1:53: server misbehaving

exercism version 3.0.6

[2018-09-10 18:28] NobbZ commented on #733
Quick shot: You are using a local DNS proxy, cache or something, which does some weird stuff.

[2018-09-10 18:33] AlexLeSang commented on #733
I'll look into this, thank you for the tip

[2018-09-10 18:40] AlexLeSang commented on #733
Problem was with my dns settings

[2018-09-10 18:40] #733 closed

[2018-09-11 01:44] kytrinyx commented on #732
I was going to ask: "have you run the seed script as described in the README", only to discover that the readme doesn't actually mention the seed script. Let me fix that. I'll add a comment here with the command to run (I think `bundle exec rake db:seed` but I need to confirm).

[2018-09-11 01:47] kytrinyx commented on #732
Ok, yes: try `bundle exec rake db:seed` -- it's not going to have pharo, I'm going to submit a fix for that.

You can add pharo locally by editing this list to add it: https://github.com/exercism/website/blob/813be89d0cf21e4fd75bd37ee2df826f6bed7432/app/services/git/seeds_tracks.rb#L8-L69

[2018-09-11 01:49] kytrinyx commented on #732
(I also noticed that the `rake exercism:setup` line which the README mentions is supposed to run the seed script. Did you run that command?)

[2018-09-11 07:33] bencoman commented on #732
Yes I ran ```bundle exec rake exercism:setup```, but the lvh.me web site opened empty of any tracks.
In using Rails for the first time, I managed to learn ```rake -T``` gave a list of tasks and tried ```db:seed```
The first part appeare to work, e.g I saw...
[code]
but the latter part didn't...
[code]
So now lvh.me:3000 has tracks, but none of them have any exercises.

btw, I notice in travis.yml

[2018-09-11 16:14] sshine opened #734 "Path issue when using Exercism CLI in Git Bash on Windows"
I gave feedback to someone today, but

    exercism download --uuid=...

gave me a directory with a file `\\src\\CollatzConjecture.hs` rather than a file `CollatzConjecture.hs` in the `src` directory. They said they were using Git Bash on Windows with the command

    exercism submit ./src/CollatzConjecture.hs

I suspect that the problem is either in `exercism submit` or in Git Bash giving it the

[2018-09-11 16:45] NobbZ commented on #734
This is a known issue. Probably the solution was submitted using a client prior to 3.0.9, which shall fix that bug.

[2018-09-11 19:00] nywilken commented on #734
@sshine as @Nobbz said that was an issue we had with older clients. Please make sure you are running the latest cli as well `exercism version -l` which should download the files correctly. If the user resubmits the files it should fix things on the server side, but I don’t believe that is necessary since both the download and submit commands have been fixed.

[2018-09-11 19:04] sshine commented on #734
Excellent, thank you. :)

[2018-09-11 19:04] #734 closed

[2018-09-12 11:14] sshine opened #735 "Feature request: Go to exercise directory after `exercism download`"
My workflow is like this:

    $ exercism download --uid=...

    Downloaded to
    /path/to/exercism/users/<user>/<lang>/<exercise>
    $ cd /path/to/exercism/users/<user>/<lang>/<exercise> # by copy-pasting with the mouse

It would be nice if `exercism` changed directory for me in one way or another.

**One approach** could be an optional command-line parameter under `download`:

        exercis

[2018-09-12 11:58] sshine commented on #735
I'll go with that, then!

Thanks.

[2018-09-12 11:58] #735 closed

[2018-09-12 21:37] kytrinyx commented on #732
[code]

That looks suspicious!

@kntsoriano do you happen to have seen this before?

[2018-09-20 20:34] hp-e opened #740 "Installing the CLI with the installer for windows, it removes user-defined path's in the environment variables"
Hi

When I installed the exercism cli on my windows machine today, it removed all the user-defined paths in the environment variables, it should append the exerxism to the list and not replacing the list.

I used the installer from the website (Delphi...?)

hp

[2018-09-20 20:44] NobbZ commented on #740
Could you please re-open in https://github.com/exercism/windows-installer?

cc: @exercism/windows-installer

[2018-09-20 21:04] hp-e commented on #740
Thanks, I will do that @NobbZ

[2018-09-20 21:04] #740 closed

[2018-09-21 13:17] CazaBelle opened #741 "Error installing Exercism"
Homebrew is installed but when I run code to install exercism I get the following error:

Error: /usr/local/Cellar is not writable. You should change the
ownership and permissions of /usr/local/Cellar back to your
user account:
  sudo chown -R $(whoami) /usr/local/Cellar

I'm an admin on the computer but still get used to command line preferences. Any help would be much appreciated!

Cheers!

[2018-09-22 01:46] jdsutherland commented on #639
I plan to give this a go this weekend.

[2018-09-22 03:03] nywilken commented on #535
@kytrinyx I'm changed the title of this issue to `Switch to Go modules for dependency management` as vgo is not officially a thing yet, but Go modules are for 1.11 which is the first step to vgo.

[2018-09-23 15:10] nywilken opened #742 "Exercism v3.0.10-alpha.1 Testing"
### What's this about?

Before rolling out the next version of the Exercism command-line client we want to test that the latest changes for creating and storing exercise metadata (currently known as `.solution.json`) works as expected on all platforms, especially Windows.

The pre-release found [here](https://github.com/exercism/cli/releases/tag/v3.0.10-alpha.1) changes where exercise metadata is

[2018-09-24 20:47] nywilken commented on #742
@kytrinyx @jdsutherland this issue documents that main test cases, I think.  Please advised if I missed anything.

@FabienTregan @rpottsoh @Nobbz any chance you have some time to help tests on your end? It would be great to get your insight.

[2018-09-24 20:49] NobbZ commented on #742
Not before sunday. I currently took a step back from everything, my grandmother died 2 weeks ago and saturday will be the funeral. Until after that exercism is only in passive mode.

[2018-09-24 22:54] rpottsoh commented on #742
@nywilken I just finished running through all the scenarios you've proposed using the 64 bit Windows CLI.  The only thing I didn't notice happening was the deletion of the `.solution.json` file that I was expecting to be deleted during `Solution Migration Test Case`.  Otherwise everything worked fine.

At a command prompt Windows doesn't care about folder names that consist of only a dot name.  Ho

[2018-09-25 01:32] hannahsohyoungkim opened #743 "cannot submit solutions"
I can't submit solutions. It says "No files found to submit." I did this: exercism download --exercise=hello-world --track=ruby. When I check the directory it lists out my file hello_world.rb but when I try to submit it it says there are no files found.

GETTING_STARTED.md	hello_world.rb
README.md		hello_world_test.rb
Administrators-MacBook-Pro-2:hello-world hannahkim$ exercism submit
Error:

[2018-09-25 02:02] kotp commented on #743
What is the command that you used to submit it?

[2018-09-25 02:05] kotp commented on #743
And what does `exercism troubleshoot` give you?

[2018-09-25 02:16] nywilken commented on #742
@Nobbz my deepest condolences to you and your family.

[2018-09-25 02:54] hannahsohyoungkim commented on #743
I used exercism submit hello_world.rb
I made sure I was in the right folder (hello-world) and that the file was in the directory

Troubleshooting Information
===========================

Version
----------------
Current: 3.0.9
Latest:  3.0.9

Operating System
----------------
OS:           darwin
Architecture: amd64

Configuration
----------------
Home:      /Users/hannahkim
Workspace: /Users/hann

[2018-09-25 03:00] nywilken commented on #742
@rpottsoh thanks for testing out the alpha release. Super helpful information.

Hmmm, wondering if it has anything to do with it being a dot name file that the CLI is unable to delete it. You are running Windows 10, correct? I’ll try to repro on my end. Thanks for this.

I think @kytrinyx mentioned this before, but it doesn’t have to be a dot name directory if it makes thing easier. @kytrinyx @jds

[2018-09-25 03:14] jdsutherland commented on #742
I don't know the details of AppVeyor but it's surprising that the tests pass (they assert that the legacy file is deleted). Maybe there is a Windows platform specific issue with `os.Rename`? I'd be very surprised if `os.Rename` didn't return an error if it was failing to remove the file. @rpottsoh can you check if the test suite passes?

[2018-09-25 04:58] kytrinyx commented on #639
That's a good point.

How about `doctor` which would only report, and then `--fixup` which would have side effects?

[2018-09-25 05:00] kytrinyx commented on #743
@hannahsohyoungkim Would you try this?

[code]

I think we need to improve that error message!

[2018-09-25 05:02] kytrinyx commented on #741
I'm going to go ahead and close this, as it seems specific to Homebrew.

If you are still stuck after trying the above troubleshooting, holler and we'll see if we can help you get unstuck.

[2018-09-25 05:02] #741 closed

[2018-09-25 05:05] kytrinyx commented on #742
I wonder if there are specific "permission" bits on folders on Windows systems. I thought that Windows didn't care about the dot, and that it just made it a regular (not hidden) folder.

[2018-09-25 05:16] FabienTregan commented on #742
There is no issue nor special behaviour I'm aware of on windows with respect to files/folders having name starting with a dot.
If you still need more test please tell me, I may find some time this evening (Paris hour, about 12 hours from now)

[2018-09-25 12:38] nywilken commented on #742
Sorry for the confusion, my speculation was more of me thinking out loud with no actual reproduction attempt. I have not been able to reproduce this issue on Windows 8 as of this morning.

My Execution Script

1. Use v3.0.9 to download hello-world exercise
1. Verify .solution.json file is present (Cmd  and explorer)
1. Use v3.0.10-alpha.1 to submit `exercism submit hello-world.rb`
1. Confirm solut

[2018-09-25 12:51] CazaBelle commented on #741
@nywilken Many thanks for your advice I managed to get it installed :)

[2018-09-25 12:57] jdsutherland commented on #742
Oh, I didn't intend to give the impression I was referring to you there. I was actually thinking of myself, as my initial post was overly speculative before I edited it.

[2018-09-25 13:18] rpottsoh commented on #742
I don't have Go set up at the moment in order to run the tests.  I will re-run the check out steps again on my work Windows 7 (32 bit) system, and will report my findings.  This evening I will try to repeat the check out steps on my Windows 10 (64 bit) system and will pay closer attention to what happens with the JSON file, to see if it is deleted as expected when it is expected to be deleted.

[2018-09-25 13:33] rpottsoh commented on #742
Yes, it is possible to set permission levels, type of access granted to files and folders, and assign ownership; whether the contents of folders inherit from their parent folder etc.

The access/permission settings are not used much by the casual Windows user.

Having files/folder with names that start with a `.` is not illegal.  From my experience it is only the Windows Explorer that balks when y

[2018-09-25 14:11] kotp commented on #743
Hmm...

I made sure I was in the right folder (hello-world) and that the file was in the directory

That is indeed puzzling.  Any ideas @kytrinyx ?

[2018-09-26 00:08] rpottsoh commented on #742
@nywilken I have repeated all of the check out steps on my 32 bit Windows 7 machine.  Everything worked fine and as expected.  Even the file `.solution.json` was removed when you expected it to be.  I will repeat the solution migration case in a little while on my Windows 10 system.

[2018-09-26 09:27] jdsutherland commented on #639
Sure, `--fixup` works.

It should not overwrite any existing exercise/solution files.
Test setup: **a text file with different text than test server**
Verify: text file doesn't get overwritten, metadata file gets written

Is it necessary to fake a test server here? Would writing a text file and comparing [ModTime()](https://godoc.org/os#FileInfo) to verify it doesn't get modified accomplish the sa

[2018-09-26 11:57] rpottsoh commented on #742
@nywilken I repeated the solution migration case on my Windows 10 system.  Everything worked fine, the .solution.json file was removed as expected.

[2018-09-27 03:12] jdsutherland commented on #639
It seems we need most of [runDownload](https://github.com/exercism/cli/blob/0cd96e0c880e5df9f9a484c85f75512e20c8f7a0/cmd/download.go#L51-L169) which will entail refactoring. Since both `cmd/download` and `cmd/doctor` need to call the "download" endpoint, what do you think about extracting the logic for getting a downloadPayload outside of `cmd/download`?

[2018-09-27 04:53] jdsutherland commented on #639
I made a WIP PR https://github.com/exercism/cli/pull/744. Since there are multiple issues related to `doctor`, it's probably best to centralize the discussion to the PR.

[2018-10-02 14:28] SeabassW opened #745 "cannot use make on C track on WSL"
I cannot use the command "make test" at the hello-world exercise in the C track.
I've run the setup correctly for WSL and I can execute Exercism. I've checked that I'm using the right distribution.

This is the result from running "make test":
`seabass@ForBash:/mnt/f/exercism/c/hello-world$ make test
Compiling tests.out
make: cc: Command not found
makefile:24: recipe for target 'tests.out' failed

[2018-10-03 00:42] nywilken commented on #745
@SeabassW this issue has more to due with your environment missing the the c compiler `cc`. If you jump onto the Exercism support channel on Gitter (https://gitter.im/exercism/support) they can help you out, if you are still having issues

[2018-10-03 00:42] #745 closed

[2018-10-03 00:43] nywilken commented on #743
@hannahsohyoungkim are you still encountering issues when trying to submit?

[2018-10-03 00:45] nywilken commented on #742
Thanks for the testing. I will cut an actual 3.0.10 release tomorrow.

[2018-10-04 11:43] nywilken commented on #742
v3.0.10 has been released.

[2018-10-04 11:43] #742 closed

[2018-10-04 11:45] nywilken commented on #743
@hannahsohyoungkim I am going to close this issue. If you are still having issues please feel free to reopen an issue with the following information:

- CLI troubleshoot output
- Your workspace path
- Full path to the exercise that you are having trouble submitting.

[2018-10-04 11:45] #743 closed

[2018-10-04 11:49] nywilken commented on #714
@iainism is this issue safe to close? Or are you still encountering issues?

To confirm the CLI will honor any proxy settings defined by the system as long as HTTP_PROXY is configured on the system.

[2018-10-04 11:52] nywilken commented on #694
Closing as the issue has been resolved on the API. @kytrinyx if I am mistaken please feel free to reopen.

[2018-10-04 11:52] #694 closed

[2018-10-04 11:53] nywilken commented on #691
@ianloh was there any progress made here?

[2018-10-04 13:18] ianloh commented on #691
Hi Wilken,

Sorry, haven't tried it again since that last post. Will try it tomorrow!

Regards,
*Ian Loh*

On Thu, 4 Oct 2018 at 19:53, Wilken Rivera <notifications@github.com> wrote:

[2018-10-06 01:12] Steedalion commented on #728
Does this issue include the fact that there is no autocomplete-file suggesting functionality?

[2018-10-09 03:22] khanonfodder opened #747 "Trying to install on rPi 3 and getting "cannot execute binary file: exec format error""
Is it possible to install exercism on a Raspberry Pi? I dloaded the ARMv8 tarball and extracted it, but am getting an error that sounds like it's not compiled for my arch. I did double check the file and it comes up as an ARM compiled file.

[2018-10-10 17:37] rpdelaney opened #748 "Don't store authentication credentials in $XDG_CONFIG_HOME"
After running `exercism configure --token='<token>'` I find that my token is stored in `$XDG_CONFIG_HOME/exercism/user.json`.

This is a security risk because users who do not expect authentication data to be stored here may accidentally back it up insecurely. Configuration fields like `apibaseurl` and `workspace` are fine, but prefer storing `token` somewhere in `$XDG_DATA_HOME` to conform to the

[2018-10-12 13:40] Donbosco12345 commented on #620
#620submittef

[2018-10-12 13:41] Donbosco12345 commented on #620
#620submitted
https://github.com/exercism/cli/issues/620

[2018-10-12 15:29] Donbosco12345 commented on #620
https://github.com/exercism/cli/issues/620
submitted

[2018-10-20 23:38] bzitzow opened #751 "fatal error: still in list - brew install exercism (macOS High Sierra 10.13.6)"
macOS High Sierra 10.13.6
MacBook Pro (Retina, 15-inch, Late 2013)
Processor: 2.3 GHz Intel Core i7
Memory: 16 GB 1600 MHz DDR3

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-10-24 05:38] rahul6991 commented on #748
everyone can copy paste the token to the terminal everytime.
It's kind of annoying thing ,
Imagine a scenario if someone is working on a task in their Local machine and finished a task after a day ,if they lost their token ,and tried to submit the their assignment .they'll get the error as of loss of taken and they again need to go back and copy and paste token in terminal

[2018-10-25 11:35] rahul6991 commented on #525
I am working on this issue #525
May i know whether it's open or not?

[2018-10-25 12:56] nywilken commented on #525
@rahul6991 thanks for your recent comments on the brew install issue.

I would hold off on working on this issue as I am refactoring away the debug pkg. However, if you are looking to help improve the CLI experience the issue [728](https://github.com/exercism/cli/issues/728) would be a good one address.

[2018-10-25 13:51] rahul6991 commented on #525
@nywilken
I am working on the #525 and almost completed with the verbose,
I am sure my solution will provide concurrency even if there is a refactoring in debug pkg.

[2018-10-26 21:53] SpainTrain opened #757 "Distribute via snap"
To further reduce friction while getting started with Exercism (and other benefits like auto-update), it would be great to distribute via snap (https://docs.snapcraft.io/go-applications/7818).  Snapcraft provides automated build & publish via Github (https://snapcraft.io/build), so this may be as straightforward as creating the `snapcraft.yaml` file.

[2018-10-28 08:48] NobbZ commented on #757
I only skimmed the link, and to me it appears as if go needs to be installed on the computer? If so, I think we should avoid it, as this would make it necessary for the student to install a languages toolchain (s)he'll never use again after installing the CLI tool.

Also who should give support when a student is unable to install the CLI because of problems with setting up go or snap? This would p

[2018-10-30 01:59] SpainTrain commented on #757
Sorry, those are directions for creating a snap, not installing one.  More context from the homepage - "Snaps work across many distributions and versions of Linux. Bundle your dependencies and config, simplifying installs to a single standard command."

The directions for students would be `sudo snap install exercism`.  This works across all popular Linux distros - https://docs.snapcraft.io/instal

[2018-10-30 08:57] NobbZ commented on #757
I have a very strickt opinion about 3rd party package managers that require `sudo`. I have often had the "luck" that they messed up those folders that are owned by the systems original package managers, leading to ownership conflicts.

Aside of that, `exercism` itself shall not require `sudo` at any point in its lifecycle, such that it can be installed by unpriviliged users without the necessity t

[2018-10-30 10:11] hellow554 opened #758 "Add completion for fish shell"
I'd like to see a completion for the [fish shell](https://fishshell.com/)

[2018-10-30 15:57] SpainTrain commented on #757
Perhaps you are conflating *dependency* managers with *package* managers.  Every popular package manager - apt, yum, portage/emerge, ports, ... - requires superuser privileges for package installation.  I agree that *dependency* managers ought not be run as root.  Regarding being "3rd party", I mentioned above that `snapd` is installed by default in all Ubuntu versions since 16.04.  In fact, Canon

[2018-10-30 15:57] #757 closed

[2018-10-31 03:18] nywilken commented on #757
@SpainTrain thanks for your interest in wanting to grow the distribution for the Exercism command-line client. As @Nobbz has pointed out installation via snap is not something we are looking to support at this time. The focus is on growing the features of the cli to work with Exercism v2. If things should change in the future we can definetly revisit.

With that being said, do you mind sharing wha

[2018-11-02 17:07] kytrinyx commented on #714
I'm going to go ahead and close this. If you're still having trouble, please don't hesitate to add more details here!

[2018-11-02 17:07] #714 closed

[2018-11-02 17:09] kytrinyx commented on #691
I'm going to go ahead and close this one.

@ianloh if you continue to have issues, would you post back here and we can reopen it?

[2018-11-02 17:09] #691 closed

[2018-11-02 17:11] kytrinyx commented on #728
@Steedalion The autocomplete suggestions are a different problem. The relevant issue is https://github.com/exercism/cli/issues/666 -- if you want to add more observations/suggestions, please do so there. Thanks!

[2018-11-02 17:13] kytrinyx commented on #747
The ARMv* builds are intended for Raspberry Pi, but if it's working then we're likely missing something for your particular build. Do you know exactly what architecture you have?

[2018-11-02 17:22] kytrinyx commented on #751
Thanks @rahul6991!

I'm going to go ahead and close this, as it does look specific to the brew and Go environments, and not specific to Exercism.

[2018-11-02 17:22] #751 closed

[2018-11-03 21:04] rpdelaney commented on #748
@kytrinyx I don't know if mingw or cygwin implement the freedesktop standard in Windows, but they might. I haven't had a Windows system in years so I can't comment directly beyond that. Thanks for looking into this.

[2018-11-04 00:31] nywilken commented on #680
Closed with PR #752

[2018-11-05 20:29] kytrinyx commented on #758
Agreed, that would be lovely.
See https://github.com/exercism/cli/issues/666 for reference to the Cobra documentation for completion scripts.

[2018-11-05 20:32] kytrinyx opened #760 "Fail the travis build if `fmt` has not been run"
We have seen a few pull requests recently where we've manually asked authors to run `fmt`. Since we always want this to happen, let's make the Travis build fail with a helpful message if `fmt` would make changes.

[2018-11-05 20:46] #666 closed

[2018-11-05 20:50] kytrinyx commented on #715
@PSalant726 took a stab at this one in #749 which started a really great conversation about trade-offs and user experience and implementation approaches.

The TL;DR is that @iHiD and I will work our way through the implementation and UX questions, and then open issues for implementation for both the API and update this issue with implementation notes.

[2018-11-09 02:05] #760 closed

[2018-11-10 04:39] sheriffderek commented on #620
Hi! I'm excited to try this thing out - but I'm also stuck on this submit command.  _Maybe I should have taken the bash track.._ haha - but really / I'm not sure what these paths are all about. I've tried every combination of 1 path, 2 path, no path, blue path. Can you show me the way?

I'm here: `/Users/sheriffderek/exercism/elixir/hello-world` with passing tests. What would the command be to sub

[2018-11-12 05:42] kytrinyx commented on #620
@sheriffderek Hey! Sorry it's taken me 2 days to get back to you!

We have an issue open for the capitalization thing on Mac. It's a pain in the butt--basically on Mac and Windows the filesystem is case insensitive, but on Linux it is case sensitive, so we need to do something clever to make it work everywhere.

I think we need to add this capitalization thing to the troubleshooting FAQ in the mea

[2018-11-13 13:31] Smarticles101 commented on #747
@khanonfodder you should be able to run `cat /proc/cpuinfo` to view your cpu information which includes cpu architecture :)

[2018-11-14 16:41] NobbZ opened #764 "zsh completion requires sourcing and can't get autoloaded easily"
The current version of the zsh completion does not support zsh autoloading.

This can be repaired by removing the wrapping function (removing first and last line basically) and naming it `_exercism`. One can simply throw it into the `$fpath` and add `autoload _exercism` to the `.zshrc`.

Then zsh would only try to load the function if one tries to complete an argument to exercism.

Can we change t

[2018-11-16 16:01] mikym7 opened #765 "Problem with submit solution"
Hi,
I wrote HelloWorld in go. I've just create a path where I put my file HelloWorld.go and from the root where is installed exercism I run the following command:
exercism submit C:\Exercism\project\directory\go\helloworld\HelloWorld.go
but It says:
Error: FindFirstFile C:\Users\...\Exercism: The system cannot find the file specified.

Do you have any suggestion?
Thanks a lot

[2018-11-17 23:37] NobbZ commented on #765
Make sure you leave the files where the were downloaded to, do not move them around.

Your error message sugests, that you try to solve your exercises somewhere in `C:\Exercism` but the CLI expects them in `C:\Users\…\Exercism`

[2018-11-18 23:10] TaylorBeeston opened #767 "Add support for Termux"
Every time I try and configure using Termux on my phone, I receive the following error:

`Error: The base API URL 'https://api.exercism.io/v1' cannot be reached.

Get https://api.exercism.io/v1/ping: dial tcp: lookup api.exercism.io on [::1]:53: read udp [::1]:35420->[::1]:53: read: connection refused`

[2018-11-19 05:53] NobbZ commented on #767
This is a bug in the go runtime. The only way to get termux supported is to compile on the devices.

As there are only 2 or 3 people per year asking for termux support we can not expect the maintainers of the CLI to go through this or even buy devices they currently do not own.

If you really need to to exercism on your Android device, you need to build the CLI yourself as described in the CLIs co

[2018-11-19 06:43] TaylorBeeston commented on #767
No worries! I figured it would involve something like that considering it wasnt written for an ARM architecture

[2018-11-19 06:43] #767 closed

[2018-11-19 08:26] petertseng opened #768 "submit: If I just submitted an identical iteration, tell me that"
Let's say I've forgotten whether I've submitted my most recent changes or not. Maybe I stepped outside for a break, and forgot what I did right before stepping out. I'd like to know.

The API server currently tells this. If you changed something, it gives 201 Created and body `{}`. If you didn't change anything, it gives 400 Bad Request and body `{"error":{"type":"duplicate_iteration","message":"N

[2018-11-19 22:34] kytrinyx commented on #768
I agree. We should display any `message` from the API on STDERR.

[2018-11-20 00:15] Smarticles101 commented on #768
I'm trying to become proficient at go so I think I'm gonna give this a stab. Would it be better to wait till #727 is merged?

[2018-11-20 08:57] jdsutherland commented on #768
@Smarticles101 I implemented this before I noticed your comment. If you want to give it a shot, go ahead. I think we need not be concerned with #727 to make these changes. If you have any questions, I'd be happy to try to help.

One thing I'd point out is that I don't see a straightforward way to test this. It seems we'd want to mock a client so that we can setup a 400 API response but I don't see

[2018-11-20 15:49] kytrinyx commented on #768
Agreed! Wilken and I will deal with any conflicts/changes when we need to.

Yeah, we should definitely be using `httptest` here. There's an example of how to do that in the download test; @jdsutherland might be right though that it could get tricky without some refactoring. If you can't get it to work in a reasonable time, then just skip it. Not sure what's "reasonable", basically: if it's too fru

[2018-11-21 02:50] jdsutherland commented on #768
Having looked again, I found this is actually straightforward to test. At first I imagined we had to mock the client but we can just set the response with using a new `httptest.Server`.

[2018-11-23 15:08] mikym7 commented on #765
Thanks, I've created a directory where exercism says so and now It's ok.
Subsequently I tried to send the exercise with:
exercism submit /path/to/file (with the new path ;) )
but I'm having another error:
    The exercise you are submitting doesn't have the necessary metadata.
    Please see https://exercism.io/cli-v1-to-v2 for instructions on how to fix it.
Need I to create manually the metadata

[2018-11-23 17:05] NobbZ commented on #765
No, it should have been created on downloading the exercise when done by using the CLI

[2018-11-26 22:19] dmateobuitrago opened #772 "Download is not working"
Hi,

When I try to download a excercise nothing happens.

I run
`exercism download --exercise=hello-world --track=python`

And I get

[code]

But nothing happens, no directory nor files are created.

[2018-11-26 22:44] NobbZ commented on #772
I have never seen such a behaviour.

Can you please provide the full transcript (minus your API key) of the following commands?

[code]

[2018-11-27 08:36] NobbZ commented on #772
This feels weird. Can you reproduce this behaviour when using 3.0.10 or 3.0.9?

[2018-11-27 08:38] dmateobuitrago commented on #772
How can I downgrade?

[2018-11-27 08:40] NobbZ commented on #772
Basically following the manual installation instructions but using an older release.

[2018-11-27 09:06] dmateobuitrago commented on #772
I'm not sure how to do that. I installed the latest version with brew

[2018-11-27 09:35] dmateobuitrago commented on #772
Sorry NoobZ, I was looking to the wrong directory. Thanks for your help

[2018-11-27 10:39] NobbZ commented on #772
How could any of the commands show you the wrong directory?

The correct location is even printed out in the success message.

[2018-11-27 10:43] dmateobuitrago commented on #772
I thought I was supposed to create the directory, so I did it in a similar
path, so I assumed it was the one I created.

[2018-11-27 12:10] NobbZ commented on #772
Can you explain what made you think that? Do you have an idea how that sentence could have been formulated for less chance of missunderstanding?

[2018-11-27 12:34] dmateobuitrago commented on #772
The thing is that with any kind of project I'm used to create a directory
and then run the commands there. I expected that the workspace would be
created there, but to be honest I don't remember where I exactly I run the
commands.

Also I'm not used to read all the messages on the Terminal, when I saw "API
key", "Token", I usually ignore the message (This after setting the token)
*+++*

*Mateo Bui

[2018-11-27 13:34] NobbZ commented on #772
I'm also not used to read the messages ;) But if I'm asked to, or if I have a new tool, or if it doesn't do as I expected it, I take a closer look.

Messages in general are printed to be read, not to be ignored.

[2018-11-28 16:23] kytrinyx commented on #772
I'm glad you got it sorted; @NobbZ Thanks for helping work through this.

[2018-11-28 16:23] #772 closed

[2018-12-02 17:13] kytrinyx opened #773 "Ensure exercise directory name matches exercise slug in metadata"
Currently, when someone has an exercise directory that is different from the exercise slug, the CLI submits the absolute path on the user's filesystem as the absolute path.

[code]

The API is unable to handle paths with leading slashes, so when the CLI requests these files we get a 404 response from the API, even though the API is the one who told us in the first place that this is the correct fi

[2018-12-10 08:15] lucianferoiu opened #778 "Streamline the cycle of download-submit"

[2018-12-10 11:12] NobbZ commented on #778
Submit requires you to specifiy the files to submit, there have been issues with full folder submissions in the early phase after the relaunch. Those issues haven't been sorted out yet, so this won't change in the near future.

Also, in mentored mode a single exercise can unlock zero, one or many exercises, which one do you conser "next"?

In unmentored mode, which exercise is next there?

Also, a

[2018-12-10 22:53] KatietheKoder opened #779 "Trying to submit hello-world using npm"
Hello!

   I'm following the directions on submitting my first assignment. Here is the error I'm getting,

[code]

[2018-12-10 22:54] NobbZ commented on #779
You need to run this command from the exercises directory, not from the exercism workspace root.

[2018-12-10 22:59] KatietheKoder commented on #779
Hello! :) I am doing that.

[code]

[2018-12-10 23:05] Smarticles101 commented on #779
@KatietheKoder Try running
[code]

[2018-12-10 23:06] KatietheKoder commented on #779
I see! Thanks! That worked!

[2018-12-10 23:52] Smarticles101 commented on #779
You're welcome @KatietheKoder anytime!

[2018-12-11 14:35] Smarticles101 commented on #779
@exercism/cli can someone close this now? Thanks :)

[2018-12-11 14:37] Smarticles101 commented on #765
@exercism/cli can we close this now? Thanks :)

[2018-12-11 14:39] Smarticles101 commented on #747
@exercism/cli are we able to close this now? Thanks :)

[2018-12-12 01:33] #773 closed

[2018-12-12 16:31] dardub opened #780 "Replaced default path when using --workspace"
I haven't used exercism in a while and just updated to 3.0.11. In the process. I used the --workspace flag, but it ignored the path I gave and replaced the default (existing) path.

Steps taken:

1. `exercism configure --token=<TOKEN>`
     Result:
[code]
2. `exercism configure --token=<TOKEN> --workspace=~/Exercism/Reboot/`
Result:
[code]

However, `~/Exercism/Reboot` does not exist.  The existin

[2018-12-12 16:39] dardub commented on #780
I just downloaded my first exercise and now the directory `~/exercism/Reboot/` exists. But of course my existing projects in `~/Exercism` are still gone.

My guess is because I tried to add the workspace as a subdirectory inside the default workspace?

[2018-12-14 02:00] jdsutherland opened #781 "Travis fails to install dep"
Travis is failing to install `dep`. See [Travis job](https://travis-ci.org/exercism/cli/jobs/467827450).
[code]

[2018-12-20 17:06] ziggez opened #783 "Problem with submitting my solution"
Okay, so i have read through some of the threads but i cant seem to find something useful to help me here. i downloaded the example solution or whatever its called that is listed on the exercise (step 1 download, step 2 create it manually with your own editor, step 3 submit) but when i try to submit it, i type in:
exercism submit C:\Users\alex\Exercism\c\HelloWorld!\Debug\HelloWorld.exe  [C:\Users

[2018-12-20 18:55] NobbZ commented on #783
You are supposed to submit your source code, not the compiled binary.

So for c it should be something like `exercism submit hello-world.c hello-world.h` from the exercises folder or fully qualified pathes.

[2018-12-21 19:15] ziggez commented on #783
Thanks for the answer, but whenever i send in my own made source (like hello.c) it just tells me that the excercise im sending in doesnt have the necessary metadata

[2018-12-23 11:06] NobbZ commented on #783
In which folder does your source live and what's the output of `exercism workspace` and how have you downloaded the exercises?

[2018-12-23 18:56] McEileen commented on #716
Hi, is there anything an exercism user who's interested in this feature could do to help out?  I have no prior experience with Go but would like to help if at all possible.

[2018-12-25 15:46] kytrinyx commented on #765
Thanks, yes, I think it's good to be closed.

[2018-12-25 15:46] #765 closed

[2018-12-25 15:47] kytrinyx commented on #716
@McEileen Thank you! Let me sit down and think through exactly what needs done, that way we could break it into smaller steps that could be tackled without having to invent the universe first! 🍰

[2018-12-25 16:55] kytrinyx commented on #781
Hey @jdsutherland, I'm so sorry I went radio silent for the past month. I'm back now, and will be working my way through the issues and PRs in this repo over the next few days.

[2018-12-26 08:13] ttellerx opened #784 "where are the functional specifications"
I don't understand how to exercises are specified. I can download them OK  However, the only documentation is a README.md file which is just general and does not tell me what the functional definition of the code is for this particular exercise.
I am using c++.
I read that it is cheating to look at the x_test.cpp file however, am I right in assuming that the x_test.cpp file is the only place where

[2018-12-26 09:31] NobbZ commented on #784
The tests are the specifications, you **have** to look at them and also unskip follow up tests.

It's considered cheating to look at the example implementation available only in the repository.

[2018-12-26 16:03] kytrinyx commented on #780
@dardub This does sound like a bug, and I'm mortified that you lost everything you had in `~/Exercism`.

I'll see if I can figure out exactly what is going on here.

[2018-12-26 16:04] kytrinyx commented on #747
Yepp, good call. Thanks!

[2018-12-26 16:04] #747 closed

[2018-12-26 23:05] McEileen commented on #716
Sounds good!  I had imagined that a hypothetical feature could check if the user is submitting a test file by
iterating through a map that has the languages as keys and the associated test file prefix as value.  So, for example, `"ruby": "_test.rb"` and `"java": "Test.java"` would be two key-value pairs in the map.  If the prefix of the file the user is submitting matched the language's associated

[2018-12-28 04:42] #768 closed

[2018-12-30 04:08] Smarticles101 commented on #748
Upon quick inspection, the correct change to make is:

[code]

Would we need to introduce code for backwards-compatibility so people upgrading don't lose where their config file is located?

[2018-12-30 17:49] kytrinyx commented on #748
Yeah, I think we need to.

[2018-12-30 17:56] kytrinyx commented on #716
In principle you're right, but we don't want to hard-code these values into the CLI, because then every time we add a new language (or change how a language is doing something) we'd have to release a new CLI, and then everyone who didn't upgrade wouldn't get the right values.

The `prepare` command was never fleshed out. It's got a bunch of pieces to it (API, configuration, checking headers to mak

[2019-01-07 15:32] Smarticles101 commented on #680
@exercism/cli doesn't look like this was ever closed...

[2019-01-07 16:46] #680 closed

[2019-01-07 16:46] nywilken commented on #680
Thanks @Smarticles101

[2019-01-08 14:32] raymondchen625 commented on #718
Before this task is completed, we can use this shell command to pull the list of go:
`curl -LS https://exercism.io/tracks/go/exercises | grep "/tracks/go/exercises/" | awk '{print $3}' | cut -d/ -f5 | cut -d\" -f1`

[2019-01-09 03:10] brianboros7 opened #789 "CLI Isn't Being Recognized (Command Not Found)"
You'll see in my one screenshot of the terminal tha tthe CLI downloaded and installed correctly. But when I go to use the command dotnet test, you'll see in my VSC's terminal that it says command not found. Do you have any idea what is going on here?

<img width="1680" alt="screen shot 2019-01-08 at 9 07 13 pm" src="https://user-images.githubusercontent.com/36462816/50874396-7d96e880-1389-11e9-817

[2019-01-09 03:59] jdsutherland commented on #789
@brianboros7 it seems like there might be some confusion regarding the relation to `exercism` CLI. Running `dotnet` in the shell is orthogonal (has no relation) to `exercism` (the error is from `dotnet`). Apparently `dotnet` is not in your path. I'd suggest consulting `dotnet` installation instructions.

[2019-01-09 04:44] brianboros7 commented on #789
Thank you, I'll give it a try.

[2019-01-09 05:06] brianboros7 commented on #789
I'm curious, why do they have us intal their CLI, and what not, if it has no relation and they want us to run a dotnet command and don't tell us we still need to install netCore?

[2019-01-09 05:35] brianboros7 commented on #789
Ok, so as I'm getting started with C#, and installing dotnet, using C#, everytime I start a project I need to ceate a new myApp directory? Never did thins with C#. and then the sln and libraries etc.? And with Exercism, I have the Hello-World directory already created and installed and do I createa new myApp directory within there? I'm thinking how do I work on the files in Hello-World if I ahve a

[2019-01-09 05:43] jdsutherland commented on #789
No, just follow the instructions. You don't have to manually create directories or move things around - the download command gets everything.

[2019-01-09 06:06] jdsutherland commented on #789
Assuming it is installed correctly, you probably have to start a new bash instance. Open a new terminal window and try again (or restart vscode).

[2019-01-09 23:36] jdsutherland opened #790 "Submit only checks 400 when printing success (404 etc. unhandled)"
Currently, submit only checks for 400 responses before printing a success message. 404s are silent and the resulting output misleadingly indicates that the submission was successful.

Mentioned in https://github.com/exercism/cli/pull/770#issuecomment-445709576.

[2019-01-10 12:17] mayukudore opened #791 "how to intall and use the apps downloaded"

[2019-01-10 12:22] mayukudore opened #792 "using exercism"
I downloaded the boost and the CMake and also the visual studio. But the problem is how do I make use of it. I'm new to programming so  I will prefer if I get a step by step solution

[2019-01-20 12:10] jdsutherland opened #794 "download: handle non 200 response"
In effort to resolve TODO comments, I'm in the process of promoting them to issues.
https://github.com/exercism/cli/blob/a86f82974270d2da2090a02437560897a216abc3/cmd/download.go#L189-L190

Currently, non 200 responses are swallowed. Are we waiting on info to decide how to handle this or is it actionable?

[2019-01-20 12:15] jdsutherland opened #795 "download TODO comment: handle collision when writing solution files"
In effort to resolve TODO comments, I'm in the process of promoting them to issues.

https://github.com/exercism/cli/blob/a86f82974270d2da2090a02437560897a216abc3/cmd/download.go#L198-L199

It seems like https://github.com/exercism/cli/issues/457 is related. Is this still pending further info?

[2019-01-20 12:19] jdsutherland opened #796 "submit TODO comment: change error message to suggest running doctor command"
In effort to resolve TODO comments, I'm in the process of promoting them to issues.

https://github.com/exercism/cli/blob/a86f82974270d2da2090a02437560897a216abc3/cmd/submit.go#L396-L398

This error message should be updated to suggestion running the doctor command after it is implemented.

[2019-01-28 09:13] kerpoople opened #798 "Can't download exercises."
I'm putting in the following in the terminal:
**C:\Exercism>exercism download --exercise=robot-name --track=csharp**

And get the response:
**Downloaded to
C:\Users\Anna\Exercism\csharp\robot-name**

The exercises doesn't get downloaded. I have no files in my directory after download.

I've created he folders Exercism and csharp to make sure they exist. I use the built in terminal in Visual Studio

[2019-01-28 09:16] NobbZ commented on #798
Could you please show the output of the following?

[code]

[2019-01-28 09:17] NobbZ commented on #798
Also:

\cc @exercism/windows

[2019-01-28 09:20] kerpoople commented on #798
Oh, I found the issue. Seems I have 2 folders named Exercism. The files got downloaded to the one I didn't see. Sorry to bother you! My mistake.

[2019-01-28 15:19] rpottsoh commented on #798
@kerpoople if you execute `exercism configure` from the CMD prompt, whatever folder is listed as `Workspace:` is where the CLI will place exercises when your `download` them.  The CLI will create folders for you as needed.  Later, when you `submit` solutions, the file(s) you intend to submit should be located at the proper folder location for the exercise in question within the `Workspace`.

[2019-01-28 17:19] sbromberger opened #799 "Ignore certificate warnings"
Hi all,

My organization proxies / MITMs HTTPS. As a result, I get the following error on `exercism configure`:

[code]

Is there a way to tell the client to ignore certificate warnings (or is there a way to point it to an alternate certificate)?

[2019-01-28 17:20] sbromberger commented on #799
Ah, silly me. Just found the `--no-verify` argument.

[2019-01-28 17:23] sbromberger commented on #799
Oops - spoke too soon. `download` doesn't accept `--no-verify`. Any ideas?

[2019-01-28 17:57] sbrichards opened #800 "Sub-dependency depending on an old version of fsevents?"
Hey folks. First off, thanks for making such a great product.

I'm hitting a bit of an issue when running `yarn` in an exercise directory. E.g.

[code]

My node & yarn versions:
[code]

I found [this yarn issue with fsevents](https://github.com/yarnpkg/yarn/issues/5962) and [this one](https://github.com/yarnpkg/yarn/issues/3926), which indicate it's a sub-dependency issue that relies on an older v

[2019-01-29 00:20] jdsutherland commented on #800
Hey Sam,

This issue seems related to https://github.com/exercism/typescript rather
than the CLI.

On Tue, Jan 29, 2019, 12:57 AM Sam Richards <notifications@github.com>
wrote:

[2019-01-29 01:31] sbrichards commented on #800
Got it. Opened https://github.com/exercism/typescript/issues/228 over there. Closing this one out.

[2019-01-29 01:31] #800 closed

[2019-01-30 20:22] chrismjx opened #801 "How to submit?"
I am trying to go through the javascript track and I can't seem to figure out how to use the command line to submit my work. I have copied the command from the page:

exercism submit /path/to/file [/path/to/file2 ...]

and I've tried filling out the file paths in a few different ways but none of them are apparently working. Can someone get me straightened out?

[2019-01-31 00:00] jdsutherland commented on #801
@chrismjx, can you please share the exact command and output?

[2019-01-31 18:38] NobbZ commented on #801
You need to specify the name without the square brackets. The square brackets are common to mark optionality of arguments when describing CL-Interfaces

[2019-01-31 20:16] chrismjx commented on #801
ah ok, thanks. I figured it was something like that, I'm a total newb at this. I tried it again and it is still failing but now I'm getting some error about permissions. If I grab the command from your page, what goes into the first path? Is that the exercise file? How is this working when I submit? Is my work being compared to the downloaded exercise file?

`exercism submit /path/to/file [/path/t

[2019-01-31 20:24] NobbZ commented on #801
On your new try to submit, what was the exact command used and what is the exact error you get?

[2019-01-31 20:36] chrismjx commented on #801
Ah, well I moved my own work into the same workspace and tried to run it and now I am getting back:

[code]

[2019-02-01 00:14] jdsutherland commented on #801
`/Users/christopher.johnson/Exercism/helloworld.js` looks wrong based on
the download command output path. You're getting an error because you're
inputting an invalid path. There should be no need to manually move
files/files here. Simply run the download command and use that path.

On Fri, Feb 1, 2019, 3:36 AM chrismjx <notifications@github.com> wrote:

[2019-02-01 02:52] SleeplessByte opened #802 "Feature: add "outdated" notification on download and submit"
If a student downloads an exercise _or_ submits an exercise that has a newer version of test suite, add the message that their version is outdated and they _could_ update to the latest version. Preferably via a flag in the CLI.

[Slack source in #questions](https://exercism-team.slack.com/archives/CAQP7JL3T/p1548960339249800)

[2019-02-01 09:32] mysthair opened #803 "download solution instead of problem"
i have just submit 'clock', and when i do
[code]
solution downloaded instead of problem

[code]
[code]

[2019-02-01 23:20] AntHass commented on #789
I have a similar problem but I don't understand any of the advice above. Can someone tell me where I'm going wrong, or what I should be doing?

I used the basic Windows command line terminal (Run "CMD" from Windows menu) to follow the instructions in the Exercism 'walkthrough' and it seemed to work ok.

The 'dotnet test' command is not found - so does that mean that the dotnet sdk is not installed

[2019-02-02 02:05] jdsutherland commented on #803
@mysthair Can you elaborate on why you think there is a problem here?

[2019-02-02 02:17] jdsutherland commented on #801
**/Users/NAME/Exercism/javascript/hello-world**

[code]

You're giving submit 2 arguments. The first one is correct and the second one (bold above) is incorrect.

[2019-02-02 03:36] brianboros7 commented on #789
You need to understand that Exercise has it's own system. You need to
download the C-sharp Packages for your operating system and don't expect
Exorcism to work without it. Download the C-sharp CLI and packages etc. I
did and it worked.

Brian S. Boros

(C):  219-671-0342

(w): http://briansboros.com/

(e): brian.boros7@gmail.com

<https://www.facebook.com/Brian-S-Boros-923097297803806/>
<https://t

[2019-02-05 14:03] Smarticles101 commented on #802
How does the api currently handle this? I imagine it always downloads the latest version of the problem. @iHiD ?

[2019-02-05 16:56] chrismjx opened #804 "I don't understand how to use spec.js"
I just downloaded leap.spec.js for the javasript track, and my question is a very newbie "How do I use this?"

The first line appears to be importing a file from somewhere. The describe block seems to be describing the gist of the test? The rest of the stuff starting with "xtest" is what I'm really confused by. What is all of this? Is it just showing what the test scenarios should be?

[2019-02-06 04:43] sbrichards commented on #800
Hey @jdsutherland - I believe I've fixed [the issue w/ the typescript repo](https://github.com/exercism/typescript/issues/228) but we're not sure how the release process works. How can we ship the fix? Thanks!

[2019-02-06 04:46] jdsutherland commented on #800
@sbrichards I don't know how that works. I imagine either @nywilken or @kytrinyx are the go-to folks.

[2019-02-06 09:22] NobbZ commented on #804
Hello @chrismjx, your issue is not related to the `exercism`-CLI, therefore I'll move it to the appropriate place.

[2019-02-06 09:23] NobbZ commented on #804
Issue moved to [exercism/javascript #602](https://github.com/exercism/javascript/issues/602) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-06 09:24] NobbZ commented on #804
Hmmm... Unable to close here. @exercism/cli could you please?

[2019-02-06 14:43] NobbZ commented on #800
As soon as changes are deployed on the tracks master branch the website picks them up within minutes, no additional steps are involved, **but** as soon as you unlock an exercise it gets locked to the current HEAD of the tracks repository. You need to manually update the version through the website. Then redownload through the CLI.

[2019-02-08 09:52] sshine commented on #230
As I was just about to make a very similar feature request, I'll contribute to this discussion:

We do want people to be able to submit code that fails tests or does not compile. But we also want to encourage that they should try to build and test their solution before they submit in the average case.

Since the build systems are different for every language, perhaps the `exercism` CLI could have

[2019-02-09 11:38] #804 closed

[2019-02-09 11:40] nywilken commented on #804
@Nobbz I went ahead and closed for you.

[2019-02-09 19:23] xitanggg opened #805 "submit two same files goes through the system"
Hi, when submitting my two_fer solutions on the Python track, I accidentally submitted two same files using the command: "exercism submit two_fer.py two_fer.py".

This goes through the system fine. The system simply takes and displays two files. (Link to my solution: https://exercism.io/mentor/solutions/be6d2ccf5a7e4eccad1943de52111f8e)

I think the system should recognize same files and simply ta

[2019-02-09 19:31] NobbZ commented on #805
Can you please rename the folder and try to redownload the exercise and tell us the outcome?

Whatever happens then might be related.

[2019-02-11 16:24] cmccandless commented on #802
I just had a use case where apparently I had downloaded the exercise before, never submitted and deleted the exercise directory (TBH, I have no idea why I cleared the directory, thus removing any local evidence of a previous download :man_shrugging:). When I redownloaded, the test suite was out-of-date, but the update button does not appear on the site until a submission has been made.

It would b

[2019-02-12 04:49] iHiD opened #807 "Allow API to control messages returned to the user"
There are an increasing amount of usecases for the API being able to return custom messages upon
submission. Examples include being able to implement https://github.com/exercism/cli/issues/802 without cutting a new release, or being able to provide custom next steps depending on the type of exercise (mentored vs independent, core vs side, etc)

I'd like to return a message from the API, which then

[2019-02-12 04:53] iHiD commented on #802
@cmccandless Mind opening an issue in exercism/exercism for this please, as I think it's a seperate issue and I don't want it to get lost in this thread.

[2019-02-12 13:22] Smarticles101 commented on #807
I like this. Maybe if we wanted interactive resolving of issues, the API could return some sort of `actions` array detailing actions that could be taken?

[2019-02-12 14:12] cmccandless commented on #802
@iHiD Done. See exercism/exercism#4694

[2019-02-12 23:44] tsoernes commented on #718
[code]

[2019-02-13 23:42] xitanggg commented on #805
Hi. I rename the two-fer folder and redownload the exercise. I again enter the command: "exercism submit two_fer.py two_fer.py", two same instance of two_fer.py is submitted and displayed. I also try to enter the command: "exercism submit two_fer.py two_fer.py two_fer.py", and then three same instance of two_fer.py is submitted and displayed.

[2019-02-14 10:51] NobbZ commented on #805
No, how does the freshly downloaded exercise look like for you? Does it have a single file? Does it complain? What happens on download in general?

[2019-02-15 03:52] xitanggg commented on #805
Hi. The freshly downloaded exercise looks just as fine as the old one. It contains three files (two_fer.py, two_fer_test.py,  README.md) and one folder (.exercism). Download works fine and nothing complains. Sorry I am not quite sure why might this relates to downloading. It seems to me more of a feature of "exercism submit xxx xxx", which might not check the xxx xxx files appended to it even thou

[2019-02-16 08:46] emilianolowe opened #808 "Getting a Workspace Error"
Hey everyone!

I'm a total newbie here, just started the Ruby path.
I'm trying to **submit the first exercise** but getting the error message:

`Error: not in workspace`

Would really appreciate help clearing this up so I can move onto the next challenge.

[2019-02-16 09:04] NobbZ commented on #808
This indicates, that the files that you are trying to submit are not living in your configured worksapce.

Depending on your Operating System the workspace is usually one of these:

* Windows: `C:\Exercism`
* Mac: `~/Exercism`
* Linux: `~/exercism`

As a rule of thumb, you should always try to submit the files from where have been downloaded to from the CLI.

[2019-02-16 09:10] emilianolowe commented on #808
Thank you for the reply and info!

I was able to fix the problem by renaming the exercism file:

`mv exercim Exercism`

I thought I had already tried renaming the folder with both capital and not capital and had tested it, but I guess I did something wrong.

Thanks again!

[2019-02-16 09:10] #808 closed

[2019-02-18 23:55] csingley opened #809 "stack reports "CommandLine Error: Option 'asm-instrumentation' registered more than once! LLVM ERROR: inconsistency in registered CommandLine options""
I'm running an up-to-date Arch Linux system.

stack installed is the system version (Version 1.9.3, Git revision 40cf7b37526b86d1676da82167ea8758a854953b (6211 commits) x86_64 hpack-0.31.1)

exercism-cli installed from the AUR (v3.0.11)

Working on the Haskell track, trying to do the hello-world.  `stack test` bombs out on call-test with an LLVM error:

[code]
Sorry, I'm new to this whole toolchai

[2019-02-19 07:46] NobbZ commented on #809
This is not related to the exercism CLI, the issue you are having is related to the `stack` tool.

Please open an issue at github.com/exercism/haskell and ask help there or consult haskell or arch communities.

I have to admit though, that my setup is similar to yours, and I do not see those errors you are mentioning.

[2019-02-19 08:07] NobbZ commented on #808
It is not obvious what you have renamed here. Are you talking about the workspace folder or the `exercism` binary?

If the former, an alternative solution were to reconfigure the workspace to have the same casing as the folder on the filesystem: `exercism configure --workspace=~/exercism`

If the latter, I'm wondering how this helped with your issue.

[2019-02-19 11:43] csingley commented on #809
Yeah, apparently my system's in an odd state.  Sorry for posting to the CLI bugtracker.

Thanks.

[2019-02-19 11:43] #809 closed

[2019-02-20 00:06] kytrinyx commented on #805
I agree that we should de-duplicate the files in the CLI before submitting them.

Thanks for reporting, @xitanggg

[2019-02-20 00:25] kytrinyx commented on #807
I'd like to defer interactive stuff for the time being, since the last time I tried that it made things monumentally complex and hard and unpleasant.

I agree we should display any message that the API returns, though, even if it's not an error. Maybe we can always have a standard `message` field that we display if present?

[2019-02-20 00:31] kytrinyx commented on #230
@sshine these are good thoughts. I still have no idea how to approach it, but I'm going to reopen this so that we can re-think this through (eventually).

[2019-02-20 00:32] kytrinyx commented on #803
I'm going to go ahead and close this one, as it sounds like it's not related to the CLI.

@mysthair would you open an issue in https://github.com/exercism/exercism/issues if you're still having trouble?

[2019-02-20 00:32] #803 closed

[2019-02-20 00:35] kytrinyx commented on #789
I'm going to go ahead and close this as it looks like the core issue is resolved.

@AntHass this is kind of irrelevant to the problem you're describing here, but I highly recommend the CodeNewbie community for figuring out what to do as you are learning programming. They're a wonderful community, very supportive, and they have lots of people learning all sorts of different things, so you'll almost

[2019-02-20 00:35] #789 closed

[2019-02-20 00:37] kytrinyx commented on #801
I'm going to go ahead and close this, as it looks like the core issue is identified. @chrismjx if you continue to have problems, would you please open an issue in https://github.com/exercism/exercism/issues?

[2019-02-20 00:37] #801 closed

[2019-02-20 00:38] kytrinyx commented on #799
Oh, dang, that's not a very good experience.

We should make all the commands accept the `--no-verify` flag!

[2019-02-20 00:38] kytrinyx commented on #798
It looks like this is sorted; closing!

[2019-02-20 00:38] #798 closed

[2019-02-20 00:40] kytrinyx commented on #795
I've come to the conclusion that I don't want to make the CLI interactive if we can avoid it (at least not until we've worked out all the existing kinks in a non-interactive way).

I think the solution here would be to display an error message if there's a collision, including a pointer at how you could resolve it.

[2019-02-20 00:41] kytrinyx commented on #794
Let's error out and display the `message` from the API, if there is one.

[2019-02-20 00:43] kytrinyx commented on #792
@mayukudore Exercism currently isn't a very good tool for folks who are completely new to programming. We're hoping to change that eventually, but until then my recommendation would be to join the CodeNewbie community. They're the most wonderful bunch of people on the internet, incredibly welcoming and supportive, and you're almost guaranteed to find others there who are at the same place in their

[2019-02-20 00:43] #792 closed

[2019-02-20 00:44] kytrinyx commented on #791
Closing as duplicate of https://github.com/exercism/cli/issues/792

[2019-02-20 00:44] #791 closed

[2019-02-20 01:29] iHiD commented on #807
Sounds good. I'll write up a spec at some point when I have some free time.

[2019-02-20 09:00] NobbZ commented on #805
I wanted to know how the tool behaves for downloading in this case, to identify a possible secondary bug. But it seems, as if this bug does not happen. The CLI could have canceled the download because of a malformed response completely, or cancel inbetween because of the file it wants to write to is already there, or…

[2019-02-20 19:20] Smarticles101 opened #810 "Add issue template"
Based off the large amount of support related issues, it may be worth having an issue template. This could include a comment explaining that support issues may be better off in the exercism/exercism repo.

[2019-02-20 22:55] olingern commented on #758
@kytrinyx I think this can be closed a la #763

[2019-02-22 05:24] paulcrouch99 opened #811 "I can't download exercises"
1. -bash: exercism: command not found
2. I recently moved to MacOS from Windows and am trying to figure out how to use exercism and gradle on it. I did the "installing Java" part, but when I want to download an exercise, it tells me the message above. What am I doing wrong?

[2019-02-26 10:36] shleykin opened #813 "manifest parse error(s): 1 swift package"
Hello !

I am trying to configure Xcode and running tests(swift) ,error occurs at this stage:

_execute swift package generate-xcodeproj_

Error:

l3mac:hello-world l3$ swift package generate-xcodeproj
/Users/l3/Exercism/swift/hello-world: error: manifest parse error(s):
1
I tried to find a solution, so far without success, maybe you will help, thanks in advance!

Xcode Version 10.1 (10B61)
mojave

[2019-02-26 10:38] shleykin commented on #813
exercism version 3.0.11
Your system is ready to brew.

[2019-02-26 11:09] NobbZ commented on #813
As far as I can tell, this is not caused by the `exercism` CLI.

Could you please re-open a ticket at https://github.com/exercism/exercism and also mention the `@exercism/swift`-team?

[2019-02-26 20:20] kytrinyx commented on #758
Agreed! Thanks so much :-)

[2019-02-26 20:20] #758 closed

[2019-02-26 21:51] kytrinyx commented on #810
I agree.

Let's start with something very simple. E.g.:

[code]

I'm using HTML comments so that if people don't delete them at least we don't have to look at the boilerplate :-)

[2019-02-26 21:52] kytrinyx commented on #811
I'm moving your issue to http://github.com/exercism/exercism/issues where we handle support questions. Thanks!

[2019-02-26 23:47] kytrinyx commented on #813
This problem is unrelated to Exercism. I think your best bet is to find a swift-specific forum to get help with troubleshooting (or perhaps join the CodeNewbie community, who might have some swift enthusiasts who can help you out).

I'm going to close this, since we're unable to help here.

[2019-02-26 23:47] #813 closed

[2019-02-27 19:38] RoyiAvital commented on #149
How could one set the folder of the configuration file in the current release (`v3.0.11`)?

I would like to set the configuration folder to be the folder the file `exercism.exe` is in.

[2019-02-27 20:20] NobbZ commented on #149
For windows you have chance, other than changing `APPDATA`, which I wouldn't advice to do. In general, saving the configuration or other user generated data in the installation folder is actively discouraged by Microsoft since the release of windows XP.

[2019-02-28 00:13] kytrinyx commented on #149
You can also set `EXERCISM_CONFIG_HOME`

[2019-02-28 05:01] #535 closed

[2019-02-28 09:09] ZapAnton commented on #781
@jdsutherland, could this can be closed, since #812 was merged?

[2019-02-28 09:29] NobbZ commented on #149
Which is not respected when `runtime.GOOS` is `"windows"`:

https://github.com/exercism/cli/blob/master/config/config.go#L56-L73

[2019-02-28 10:06] #781 closed

[2019-02-28 10:46] sidharthoomman commented on #702
Since the issue is resolved, I'm closing the issue, but would appreciate any further comments regarding workspace definition and relative/absolute pathnames. -- How was it resolved? Can you please share?

[2019-02-28 14:05] RoyiAvital commented on #149
This idea is perfect for a computer with multiple users.
I'm the sole user on my computer and I prefer each program to be portable.
I hate when I format the computer to see programs must be installed and configured again.

[2019-02-28 15:17] #810 closed

[2019-02-28 15:18] kytrinyx commented on #149
@NobbZ Good point.

@RoyiAvital Would it help if we respected the `EXERCISM_CONFIG_HOME` env var for Windows too?

[2019-02-28 15:25] RoyiAvital commented on #149
@kytrinyx , I don't think so.
As if I need to set system Variable I can set `%APPDATA`.
I thought about more elegant solution like if the `EXE` sees a `.portable` file in the folder it will use the working folder for the configuration file.
This will also mean that every time it has to read the configuration file it will see the file and will understand where to look for the file.

[2019-02-28 15:37] kytrinyx commented on #149
@RoyiAvital I'm not opposed to that solution. Would you open an issue to discuss it?

[2019-03-01 03:27] dogweather commented on #230
I'm 👍 on this and surfacing the info in the web app because of the mentor's UX: Currently, there's no indication whether the code actually works or not. And so from the mentor's perspective, they can't just help with coding ideas, or style hints. They also need to deduce whether the code functions correctly. Or have I been doing it wrong? :-) This is only easy to do on the simpler challenges.

Sto

[2019-03-01 03:30] dogweather commented on #230
**Implementation idea:** We can check test suite results by checking the Unix status code. I believe that all tests suites return `0` on success. We could have language-specific adapters to run the suites from within the CLI.

[2019-03-01 03:34] dogweather opened #824 "Feature: infer the file to be submitted"
I'd like it if, as a student, I could simply run:

[code]

...and it'd infer that the argument is `two_fer.py`. I think this would be big UX win. I don't know, though, if any exercises are so complex or oddly named that the solution filename couldn't be inferred. (?) If this is a problem, we could introduce an exercise metadata file. This could also help #230:

[code]

Open to a PR for this?

[2019-03-01 03:43] dogweather opened #825 "UX improvement: error message on submit w/o filename"
Currently, if a user invokes `submit` without an argument, they're told, "No files found to submit.":

![screen shot 2019-02-28 at 5 28 32 pm](https://user-images.githubusercontent.com/150670/53615018-ccdee580-3b90-11e9-8013-d58e57955d38.png)

I think we can do better by more clearly stating the problem (no _argument_ found, as opposed to no files found), and then showing how to fix it: `exercism

[2019-03-01 03:45] kytrinyx commented on #825
Thanks, you're absolutely right.

This was fixed in https://github.com/exercism/cli/pull/797 and I need to cut a new release.

[2019-03-01 03:46] kytrinyx commented on #824
The solutions do have a metadata file, but it doesn't say what the solution would be named.

[2019-03-01 03:48] kytrinyx commented on #824
Sorry, accidentally submitted before I was done typing.

The long and short of it is that with over 120 possible exercises in over 50 different programming languages, we can't currently infer the exercise name. It would require an extensive change in over 60 different repositories to accomplish this, and at the moment I think that the effort of implementing and maintaining it would be more than th

[2019-03-01 05:05] dogweather commented on #824
Oh! I didn't think to check for a metadata file. And it has a unique identifier for the solution:

[code]

So one solution could be a new server endpoint which returns the required exercise filename, given a solution id. And then `submit` would first call this to discover which file to submit.

I'm guessing that the server (1) can retrieve and exercise given a solution, and (2) has the knowledge o

[2019-03-01 05:21] kytrinyx commented on #824
The API currently does not have any knowledge about the expected names of solution files. Most language tracks follow a convention, but it's a different convention from programming language to programming language, and we have no way of guessing. It's not currently written down in a way that is programmatically accessible.

Some language tracks require submitting multiple files.

I don't see a way

[2019-03-01 09:13] NobbZ commented on #230
Who writes them? Not for every track there is someone available proficient enough in go to write the adapter.

Or what should this adapter do?

[2019-03-02 00:14] #805 closed

[2019-03-02 03:01] dogweather commented on #230
@NobbZ Brainstorming: The CLI fails gracefully. It looks for an adapter implementation for the current language. If it finds that it has none, it simply performs the current behavior. And then the mentor view will show a flag, **Test Suite status: unknown**. "Unknown" can link to a pitch for the mentor to contribute an adapter. :-) So they'll be incentivized.

An adapter, then, would be a Go funct

[2019-03-02 08:55] NobbZ commented on #230
To be honest, I consider the **if** a rather useless information. At least if it fails. In that case as a mentor I'd like to know what cases failed and how. Do we need to attach full test output? Just the failing pieces? Might there be test libraries that split their output between stdin and stdout?

Also starting an external program is not trivial in go, especially not if you want the exit code.

[2019-03-03 23:11] masters3d opened #831 "Provide URL of pre-launched track or join via CLI"
I'd like to play with a track that is not launched yet.
[code]
I get
`Error: You have not joined this track`

I go to the site but I do not see it.
https://exercism.io/my/tracks

it would be nice if the CLI told me where I could join.
[code]
Even better, just join me from the CLI

[2019-03-04 22:53] Oajamal2 opened #832 "Swift Submission Permission Denied"
I downloaded Exercism today and was attempting to complete the Hello World submission for Swift. I tried to submit the assignment using Terminal and when I directed it to the file, the terminal returned permission denied.
<img width="680" alt="screen shot 2019-03-04 at 4 51 51 pm" src="https://user-images.githubusercontent.com/48226582/53768230-d40e3800-3e9d-11e9-9830-58ff9f314316.png">

[2019-03-05 12:15] nikclayton commented on #419
Hi -- why was this closed?

I'd like an "exercism submit" feature that just submits the current directory without needing to specify the files, and chasing through the GitHub issues brought me to the "Nextercism" branch, and then this issue.

As far as I can tell, this feature isn't supported yet (CLI 3.0.11 at least).

Is this still on the roadmap? Is there another issue I can follow to see the p

[2019-03-05 12:22] NobbZ commented on #419
If at all it is a long term goal, as during a transition phase we actually had this feature and it caused a lot of bugs and superflously submitted files (eg binaries or other artifacts).

Also, this configuration needs to be available to the CLI without it needing to rely on the server to filter out the superflous files, while we do not want to have to bundle a new release of the CLI each time som

[2019-03-05 14:02] nikclayton commented on #419
Is there another open issue for that long term goal? I couldn't find one.

A rough fix would be:

1. Add a version number field to the metadata file. The sooner that's done the better, so that different releases of the CLI don't need to sniff the metadata fields to figure out what version it is, and can have a concrete version number to rely on instead.

2. Update the metadata file (bump the versi

[2019-03-05 23:06] kytrinyx commented on #419
We have a submit command. I implemented the "submit a directory" idea, and decided I didn't like it, so I removed it. I don't have a long-term goal of supporting it.

Identifying which files are necessary to submit for any given language track or exercise is not trivial, as this is not explicitly encoded anywhere.

Most of the time we don't want people to submit the test file, unless they've writt

[2019-03-05 23:30] kytrinyx commented on #419
Thinking out loud...

For most tracks, we typically only want to submit one file, and it is almost always named as either the `CamelCase`, `snake_case`, or `kebab-case` version of the exercise name, with the file extension tacked on.

It will sometimes be in a subdirectory, sometimes in the exercise directory itself.

What about this:

- _if_ it is an exercise (has the exercise metadata file in th

[2019-03-06 16:46] nikclayton commented on #419
Is there a reason why this information can't be included in the data that the CLI downloads and saves in metadata.json, and treat that as the source of truth? I can see (in the CLI tool) where that information is fetched, but I can't see which Github repository contains the source of that data on a per-exercise basis.

The track I'm most interested in at the moment is the Javascript track, and the

[2019-03-06 17:27] NobbZ commented on #419
They do not need to upload the tests. Mentors usually know that they need to unskip the tests if they download the solution for reviewing and usually do so before running the tests, most have actually helpers that do the changes for them.

[2019-03-07 18:58] dogweather commented on #230
**Use Case 1:** Many students aren't running any tests:

![screen shot 2019-03-07 at 10 49 32 am](https://user-images.githubusercontent.com/150670/53981248-03ec5400-40c7-11e9-8d59-7c3295b9266f.png)

And in a short-sighted utilitarian sense, why should they? They can submit w/out running them, and then a mentor will give personal feedback. We're not incentivizing them to do so.

I can easily see th

[2019-03-07 19:00] dogweather commented on #230
Another implementation option is to run the tests completely server-side, like many online learning tools. And we display the result on the solution page.

[2019-03-07 19:12] NobbZ commented on #230
Running server side might be very hard. Some (like me) try to stay up to date and use recent compiler versions and language features, while others might be forced to old and even ancient version of a compiler which does not support newer features and might be otherwise incompatible (removed functions are only a small but obvious example).

To be able to use the compiler features I like, is what I

[2019-03-07 19:27] dogweather commented on #230
@NobbZ  How do you handle these situations as a mentor? I added an example, above, for the second case.

[2019-03-08 05:28] kytrinyx commented on #419
I'm not sure I understand what you mean by "this information".

The information about what the name of the source file is currently isn't stored anywhere at all. If we had it we could certainly add it to the metadata file. However, the only place that it exists right now is as an implicit assumption via the test suite. The file could be named anything, so there's no way to know what would have to

[2019-03-08 05:29] kytrinyx commented on #419
Yeah, they probably should not be uploading the tests. Only in the rarest cases would that be necessary.

[2019-03-08 05:29] kytrinyx commented on #419
@nikclayton Would you mind opening an issue in http://github.com/exercism/exercism/issues about what you're trying to achieve? That way we could have a conversation about that, separate from this old (closed) issue about the original submit command.

[2019-03-08 05:33] kytrinyx commented on #230
Since this is a product question rather than an implementation question, I'm going to go ahead and move this to http://github.com/exercism/exercism/issues

[2019-03-08 05:35] #790 closed

[2019-03-08 13:21] larson004 opened #833 "Refactor tests to use subtests"
Subtests make table-driven tests easier to run and debug. Many table-driven tests in `cmd/configure_test`, `cmd/download_test` and other tests are not using this feature.

Can I work on refactoring these to use subtests?

[2019-03-08 13:51] kytrinyx commented on #833
@larson004 Would you elaborate on what exactly is hard to debug about them now, and why you feel that subtests would help mitigate that?

That said... one thing that I was going to try to do in the next few days is to pull out any of the test cases in the download file that are specifically about handing funky logic for the solution file paths into a new, much smaller test.

I just merged a PR yes

[2019-03-08 17:17] larson004 commented on #833
I refactored in TestConfigureToken in config/config_test to use subtests.

This is how the output of `go test -v` looks in master:
[code]
This is how the output looks with subtests:
[code]

As you can see the output with subtests is much more detailed. That is why I felt it would be easier to debug tests using subtests when a test case fails.

@kytrinyx  I would be happy to refactor `download_test

[2019-03-08 22:55] kytrinyx commented on #833
Interesting. In my experience, I find that having more output is not helpful to me when everything is passing. I'd like to have as little output as possible, as long as everything is fine.

What I want is to have the _right_ information when things fail.

How do the subtests help in the case of failure?

[2019-03-20 19:54] larson004 commented on #833
I guess it's just personal preference then.
It was good to hear your perspective on this. Closing this.

[2019-03-20 19:54] #833 closed

[2019-04-01 00:45] cocoonkid commented on #718
I also would massively appreciate a way to download full tracks.

[2019-04-01 21:17] ekingery commented on #757
First off, thanks for everyone's work on exercism, it's an excellent project!

I found this issue while looking for a snap for the exercism CLI. I immediately went to look for a snap when I saw that the linux installation instructions included downloading a tarball. If one of your project goals is to make the CLI install process quick and easy for beginners and more palatable for experienced users

[2019-04-02 12:39] ThomasHaz opened #838 "[FEATURE REQUEST]"
I have created a script to download, generate Xcode project files and launch the exercise in Xcode for items on the swift track:

[code]

I was wondering if something like this might/could be included natively in the cli?

[2019-04-02 12:55] NobbZ commented on #838
I'm not sure if this should be into the CLI, as it would only match the workflow of those that actually use Xcode.

Aside of that, the output of the CLI is designed in a way, that only the path is printed to stdout, you can safely use `cd $(exercism download …)`.

[2019-04-03 21:26] parvpareek opened #839 "Boost library directory"

[2019-04-03 21:27] parvpareek commented on #839
Where should i enter the directory of my boost library. Cmake cannot detect it

[2019-04-03 22:58] NobbZ commented on #839
What operating system are you using, how have you installed boost? Perhaps you need to toggle dynamic linking in the CMake file and add a line to the tests?

PS: if you are on windows, try again using a Linux VM until the boost dependency has been removed.

[2019-04-04 17:07] parvpareek commented on #839
That problem has now been solved. Now heres the next problem. I am using boost 1.69. And yet visual studio says my boost version is insufficient. I got over it and downloaded  1.66 from source forge.
On Visual Studio... I went to File> Open> Cmake> And then hello-world project. In the terminal... I wrote all the commands but the terminal says there is no cmakelists.txt in build folder. Now i wrote

[2019-04-04 18:08] NobbZ commented on #839
Boost and windows simply don't play well together. But as far as I know there is currently effort going on to remove the dependency on boost during this month.

The easiest ways to get going with the C++ track are currently to wait or to use Linux, either VM, container, WSL or dual boot.

[2019-04-04 18:54] parvpareek commented on #839
My man nobbz noooooooooooo please. You gotta save meeeeeeeeeeeeee

[2019-04-04 20:13] jdsingh122918 opened #840 "Issue with running gradle test when using java 11"
On running gradle test on my linux vm, I am getting the following error:

"FAILURE: Build failed with an exception.

* What went wrong:
Could not determine java version from '11.0.2'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.
* Exception is:
`java.lang.IllegalArgumentException: Could not determine java version from '11.0.

[2019-04-04 20:22] jdsingh122918 commented on #840
I resolved the issue by reverting to java 8. But I think the cli is still broken with java 11. I am using the OpenJDK version.

[2019-04-04 20:24] NobbZ commented on #840
This is not related to the exercism CLI but to gradle and the java track.

/cc @exercism/java

[2019-04-04 21:16] Smarticles101 commented on #840
Correct, this is an error related to your version of gradle. Try making sure you're using the latest version.

[2019-04-05 15:46] KevinWMatthews commented on #839
Hi @parvpareek ,

I wonder if running:
[code]
doesn't actually work well with Visual Studio.

Judging by the screenshot, Visual Studio is throwing the error:
[code]
Correct?

This error message makes it seem like Visual Studio is trying to configure the project using the `Ninja` CMake generator, but it fails because the `Visual Studio 15 2017` generator has already been run from the command line.

[2019-04-05 15:56] KevinWMatthews commented on #839
Keep in mind that there is a version dependency between CMake and Boost. Boost seems to update and then CMake plays catch-up. If Boost is a newer version than CMake, CMake may struggle to find Boost.

Is your system running CMake 3.12? If so, I think it should play nicely with Boost 1.66. I'm not so sure about 1.69.

There's a more in-depth discussion of this [here](https://github.com/exercism/cpp

[2019-04-05 18:20] parvpareek commented on #839
Update: Apparently I didn't build my boost 1.69 libraries. Once I did. The error in the cmd disappeared.
![image](https://user-images.githubusercontent.com/26191530/55647645-d09f0100-57fb-11e9-891a-c4cbf2e71580.png)
But the error in Visual Studio still persists.
![image](https://user-images.githubusercontent.com/26191530/55647676-e6acc180-57fb-11e9-9422-c865f2d11e65.png)
But a few new files have b

[2019-04-06 13:16] patricksjackson commented on #839
This is an issue for the cpp track. I'll help in exercism/cpp#250, this issue can be closed.

[2019-04-06 16:58] parvpareek commented on #839
Thanks. That will be so easy. I can wait for 1 month. I am learning OpenGL for now. I don't, know what I would have done if it were not for this issue.

[2019-04-08 16:45] KevinWMatthews opened #841 "Submitting test file breaks future downloads"
If a student submits a test file as part of their solution, future calls to `exercism download` won't update the test file. It seems like `exercism download` won't overwrite part of a student's solution.

I encountered this as we're changing the `cpp` track's unit test library from Boost to Catch.
An example is:
[code]
At this point, the files for configuring the build system (`CMakeLists.txt`) ar

[2019-04-12 08:41] SleeplessByte commented on #841
That is indeed the expected behaviour. There are students who add tests to the suite and submit that (which should be possible). Downside then is that we don't want to destroy their work if they update the suite.

A possibly right approach would probably be a `git merge` or similar.

[2019-04-14 13:30] Dastan010 opened #842 "ReferenceError: HelloWorld is not defined"
Hello, how are you? I didn't find any ways how to solve this problem, can you help me?
I made the HelloWorld tutorial in typescript track.  And when I ran the "yarn test" I got this error:

I have 3 files:
hello-world.ts:
[code]
hello-world.test.ts:
[code]
package.json:
[code]

[2019-04-14 21:55] NobbZ commented on #842
From what you have pasted here, it seems as if your tests are incomplete, they are missing some `import` and the openeing and closing of a `describe` block. Please delete the folder containing your current solution and redownload the exercise.

Also your `package.json` is different from what usually is used on the TS track. While other files (eg. `yarn.loack`) are missing (or you did not tell us a

[2019-04-15 00:51] KevinWMatthews commented on #841
Hi @SleeplessByte , makes sense. It would be frustrating to see one's work disappear. Thanks for the response.

[2019-04-15 00:51] #841 closed

[2019-04-15 11:51] Dastan010 commented on #842
Now it works! Thank you so much for your help!

On Mon, Apr 15, 2019 at 3:55 AM Norbert Melzer <notifications@github.com>
wrote:

[2019-04-19 15:11] BenyamWorku opened #843 "I can't submit my first python exercise"

[2019-04-19 15:20] BenyamWorku commented on #843
This is the result of exercism debug
onfiguration
----------------
Home:      /Users/benyam
Workspace: /Users/benyam/Exercism
Config:    /Users/benyam/.config/exercism
API key:   **********************************
and I made sure I put the solution of my exercise in this folder as per the instructions /Users/benyam/Desktop/EXERCISM_WORKSPACE
and when running it I am getting this error
Benyams-MacB

[2019-04-19 19:57] NobbZ commented on #843
The exercism workspace is `/Users/benyam/Exercism`, so your solutions have to live exactly below that folder.

Usually `exercism download` should already have created and populated that folder for you. Usually there is no need to manually move files around.

Also, you should not submit your testfiles, but only the solution.

[2019-04-19 20:28] BenyamWorku commented on #843
thanks . will attempt it again.

On Fri, Apr 19, 2019 at 8:57 PM Norbert Melzer <notifications@github.com>
wrote:

[2019-04-20 16:17] cesswein opened #844 "error during submission of exercises"
Error: invalid character 'y' looking for beginning of value

[2019-04-20 17:34] NobbZ commented on #844
Can you provide more info on about what you are doing and also try to resubmit using the `--debug` switch?

[2019-04-21 20:43] nywilken commented on #842
@Dastan010 glad to hear you’ve been unblocked. @Nobbz thanks for the help on resolving this issue.

[2019-04-21 20:43] #842 closed

[2019-04-21 20:45] nywilken commented on #839
Thanks @patricksjackson

[2019-04-21 20:45] #839 closed

[2019-04-22 05:27] Dastan010 commented on #842
Thank you so much!

On Mon, Apr 22, 2019 at 02:43 Wilken Rivera <notifications@github.com>
wrote:

[2019-04-22 15:40] kytrinyx commented on #843
It sounds like this is resolved. I'm going to close this, but @BenyamWorku, if you're still having trouble please do not hesitate to add more comments here, and we'll reopen the issue if necessary.

[2019-04-22 15:40] #843 closed

[2019-04-22 15:44] kytrinyx commented on #838
We currently don't have a way to have "general" track-level scripts, but it is something that I'd like to implement support for. Once we do, then I'll move this issue to the swift repository so that we can implement the actual script there.

[2019-04-25 20:35] mroberts8035 commented on #801
I am running into a very similar issue. I have the file (in the Python path) and am using Ubuntu. I copied the file path from my IDE, PyCharm, and can verify that the file is there, I see it in both the terminal and in the file manager at the same path. I can navigate to the file via the terminal, but when I try to submit it I get an error.

here is the copy/paste from my terminal

nice@nice-HP-El

[2019-04-25 20:46] NobbZ commented on #801
Hello @mroberts8035!

Please do not move the file after downloading. The exercism tool expects to find the file in its workspace that it should have created on initial `exercism download …`.

Some metadata is encoded in the relative location of the files to the workspace.

So please move invoke `exercism download …` as described on the exercises page and check the files there. Its best to also edi

[2019-04-25 21:02] mroberts8035 commented on #801
I am new to exercism.io. So are you stating that I should create the file initially in the file path of:

/home/nice/bin

Is that correct?

Also is there a specific IDE or text editor I should use for it?

[2019-04-25 21:06] NobbZ commented on #801
Lets discuss the further problems in #4826 exclusively. Both problems are separate.

[2019-04-25 21:13] mroberts8035 commented on #801
Fantastic should I re-ask that question there or just wait to see something show up there?

[2019-04-25 21:14] mroberts8035 commented on #801
I apologize for my noobness

[2019-04-26 03:23] KAction opened #846 "building from source: failed test suite"
Hello. Today I tried to package `exercism` for Debian, an, while procedure is very automated, I encountered test suite failures. Can you please take a look at log and evaluate, whether there is actually issue in program or I am doing something wrong/my environment is unsupported?

I included whole log just in case, the most interesting part (I thing) is on bottom.

[exercism-log.txt](https://githu

[2019-05-06 13:00] KiraLiC opened #847 "unable to run npm install"
I am a TOTAL beginner to Exercism and trying to start my first exercise in JavaScript.
Unfortunately i am having trouble starting up.
I have run the "Install Execism" guide - and it seemed to work - and the folder was created.
I can open the folder from VisualStudio code, but i am not able to run the npm install from the terminal.

I get this error:
'npm' is not recognized as an internal or extern

[2019-05-07 07:46] NobbZ commented on #847
After installing exercism, have you installed `node-js` as well?

More info at https://exercism.io/tracks/javascript/installation and https://nodejs.org/en/

[2019-05-08 09:20] spences10 opened #848 "CLI install breaking stuff on WSL!"
Hi,

Installing the CLI has broken some parts of my shell now, let me know what details would be helpful and I'll provide them happily.

## Background

Followed the guide on the site and installed with no issues

## Environment

I'm using Windows Subsystem Linux (WSL) with fish shell, but to install the CLI I used bash.

As I'm on WSL it's more performant to use `n` for node version management ins

[2019-05-09 19:59] BRobersonO opened #849 "make test fails in c track on windows"
I'm reasonably confident I have the c compiler pointed to in the path in environmental variables.
Yet when I run make in the Windows Command Prompt when I'm in the correct exercise directory I get an error saying the system cannot find the file specified. I have both a .c and an .h file in the src directory. Any ideas?

C:\Users\BRobersonO\Exercism\c\word-count>make
Compiling tests.out
process_beg

[2019-05-10 12:35] cmccandless commented on #848
If you still have the problematic environment, can you please provide the output for the following commands?

1. `echo $PATH`
2. `cat ~/.bashrc` (Please censor any private information, passwords, keys, etc.)
3. `env` (Please censor any private information, passwords, keys, etc.)

[2019-05-10 12:41] spences10 commented on #848
Sorry that info isn't available now:

[2019-05-10 12:41] #848 closed

[2019-05-12 09:10] tehsphinx commented on #848
The CLI is a `Go` program. All the installer needs to do is put the binary somewhere and add it's folder to the $PATH environment variable. There are no other dependencies and no other changes to be made.

I can not see how that could mess up WSL in the way you described. Probably something else caused this behaviour.

[2019-05-12 12:28] spences10 commented on #848
Probably 🤷

It was the only thing I was doing at the time and it's put me off of wanting to attempt repeating the process now.

Could it have messed up my path? Sounds like it may have if I couldn't use anything from my `.bashrc`

Also the issue is closed, so it's here for information more than anything else rn. 👍

Thanks for the CLI I'm sure a lot of users get a lot of value out if it.

[2019-05-12 12:32] tehsphinx commented on #848
It might have happened due to switching shells as you described using `bash` for the install and `fish` otherwise. But I can't test that as I'm not on windows.

[2019-05-13 07:22] michaeljprantl opened #850 "Exercism CLI for aarch64 Linux (Android)"
I know, this is complaining on a high level, but I felt, I could work may more exercises with Exercism, if I could use it with the Termux Emulator form my Android phone. I already successfully set up my tool chain for my own ordinary coding practice, so all I would likely need is the proper CLI for my architecture (aarch64).

Is it possible that at one point you provide it?

Thanks!

[2019-05-13 07:32] NobbZ commented on #850
Due to how termux works it is currently not possible to provide precomputed binaries for that platform. You need to manually set up go on your phone and compile the CLI there.

[2019-05-13 08:34] michaeljprantl commented on #850
Ok, thanks a lot for the suggestion. I am not really familiar with go, but I got so far:

[code]

It started adding dependencies until it ran into this error:
```can't load package: package github.com/exercism/cli: unkown import path github.com/exercism/cli: cannot find module providing package github.com/exercism/cli```

Any idea what I am doing wrong?

[2019-05-15 16:34] itmeson opened #851 "Default download location for solutions"
Why does the mentor code download script put files in the path: `~/exercism/users/username/trackname/problemname` ?

My preference is for:
 `~/exercism/mentoring/trackname/problemname/username`

as I'm unlikely to be looking at all the solutions by a given user, but I do want to be able to download a set of solutions for the same problem, run their tests, and quickly generate common comments/feedb

[2019-05-21 14:04] michaeljprantl commented on #850
I made it work! Thank you again for the suggestion!

[2019-05-21 14:04] #850 closed

[2019-05-24 08:47] ZapAnton opened #853 "[Feature Request] A message flag for the submit command"
Quite often, after submitting an iteration of the exercise, I have to write a small comment on the exercise web page.

Would be nice to have a flag for it, maybe similar to Git (for instance `exercism submit my_solution_file -m "Fixed the memory leak on the line 87"`).

Would it be a worthy feature, or is this case to rare to bother?

[2019-06-02 21:38] nelsonmfinda commented on #701
Can't download exercise.
![Image contain error print screen](https://user-images.githubusercontent.com/31723750/58767668-d2303f80-8586-11e9-983b-efc58d694397.png)

[code]

[2019-06-03 13:47] sachendras opened #854 "Looking at other people's solutions and mentor suggestions"
Hello

I am new to exercism and use it in Mentor mode for learning Golang. Is it possible for me to look at other's solutions and mentor suggestions? I guess will help me a lot to get some quick tips.

Thanks

[2019-06-12 22:36] xtian commented on #799
Just ran into this as well. `--no-verify` works for `configure` but I need it for other commands as well.

[2019-06-14 02:35] Aliciawyse commented on #697
@kytrinyx Is this still worth solving? I'd be happy to take up!

[2019-06-16 18:33] bmeverett opened #855 "Add command to cleanup exercism directory"
Once a solution is marked completed on exercism I would like to delete that out of the working directory. Possible add a `--cleanup` or something related that will clean any exercises that have been completed on the website.

[2019-06-17 14:09] WillGone704 opened #856 "HTTP/1.1 404 Not Found"
Hi , guys.

A few days ago I installed the exercism client in my Laptop (Linux Mint OS). I'm trying to submit the first exercise, but something goes wrong.

if, I type the following command with verbosity:
`exercism -v submit /path/to/my/file` , then the terminal show this:

`========================= BEGIN DumpResponse =========================
HTTP/1.1 404 Not Found
Transfer-Encoding: chunked
Ca

[2019-06-20 07:09] Kosarar opened #857 "MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file."
I am a novice, but I successfully submitted the first exercise. When I try to run a test for the second one "two-fer", I get the following error:

c:\Programs\Exercism>dotnet test
MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.

I tried to move the content of c:\Users\user\Exercism\csharp\two-fer\ one level up,

[2019-06-20 07:33] NobbZ commented on #857
Hello @Kosarar!

It seems as if you had run the `dotnet test` command from within `exercism`s installation directory. You need to run it from within the folder where `exercism.exe` has downloaded the exercise to.

Also please make sure to not move around the code. When submitting the CLI is very strict on the location of the code and you won't be able to submit if the location does not match the C

[2019-06-20 07:36] Kosarar commented on #857
Thank you, NobbZ. It seems to be working now. Can I debug the code with Visual Studio though?

[2019-06-20 08:58] NobbZ commented on #857
I do not use VS nor windows, but as far as I know you should be able to open the exercism dotnet projects in VS.

@exercism/csharp @exercism/fsharp @exercism/windows can you confirm?

[2019-06-20 11:56] Kosarar commented on #857
What do you use? Yes, I confirm. Should I do it somewhere else?..

[2019-06-20 11:59] NobbZ commented on #857
I use Arch Linux and vscodium or emacs, depending on my moods ;)

And do I understand your confirmation correctly, that you actually tried to use VS and it just worked? And what do you want to do somewhere else?

[2019-06-20 12:09] Kosarar commented on #857
It worked. Should I confirm the use of tags @exercism/csharp @exercism/fsharp @exercism/windows by clicking somewhere?

[2019-06-20 12:23] NobbZ commented on #857
No, I was actually asking the members of the 3 mentioned teams if they can confirm whether or not Visual Studio should be able to open the dotnet related exercises without further config/manual intervention.

[2019-06-20 14:52] Kosarar commented on #857
Oh, great. Yes, some more detailed instructions on all steps of using Excercism would be a good thing. But the brevity is fine also.

[2019-06-20 15:03] NobbZ commented on #857
To use exercism? Personally I think everything is documented quite understandable and very verbose at times, I'd prefer a more slick set of istructions that does not do so much hand holding…

To use the actual toolstack of the track? Maybe, depends on the track…

[2019-06-20 15:05] NobbZ commented on #857
And what I missed to say in the last point, if you feel that bits and pieces in the documentation are not clear or understandable enough, just open an issue at https://github.com/exercism/exercism and pinpoint the part of the documentation that could be improved and try to explain what you do not quite understand with that part.

It will be delegated from there to the proper sub-repository of the

[2019-06-20 15:25] Kosarar commented on #857
Got it. Thank you.

[2019-06-20 18:08] Jack6776 opened #858 "Can't start Hello world project as it keeps asking for SDK"
Hello,

I am new to exercism so this might be a simple fix but I am completely lost. I managed to set up excersim and managed to download the "Hello world" program.

However once I try to open the C# project i get the following error: The SDK 'Microsoft.NET.sdk' specified could not be found.

I have downloaded the latest version of the SDK but the error keeps showing up. Because of this I can't ev

[2019-06-21 12:20] NobbZ commented on #858
As this is not related to the `exercism` CLI but rather the track specific toolchain, I'll send this issue over there.

Then you can provide additional information in the copied thread.

You'll need probably to add whether you are using Windows, Linux or Mac. Also what do you do (open which program, enter which command, etc?) when you get that error message, and what is the exact error message you

[2019-06-21 12:25] NobbZ commented on #858
@Jack6776 please continue disussion at exercism/csharp#1288.

@iHiD, @kytrinyx, could one of you close this, or anyone else with access?

PS: There is no @exercism/cli I could ping…

[2019-06-21 15:29] #858 closed

[2019-06-21 15:30] iHiD commented on #858
I think GitHub has a bug around completion lists atm. They almost never work for me recently.

[2019-06-22 09:27] NoobCoder14 opened #859 "You are submitting a directory, which is not currently supported. D:\CodeBlocksProjects\helloworld\proj Please change into the directory and provide the path to the file(s) you wish to submit"
I am unable to submit even hello-world, any help would be welcome

[2019-06-22 10:56] NobbZ commented on #859
You need to specify individual files to submit. Also please do not try to submit files that are outside of your `exerciam workspace`, best is to solve exercises where `exerxiam download` stores them and submit them from there, no copy back and forth.

[2019-06-23 06:00] NoobCoder14 commented on #859
Done, thank you so much!

[2019-06-26 15:15] #859 closed

[2019-06-26 15:15] #857 closed

[2019-06-26 15:18] kytrinyx commented on #844
It's been a long time without hearing back. I'm going to close this. @cesswein if you are still having trouble, please open a new issue in http://github.com/exercism/exercism/issues

[2019-06-26 15:18] #844 closed

[2019-06-26 15:19] kytrinyx commented on #840
I'm going to assume this one is sorted out. @jdsingh122918 if you're still having trouble, please open an issue in http://github.com/exercism/exercism/issues

[2019-06-26 15:19] #840 closed

[2019-07-06 12:20] iHiD commented on #790
Hello @exercism/cli :)

This has come up a couple of times recently. It's been suggested that this commit never got released. If that's so, could we release it? Is there anything else blocking that?

Thanks :)

[2019-07-06 12:22] kytrinyx commented on #790
I'll do a release to day!

[2019-07-06 12:24] iHiD commented on #790
(cc @Nobbz)

[2019-07-06 18:28] NobbZ opened #860 "`--verbose` switch for `submit` leaks users token (perhaps other subcommands as well)"
Sometimes when debugging problems, we ask to run `exercism submit --verbose …` and post the full output into chat/github.

Today I realised that this does leak the literal user token.

Please filter/blank the token from the output generated by the `--verbose` flag, also please check for any other output if it leaks the token and filter/blank it there as well.

We should consider to invalidate all

[2019-07-07 15:10] kytrinyx commented on #860
We have code to mask the token, so this should be fairly straight-forward to do. If someone submits a PR for it, I will commit to reviewing it, getting it merged, and cutting a new release.

I am not willing to invalidate all the existing tokens, but I agree that we should notify everyone on the site that this has occurred and that if they have ever posted debugging output, they should consider up

[2019-07-07 16:08] kotp commented on #860
It might be helpful to always mask the token, unless an `--unmask-token` option is given.  The accidental exposure would likely automatically be reduced because that would be an extra step to reveal that token anywhere.

[2019-07-10 12:34] kytrinyx commented on #860
Yes, I think `--unmask-token` would work. I like how explicit that is. We could make that a global option.

[2019-07-12 19:31] marcinkubica opened #861 "install automation?"
Hi
Just found your website and downloaded linux cli for python.
Why no install automation?

Happy to kick it off, if you think it would have a value.

Best
Marcin

[2019-07-13 22:17] NobbZ commented on #861
What do you mean by install automation?

[2019-07-19 20:46] VitruviusX opened #862 "Totally lost"
So I was trying to use Exercism/CLI? and I already have python 3.7 installed. I manually install Exercism to windows fine.  In order to run the tests it says to install pytest but to install pytest I need pip. But I think that python 3.7 already has pip. But I still need to install pytest. Somehow I ended up in the command line for my computer. command line didn't recognize python or pip. It didn'

[2019-07-19 21:47] NobbZ commented on #862
@VitruviusX does `exercism version` print something like `exercism version 3.0.11` in the terminal or an error?

If there is a version printed, then you have set up the `exercism` CLI properly.

If you get an error, please use the graphical installer to reinstall `exercism`, as this is the recommended installation method on windows.

For your python problems, I'd ask you open a new issue at github

[2019-07-26 01:41] kenliu commented on #825
@kytrinyx should this be closed now?

[2019-07-26 11:03] ric2b commented on #757
So I went ahead and created a snap for exercism, currently for version 3.0.12.

I don't use exercism much so feel free to ping me when there's a new version, as I'll probably miss it.

Building it is super easy since it's just extracting the tarball into the container, as you can see by the [snapcraft.yaml](https://github.com/ric2b/exercism-snap/blob/master/snapcraft.yaml)

[2019-07-26 11:10] ric2b commented on #731
If anyone finds this while having trouble running exercism, I created a snap for it so you can simply run `sudo snap install exercism`, as mentioned in https://github.com/exercism/cli/issues/757#issuecomment-515411178.

Snap comes pre-installed with Ubuntu, it's a package manager for sandboxed applications and it auto-updates your installed snap packages (applications)

[2019-07-26 13:58] erhanelgun opened #863 "i am in trouble when confıguring the CLI"
Troubleshooting Information
===========================

Version
----------------
Current: 3.0.12
Latest:  <unknown>

Error: Get https://api.github.com/repos/exercism/cli/releases/latest: proxyconnect tcp: dial tcp: lookup eelgun: no such host

Call 'exercism upgrade' to get the latest version.
See the release notes at https://github.com/exercism/cli/releases/tag/ for details.

Operating System
--

[2019-07-26 19:01] NobbZ commented on #731
If it is sandboxed, how well does it work with writing into the users folder to download exercises and persist its configuration?

[2019-07-26 19:07] kytrinyx commented on #825
Yes, thank you!

[2019-07-26 19:07] #825 closed

[2019-07-26 19:14] ric2b commented on #731
Snap allows you to request permissions that your application needs to work.
In this case I'm requesting access to the home directory and removable media, as you can see in the [build file](https://github.com/ric2b/exercism-snap/blob/master/snapcraft.yaml), the `plugs` line.

The user can decide what permissions to allow or deny (home directory access is on by default because it's very common)

[2019-07-30 06:33] N3w0nee opened #864 "No file to edit on Two Fer exercise"

[2019-08-03 00:51] markboston34 opened #867 "unable to submit exercises"
i get the following error when i try to submit an exercise, Error: invalid character '(' looking for beginning of value. doing both -v and --verbose only gives me that error nothing else.

i am running this on a thinkpad t580 with 16 gb of ram running arch linux 64bit.

[2019-08-03 08:43] NobbZ commented on #867
As `--verbose` doesn't have any effect, this means that no request is made to the server.

Could you provide the exact command you use to submit? Also please provide the contents of the file you want to submit and the content of the `.exercism/metadata.json` in the exercise folder.

[2019-08-04 18:27] clock21am commented on #807
hey can i take up this task ?

[2019-08-05 01:25] kytrinyx commented on #807
@clock21am Thanks so much for your interest. We still haven't had time to prioritize the work to define the interaction between the API and the CLI, so this is still blocked.

I realized we hadn't labeled it as such, but I have done so now.

[2019-08-06 06:24] bkworm11 opened #868 "Installtion failed"
I installed Chocolatey and used it to install gradle, but I skipped the JDK installation because I installed previously already. I then ran the gradle test in command it did't return the

:compileTestJava
:processTestResources UP-TO-DATE
:testClasses

as specified in the document. I can't continue.

Thanks for helping me out.

[2019-08-06 08:49] NobbZ commented on #868
What output did you get instead?

[2019-08-07 14:51] ekingery commented on #757
Thanks so much, @ric2b! Works like a charm. Single command install, one more for config and we're off and running on Ubuntu.

[2019-08-07 14:57] ekingery commented on #700
As discussed in #757 and #731, the linux instructions can now (arguably) be shortened to a single command (`sudo snap install exercism`) and/or a link to https://snapcraft.io/exercism.

[2019-08-07 19:03] kytrinyx commented on #700
@ekingery thank you. As we mentioned in #757 (and also alluded to in https://github.com/exercism/exercism/issues/3765) we cannot instruct people to rely on a method of distribution that is not in our control, and we currently don't intend to use multiple distribution methods, because we struggle enough at the moment to maintain the ones that we use.

[2019-08-07 21:28] ekingery commented on #700
No problem @kytrinyx, thanks for your work on this project, it is terrific! For the record, I didn't actually publish the snap, it was @ric2b.

By "not in our control", you mean that a member of the exercism team didn't publish it? In that case I imagine @ric2b would be glad to hand off the exercism name of the snap. I assume he created it independently because in #757 the OP offered to create and

[2019-08-08 13:04] kytrinyx commented on #700
Yes. We had that happen previously with another package that someone else maintained.

I wasn't able to publish the homebrew package the last time I cut a release, due to an incompatibility between my development environment and the homebrew environment that took more than one hour to debug (I have to timebox this sort of thing).

Indeed, it took me nearly a year to cut a new release of the CLI be

[2019-08-08 13:06] #860 closed

[2019-08-08 14:47] ric2b commented on #700
Of course! And I can also help if needed. This would be super easy to script, it's already just one command for building the package and another command to publish it.

But let me warn you that Linux being Linux already has 2 competing projects to do desktop application sandboxing and distribution: Snap (by Ubuntu/Canonical) and Flatpak (By RedHat).
Snap is the most popular right now because it's

[2019-08-08 15:04] NobbZ commented on #700
I've already done some automatic deployment to the AUR (arch Linux user repository) which requires knowledge of some SSH private key on the CI system. On gitlab I where I did that, I know what and where to tweak to lower the risk of leakage.

Examples are protecting the injected environment variables that it's only available on certain branches and tags, but does Travis have something like that?

[2019-08-08 16:35] ekingery commented on #700
Absolutely - I joined the Exercism Team slack (@ekingery) and I'd be glad to follow up there. I can't create channels so I'll wait for an invite. Making the process less fragile and stressful sounds great to me and I think we have a path and a good set of people to help.

[2019-08-08 16:41] NobbZ opened #869 "Wrap output of `exercism debug` in markdown Codeblock ready to paste"
We often ask to copy and paste the output of `exercism debug` into the gitter, some GitHub issue or the slack.

This requires students to actually know about fenced code blocks or other means of wrapping stuff before posting. Not properly wrapped output often gets reinterpreted and formatted by the rendered of the service we paste into. This often makes the output hard to read.

Therefore I sugges

[2019-08-08 19:45] kytrinyx commented on #869
I think it's worth a try, @NobbZ !

[2019-08-08 19:47] kytrinyx commented on #700
Ok, this is all awesome.

I will get the team and channel and everything sorted out. @ric2b are you in that slack by any chance? If not, once I get the team set up I'll get you added to the slack as well.

[2019-08-09 09:56] ric2b commented on #700
I'm not in the slack, no.

[2019-08-12 14:14] kytrinyx commented on #700
@ric2b Would you email me at katrina.owen@gmail.com if you want into the Slack? (It's certainly not a requirement).

[2019-08-12 14:16] kytrinyx commented on #700
@ric2b @ekingery I've sent you both invitations to the new exercism/cli-distribution team. I've also created the Slack channel (it's public, called #cli-distribution).

[2019-08-12 20:42] ekingery commented on #700
@ric2b, could you transfer the exercism snap name to the account named `exercism`? Feel free to follow up with me via email (my username at gmail), slack, etc, with any questions. Thanks again for your help in getting this effort off the ground!

[2019-08-12 22:49] masliu opened #870 "Exercism 3.0.12 no longer reports errors when trying to download a locked exercise"
Steps to reproduce:

1. Try to download an exercise that you have not yet unlocked
2. Notice the output "Downloaded to (exercism-workspace-dir)/users"
3. Check the users directory as well as the track directory and notice no folders have been downloaded

This was working properly before the recent update.

[2019-08-13 12:15] kytrinyx commented on #870
Thanks for catching and reporting that, @masliu!

[2019-08-16 00:54] yyyc514 opened #872 "Client should not overwrite folders it does not "own""
Ref: https://exercism-team.slack.com/archives/CARRG4MNC/p1565821395212500

**What I did / How to reproduce**

I wanted to complete Pangram (on the mentored track) but I hadn't progressed that far yet in JS mentored mode.  So I:

- downloaded a students Pangram exercise
- copied the files into my `~/Exercism/javascript/pangram`
- removed their solution (so I could solve it)
- removed the .exercism

[2019-08-16 13:34] kytrinyx commented on #872
Thanks, yes I completely agree that this is unexpected and undesired behavior. Thank you for the detailed write-up!

[2019-08-20 12:58] NobbZ opened #874 "Non-Signed-In users can join `javascript-legacy` via the big hexagon field"
If a user is not logged in and visit exercism.io, they see the collection of hexagons, representing a track each. The `JS` labeled hexagon links to the `javascript-legacy` track which shouldn't be accessible for anyone who has not submitted an exercise to this track before it was deprecated and joined with the former `ecmascript` track.

Users can then click "Join" and register/login and are then

[2019-08-20 13:00] NobbZ commented on #874
Addition: I just realised, that there is also an "ecmascript" hexagon (logo labeled ES), that links to the `javascript` track.

Perhaps we should just remove the hexagon pointing to `javascript-legacy` and put its icon on the link to the current `javascript` track that has the "ES" icon?

Maybe this also requires a reordering of the hexagons.

[2019-08-20 13:02] #874 closed

[2019-08-20 13:02] NobbZ commented on #874
Issue moved to [exercism/exercism #4988](https://github.com/exercism/exercism/issues/4988) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-21 14:54] #870 closed

[2019-08-21 14:55] kytrinyx opened #875 "We need to get AppVeyor working again"
I can't figure out exactly why AppVeyor stopped working. It almost certainly has something to do with 3rd party access, but I checked and AppVeyor is installed on the org.

[2019-08-22 16:22] ekingery commented on #700
One more ping for @ric2b, are you available to help transfer the snapcraft / ubuntu one ownership of the `exercism` name / snap? Please contact me if so!

[2019-08-25 17:55] bmare opened #876 "Feature Request: output solutions and commentary to .md file"
I am a programming newbie so maybe this request is way too complex, but I think it would complement exercism's philosophy if there was an easy way to concatenate the iterations and commentary into a file for the student's purposes. This way, if the student has been reflecting on their solutions/what they learned, they can organize all that information into a file and use it in the future as a sort

[2019-08-27 22:53] ric2b commented on #700
Sorry, I changed to a new job and have been focusing on that. I'll PM you.

[2019-08-28 08:45] vladciobanu opened #877 "[Feature Request] Add a flag to download that takes you to the newly created directory"
As a mentor, it would be helpful if I could copy the `exercism download <...>` command from the dashboard and add a `--go` flag to also change the current directory to the newly downloaded root.

[2019-08-28 09:32] NobbZ commented on #877
This feature has been requested a couple of times and it can't implemented, as the `exercism` tool can't change the working directory of its parent process (your shell).

Thats why the output is designed in a way, that you can do `cd $(exercism download …)` on `sh` compatible shells, `cd (exercism download …)` in `fish` or just copy paste in windows `cmd.exe` and PowerShell.

[2019-08-28 17:50] ArchKoder opened #878 "FAILURE: Build failed with an exception."
![gradle](https://user-images.githubusercontent.com/40110953/63879955-607f5a80-c9ea-11e9-9abb-e95023f6628b.PNG)

[2019-08-28 21:12] NobbZ commented on #878
Hi @ArchKoder!

The exception is as expected, as the provided stub file is compilable and runnable but does not pass the tests. You need to implement the function to properly return the expected value.

Also this repository is solely for the `exercism` command line tool, not for track specific build tools or their exercises.

Please file further tickets at github.com/exercism/exercism. If they are

[2019-08-29 21:15] kytrinyx commented on #877
Thanks @NobbZ!

I'm closing this, as we cannot implement it.

[2019-08-29 21:15] #877 closed

[2019-08-31 11:24] vonHabsi opened #879 "exercism CLI have its own directory and not install its top level directory in the ~/bin directory"
When the exercism archive is extracted it places some of its directories in the `~/bin` directory which in my view is a bad design. It may overwrite other directories and it is also difficult to tell which files and directories belong to `exercism` when it has to be moved elsewhere or uninstalled.

It is better to install it in `~/bin/exercism` and the user told to add `~/bin/exercism` to the $PAT

[2019-08-31 12:00] NobbZ commented on #879
To avoid overwriting we usually recommend to extract in the download folder (I do though think as well, that we shouldn't have the archive contents flat but suggest a folder as well, "tarbomb").

Also in my opinion one should avoid adding more and more single binary folders to the `PATH`, as it will increase the overall search time for executables.

And I don't really get your last statement… Usin

[2019-09-06 21:01] ekingery commented on #700
We are planning to being using [GoReleaser](https://goreleaser.com) to help package and distribute the CLI. Below are the proposed names for the new packages (with `3.0.16` being a sample version). We will refactor the auto-update code in cli.go accordingly. If anyone is aware of other code that relies on these filenames, please let us know!

| *Original* | *Updated* |
| ---- | ---- |
| exercism-f

[2019-09-19 21:21] Rhodine opened #882 "`require_relative': cannot load such file"
1.  **Issue**: Exercism exercise is not running  - Error message below
2. When i input the file path to run the test I received this in the command line:
$ ruby series_test.rb
series_test.rb:2:in `require_relative': cannot load such file -- C:/Users/rorle/Exercism/ruby/series/series (LoadError)
        from series_test.rb:2:in `<main>'

3. Troubleshooting Information
===========================

V

[2019-09-19 21:47] kotp commented on #882
I am assuming that you have resolved your issue?  It is normal to be in the folder `C:/Users/rorle/Exercism/ruby/series/series` when you run `ruby series_test.rb`.

I am putting this here just in case anyone has a similar problem and finds this issue, but also to confirm this is the way that you have solved your issue.

[2019-09-19 23:17] Rhodine commented on #882
The issue isnt resolved, I just thought I was on the wrong thread! I am still experiencing problems running the exercise. I am in C:/Users/rorle/Exercism/ruby/series/series
when running the test but I get the above error message so I can't work on the exercise.

[2019-09-20 01:13] kotp commented on #882
OK, this is usually because the `series.rb` file does not exist in the folder where the test is.  The part of the message that is relevant here is:

[2019-09-20 01:14] kotp commented on #882
The reason that it doesn't show an extension is because it can be several different extensions, `.rb` being one of them.  In our case, it probably should be.

[2019-09-20 01:36] kotp commented on #882
But yes, this is the wrong area, as it is not related to the CLI.  Closing this in preference to exercism/ruby#1003

I believe the solution is valid above, and I will post the same answer in that issue as well, in case someone needs to find it.

[2019-09-20 05:53] NobbZ commented on #882
@exercism/triagers please move to exercism/support, then close as double of exercism/ruby#1003.

[2019-09-22 17:55] raghunath opened #883 "Unable to submit the go solution"
I am trying to upload the go exercise solution and keep getting the unable to submit metadata error.

#command for submitting response.
[code]

    The exercise you are submitting doesn't have the necessary metadata.
    Please see https://exercism.io/cli-v1-to-v2 for instructions on how to fix it.

any thoughts?

[2019-09-23 07:06] NobbZ commented on #883
Have you followed the instructions on that link? Especially the delete and re-download part?

Also, please do only submit your actual implementation and not the `README` and `*_test.go` files.

[2019-09-23 07:10] NobbZ commented on #883
Also I'm quite curious, why you submit everything from the current folder, except the `greeting.go` which is a folder up?

[2019-09-23 07:10] NobbZ commented on #883
@iHiD could you please move this to exercism/exercism for triaging (or directly to exercism/support)?

[2019-09-24 21:45] petertseng commented on #824
My half-baked ideas of how to do this were at https://github.com/exercism/cli/issues/370#issue-207011775. I ended up going with a local list of rules hard-coded per language. It has served me well enough. https://gist.github.com/petertseng/e3e88bf1c383865ff67f4095413993b2. But I did not submit it as a PR for this repo because 1. It is written in the wrong language for this repo 2. Bad UX for langu

[2019-09-28 20:51] curchadw opened #884 "I am just confused on how to access my first exercise."
I don't know if this is the right place to ask this, but I need clear instruction on how to get access to my code to edit it. I did install the cli program but don't know where to go from there. THe setup tutorial on youtube I saw was for linux and I am on WIndows....Help please!!

[2019-09-28 21:25] NobbZ commented on #884
Which tutorial have you seen?

But after the installation the steps are the same on all platforms. Open a terminal and use the `exericsm download --exercise=… --track=…` command displayed on the web site, to the right of the exercise you want to solve next.

This will print a path in its message, telling you to where the exercise has been downloaded to. You need to open that folder in the editor o

[2019-09-28 23:40] curchadw commented on #884
Thanks I will try it when I get home. I'm just on the hello world one now.

On Sat, Sep 28, 2019, 16:25 Norbert Melzer <notifications@github.com> wrote:

[2019-09-29 15:41] NobbZ opened #885 "When inexisting `--track`/`--exercise` options are provided, CLI does not error"
# Current behaviour

When one provides an inexisting combination of `track` and `exercise` switches on the terminal, then the CLI will report successful download to `$(exercism workspace)/users`:

[code]

After the download there will be a `.exercism` folder with a `metadata.json` in it. It has the following contents:

[code]

# Expected behaviour

The CLI should tell us with an error message that

[2019-09-29 22:11] sshine commented on #882
@NobbZ, @iHiD: It seems that the three of us are in @exercism/triagers, but I can't find the function that performs the move of issues in any of the menus, so perhaps this function is not enabled for that group, or @NobbZ and I can't figure out where the button is?

I've marked this issue as closed.

[2019-09-29 22:11] #882 closed

[2019-10-11 14:21] #700 closed

[2019-10-11 18:07] iliasmertzanos opened #887 "Tests are being ignored"
Hi guys,

I am running the gradle test for the Hamming task (Kotlin track) and I get a message that some of them are skipped:

[code]

Am I doing something wronge?

I also looked in the gradle class and somehow the test methode have a header of @Ignore.

`
[code]
    @Ignore
    @Test
    fun smallDistanceInLongStrand() {
        assertEquals(2, Hamming.compute("ACCAGGG", "ACTATGG"))
    }

    @I

[2019-10-11 18:17] iliasmertzanos commented on #887
I just didn't notice under the instructions the following quote:

"In the test suites all tests but the first have been skipped.

Once you get a test passing, you can enable the next one by removing the @Ignore annotation."

[2019-10-11 18:17] #887 closed

[2019-10-11 22:30] sshine commented on #887
Yes, this is a workflow that some track maintainers prefer.

Other tracks have the test suite halt on the first failed test, which is sort of equivalent, but not exactly.

Good to hear you figured it out.

[2019-10-16 08:46] rifaimartin commented on #801
I think submitting exercism for beginners is very difficult. Documentation is not very clear in explaining how to submit

[2019-10-16 09:14] rifaimartin commented on #801
https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md

[2019-10-23 18:07] epic2001 opened #888 "Download do not work"
Hi! Downloads from https://github.com/exercism/cli/releases/latest do not works.
ERROR: We can’t connect to the server at github-production-release-asset-2e65be.s3.amazonaws.com.

[2019-10-23 20:15] epic2001 commented on #888
The problem is with Clodflare DNS 1.1.1.1

[2019-10-23 20:15] #888 closed

[2019-10-25 21:25] ekingery commented on #875
@kytrinyx fixed this! I'll go ahead and close, but of course please re-open if I'm mistaken.

[2019-10-25 21:25] #875 closed

[2019-10-25 21:25] ekingery commented on #878
This seems resolved / close-able. Please re-open if I am mistaken!

[2019-10-25 21:25] #878 closed

[2019-10-25 21:28] ekingery commented on #879
This seems more-or-less resolved and/or not actionable. Particularly considering that using the snap package is the preferred installation method now for linux. I think it can be closed, but please do re-open if I am mistaken.

[2019-10-25 21:28] #879 closed

[2019-10-25 21:38] ekingery opened #893 "Deployment Improvements"
This issue groups a set of related updates and features we'd like to implement now that we are using GoReleaser. I am open to breaking any of these into individual tickets, particularly when someone is ready to work on them. I think storing them in one place for now is probably best though.

 - [ ] disable auto-upgrade functionality if installed by package manager (win, mac, linux)
   - [ ] improv

[2019-10-25 22:19] kytrinyx commented on #893
I feel pretty strongly about manually creating a change log, and not including refactors and test fixes etc. I find automated changelogs to be hard to parse mentally, as I don't know what was important and not.

[2019-10-25 22:53] ekingery commented on #893
Roger that. I think a good goal would be to be able to generate the changelog automatically according to our preferred formatting, possibly using regex exclude filters for tests and refactors, and then we can have a person review and edit before committing it. If it's not saving time / effort or meeting our standards, we can ditch the automation. Also, at our current pace, it's probably not really

[2019-10-27 21:34] NicholasChill opened #894 "Having trouble testing program"
I just signed up on exercism and am having trouble testing the hello world program. I am trying to follow the steps but I don't know exactly what is supposed to happen and if I am doing it right. It is really confusing. Need better instructions.

[2019-10-29 02:17] danieljanderson opened #895 "Can't resubmit solution"
I am trying to resubmit my solution to twofer but it's not allowing me to.  The first comand is
exercism submit two-fer
[code]

[2019-10-29 09:35] NobbZ commented on #895
Are you sure your file is called `two-fer` without a file ending?

Also I'm not using the teams edition, but as far as I remember, you need to provide the `--team` flag when doing so.

[2019-10-29 11:01] t1ooo opened #896 "Panic when workspace path contains reserved characters"
### Version
exercism-3.0.13-windows-x86_64

### Os
Windows 7

### Reproduce
`exercism.exe configure --workspace "c:\?"`

[code]

[2019-10-29 15:35] danieljanderson commented on #895
typed in exercism submit two-fer.js.
and this is the error i got.

The file you are trying to submit cannot be found.

        /Users/danielanderson/desktop/software_projects/exercism/teams/daniel-josh/javascript/two-fer.js.

I typed exercism submit -team two-fer.js
i got Error: unknown shorthand flag: 't' in -team

[2019-10-29 15:44] NobbZ commented on #895
I'd expect the path to the file to be `  /Users/danielanderson/desktop/software_projects/exercism/teams/daniel-josh/javascript/two-fer/two-fer.js` (containing exercise name), are you sure you are in the correct folder?

Also, I said `--team`, not `-team` (double dash). Anyway, looked into the `exercism help submit` output, and it seems, as if `--team` is only needed for download, not submission.

[2019-10-29 18:19] danieljanderson commented on #895
I just did that and this is the error I get Error:

    The exercise you are submitting doesn't have the necessary metadata.
    Please see https://exercism.io/cli-v1-to-v2 for instructions on how to fix it.

[2019-10-29 20:37] NobbZ commented on #895
Have you checked if the metadata exists for that exercise, and redownloaded it to recreate metadata if missing?

[2019-10-29 21:03] danieljanderson commented on #895
how could the metadata go missine?  it submitted fine the first time

[2019-10-30 10:17] NobbZ commented on #895
Perhaps you deleted it? Or your virusscanner? Or something else went wrong. Usually it shouldn't go missing, but have you checked if its still there? Have you tried to recreate it as described in the link from the error?

[2019-11-04 10:00] craigtp commented on #149
@kytrinyx @RoyiAvital Would it be necessary to add the `.portable` file to the folder?  Would it not work just as well to have `exercism.exe` initially look inside the same folder for the `user.json` file and read the contents from there if the file is found, falling back to reading from `%APPDATA` if the file can't be found?  This would make the solution just as portable and not require an additi

[2019-11-04 10:07] RoyiAvital commented on #149
@craigtp , Yes, it will work.
When I wrote my example it was the concept looking in the working folder before going out.
What to look should be engineering decision.

[2019-11-04 10:17] craigtp commented on #149
@RoyiAvital Personally, I'd be happy with either approach, as I too would like a completely portable folder for Exercism.  I have the `exercism.exe` file (and required dependencies) and all my source code and a git repo in a single folder.  Would be great to be able to simply copy that folder to another PC and have everything "just work".  Only thing stopped that currently is the requirement on th

[2019-11-04 19:44] kotp commented on #637
Bumping this issue, as quite a few "support requests" come about regarding this issue.

[2019-11-04 20:39] kytrinyx commented on #893
I like that. I wonder if we could have a simple tool that gets the current sha, the sha of the most recent release, and lists all the PRs in our desired format, then we can copy/paste and delete the things we don't care about.

[2019-11-11 23:37] chantelledmello opened #897 "npm test errors"
Hi there, I'm attempting to run the npm test on my first JS exercise - Hello world - but keep getting this error. I downloaded the file via the command line as per the directions on the page, updated the subsequent hello-world.js file with my code and ran the ```$ npm test``` command. This are the error messages that I'm getting:
<img width="1102" alt="Screen Shot 2019-11-11 at 7 35 55 PM" src="ht

[2019-11-13 00:21] slikts commented on #757
Why isn't the snap mentioned in the install instructions? Currently the instructions are unfriendly for a learning tool.

Also, why is the exercism snap version "SNAPSHOT-ba48dcd" instead of the actual version? That makes it unclear if it's out of date.

[2019-11-13 03:53] ekingery commented on #757
We have hit some snags getting the documentation updated, but it is on the way / in progress. See:
 * https://github.com/exercism/interactive-cli-walkthrough/pull/83
 * https://github.com/exercism/interactive-cli-walkthrough/pull/85
 * https://github.com/exercism/website-copy/pull/1348
 * https://github.com/exercism/website-copy/pull/1362

This was due to a one-time issue with having built the rel

[2019-11-15 20:49] zombiefungus opened #898 "New command to get information on unlocked exercises"
I can't seem to find a way of getting information on the tracks I'm involved. In particular, it would be nice to get information on the exercises that I'm solving at the moment, and which ones are unlocked. I know something similar is the output you get once a correct solution is submitted but unless you save that output somewhere, there is no way to get it again _from the command line_. It can al

[2019-11-16 13:17] craigtp opened #899 "Allow Windows config file to be read from other locations"
In reference to issue #149 it would be nice to be able to have an entirely portable version of Exercism by ensuring that the config file, which on Windows is currently placed in `C:\Users\[username]\AppData\Roaming\exercism\user.json`, can be read from either the same folder where the `exercism.exe` executable is located, or by allowing a `--config` parameter on the `configure` command allowing th

[2019-11-16 20:58] heitorPB opened #900 "disallow submisison of repeated files."
Currently, the `exercism` cli allows us to submit the same file twice as a solution:

[code]

I just did that accidentally instead of the `.cpp` and `.h`. The solution page lists twice the same file.
is this a feature or a bug?

[2019-11-17 22:28] sshine commented on #900
If it's a feature, it is probably not useful.

If it's a bug it has a low impact.

We should probably give it a low priority and fix it.

[2019-11-18 05:31] josealuna opened #901 "Error trying submit"
Error: The base API URL 'https://api.exercism.io/v1' cannot be reached.

Get https://api.exercism.io/v1/ping: dial tcp: lookup api.exercism.io on [::1]:53: dial udp [::1]:53: connect: network is unreachable

Using snap intallation.

[2019-11-18 16:46] kytrinyx commented on #901
Hm, that doesn't sound good.

What do you get if you run `$ curl "https://api.exercism.io/v1/ping"`?

[2019-11-18 16:47] kytrinyx commented on #900
Yeah, this is a bug. I agree with @sshine that we should fix it, but it's not a dire one, so not something we need to scramble to fix.

Thanks @heitorPB, for reporting it!

[2019-11-18 19:26] NobbZ commented on #901
I think we figured this out in the gitter, according to @josealuna last comment it seemed to be related to some local DNS issue.

[2019-11-18 20:21] kytrinyx commented on #901
@NobbZ you're a star, thank you!

[2019-11-18 20:21] #901 closed

[2019-11-19 16:54] elsmog opened #902 "I'm trying to submit my first solution"
I'm trying to submit via the CLI, but its not working.
<img width="563" alt="Screen Shot 2019-11-19 at 11 52 53 AM" src="https://user-images.githubusercontent.com/46575447/69167648-4f168d80-0ac3-11ea-9455-4e34456035a5.png">

[2019-11-19 19:11] dector opened #903 "Setup chmod for certain files in downloaded exercise."
According to [sources](https://github.com/exercism/cli/blob/d95de6b2cb5d41f5d557ffcef35ed7b16008e2d9/cmd/download.go#L118), exercism tool is just downloading files. But sometimes it's really nice to make certain files executable (see [exercism/4991](https://github.com/exercism/exercism/issues/4991)).

[2019-11-20 14:37] kytrinyx commented on #903
This has been discussed previously, and the conclusion at the time was to create files as non-executable: https://github.com/exercism/cli/issues/276

[2019-11-20 15:42] uzilan commented on #903
I can't say I understand why, as running the gradlew scripts should be the way mentees run the tests, isn't it? Why make it harder?

In any case, I think we need to include instructions which explain how to chmod the files if we decide to make them non-executable.

[2019-11-20 19:22] dector commented on #903
I agree with @uzilan here. There are some traideoffs for running executable scripts fetched from remote source, indeed. But I think people will not check executable files anyway.

[2019-11-20 21:56] sshine commented on #903
## Summary and evaluation of argument made in #276

#276 was (presumably) created because some tracks commit some files as executable because track maintainers assume file permissions are retained upon download. But they're not. To resolve this discrepancy we should either retain file permissions upon download, or at least have a principle to not do so.

Making script files executable via a `#!` s

[2019-11-20 22:48] dector commented on #903
Thanks @sshine for such extended answer.

In Kotlin/Java world Gradle is de-facto a default build system. (Probably some legacy enterprise projects still use something like Maven).

Using `./gradlew`/`gradlew.bat` is [the recommended way](https://docs.gradle.org/current/userguide/gradle_wrapper.html) to run Gradle:

With wrapper we can configure any required Gradle version to use with our build-sc

[2019-11-21 08:50] uzilan commented on #903
It is also important to maintain a certain version when we build the java and kotlin test runners. Otherwise we would have to guess which version of gradle the mentees are using to build and test their solutions.

[2019-11-22 16:39] tyrantdavis opened #904 "Unable to Submit Solution"
When I execute the command "exercism submit hello_world.rb" I get the error "Not in workspace" despite being in the hello_world directory.  My CLI version is 3.0.13 by the way and states that my CLI version is up to date.

### How to reproduce

1. download exercise per instructions
2. cd into hello_world directory
3. add solution via editor
4. `$ exercism submit hello_world.rb`

[2019-11-22 16:51] tyrantdavis commented on #904
Never mind. Got it working.

[2019-11-22 16:51] #904 closed

[2019-11-22 16:54] kotp commented on #904
How did you get it working?  In case someone else has the same problem, they may come here searching for an answer and "Got it working" is probably not going to be helpful for them.

[2019-11-25 18:51] danieljanderson commented on #895
still having issues submitting files.  this time I cant even submit my first solution.
[code]

[2019-11-25 20:11] NobbZ commented on #895
Please make sure to use very exact pathes.

The best is to use `cd` to navigate into the exercises folder and then use a relative name to submit from there.

[code]

[2019-12-02 23:55] bradleybossard opened #905 "snap package prints erroneous token config instructions"
I haven't used exercism for a while, but upon deciding to revisit after a hiatus, I was pleased to find there is now a snap package available.  Following the instructions at

https://exercism.io/cli-walkthrough

[code]

and then, admittedly, not completely following all the instructions, I jumped to trying to install an exercise, and got the following error message

[code]

In copying the instruct

[2019-12-03 17:08] danieljanderson commented on #895
I copied your code and this is the error I got.
[code]

[2019-12-03 22:20] darklight9811 opened #906 "Download location for exercises"
I think that the CLI should take in consideration the terminal's directory, just like a normal git, it should create a folder inside the current location, not `C:\Users\<user>\Exercism\<language>\exercise`.

[2019-12-04 16:09] NobbZ commented on #895
Then please tell us what the output of `exercism workspace` is.

[2019-12-04 16:14] NobbZ opened #907 "Enhence error message "Not in Workspace""
The current message when one is not in the workspace on submitting solutions is not really helpfull.

Perhaps show the full absolute path of the first file that has the problem and also the configured workspace folder, eg:

[code]

This way students could either carefully compare on their own, or they could copy paste the full error into chat/github/whatever.

This would reduce turnaround times, a