[2013-08-24 16:54] mikegehard opened #1 "Login does not tell you where it wrote your credentials"
Current Gem:

[2013-08-25 14:10] mikegehard opened #2 "Getting the current user is flaky when cross compiling"
When you cross compile on OSX to Linux, you don't have access to user.Current()

Figure out a new way to get the user's home directory.

[2013-08-25 14:11] mikegehard opened #3 "Config shouldn't have to take a directory. It should control the directory"
Refactor the config to not take a directory but control that directory itself.

[2013-08-25 14:12] mikegehard opened #4 "Implement a command pattern for each command in main"
This will allow for easier automated testing of the commands.

[2013-08-25 14:51] #3 closed, assigned to nobody

[2013-08-26 01:46] #2 closed, assigned to nobody

[2013-08-27 02:41] #1 closed, assigned to nobody

[2013-09-04 02:37] pkoch opened #6 "Can only submit paths relative to exercismDirectory"
This doesn't work.

[code]

You're forced to do this instead:

[code]

Is this the intended behaviour? It caught me off guard.

[2013-09-15 14:35] mikegehard opened #8 "Add ability to see current assignments"
See:
https://github.com/kytrinyx/exercism/pull/80

[2013-09-22 16:23] kytrinyx opened #9 "Provide feedback about which files got fetched (on `exercism fetch`)."
Right now it's hard to tell if anything actually happened (especially since the the CLI is so fast. Yay Go).

[2013-09-22 16:27] kytrinyx opened #10 "After submitting, provide URL to the submitted exercise"
Right now the URL is the general URL for that exercise (/username/language/slug), which is great hypothetically, but the UI on that page is incredibly confusing at the moment.

[2013-09-24 23:23] codespelunker opened #12 "500 error on submit"
I just completed the 1st Clojure exercise, and am getting a server error on submit.

[code]

As you can see, the error response is blank.  I am running Windows 64-bit, and executing the exercism program from the directory where it was unzipped.  The relative path is correct.

[2013-09-26 20:30] kytrinyx opened #13 "Where to put reporting/printing logic?"
@msgehard I want to print output to say what got fetched (demo/fetch commands). Should I just loop right in `main`?

[2013-09-27 03:49] nf opened #15 "500 error on submit"
I just followed the instructions here: http://exercism.io/help/how-to-access-exercises

And completed my first exercise, bob.py. When I went to submit, I get a 500 error:

$ exercism submit bob.py
There was an issue with your submission: Status: 500, Error:

Am I missing something?

[2013-09-27 04:23] #15 closed, assigned to nobody

[2013-09-27 07:01] nf opened #17 "make exercism binary "go get"-able"
See the second section of this article: http://blog.golang.org/organizing-go-code

It would be great to be able to type "go get github.com/msgehard/go-exercism/exercism" to build and install the command line tool.

To handle the external dependencies, check a copy of them into your repo under third_party/foo, and rewrite the import paths. This is the approach we take internally at Google and in th

[2013-09-27 11:10] #9 closed, assigned to nobody

[2013-09-27 11:10] #13 closed, assigned to nobody

[2013-09-29 01:50] #12 closed, assigned to nobody

[2013-09-29 01:50] #6 closed, assigned to nobody

[2013-10-04 17:58] RealBigB opened #18 "fetch fails - hardcoded dependency on /etc/resolv.conf"
on linux mint  Maya: exercism fetch fails with "error reading DNS config: open /etc/resolv.conf: no such file or directory". There's indeed no "/etc/resolv.conf" file but a "/etc/resolvconf" dir...

[2013-10-04 18:23] #18 closed, assigned to nobody

[2013-10-05 16:21] kytrinyx opened #19 "Add 'unsubmit' behavior."

[2013-10-07 23:12] #8 closed, assigned to nobody

[2013-10-08 12:10] #19 closed, assigned to nobody

[2013-10-13 03:41] #10 closed, assigned to nobody

[2013-10-20 21:49] toolness opened #23 "Submit command fails with "Error parsing API response""
For context, I submitted my first [two](http://exercism.io/submissions/52615d7bb521c7871700009a) [iterations](http://exercism.io/submissions/52615dafb521c7bec500009b) via an OS X machine.

I was then at a different computer--an Ubuntu server VM running under Win7--and configured exercism on the VM. I "checked out" (is that the right word for it?) the same `test` exercise, copied and pasted my late

[2013-10-29 08:47] diimpp opened #24 "Move config file according to XDG specification"
`$XDG_CONFIG_HOME defines the base directory relative to which user specific configuration files should be stored. If $XDG_CONFIG_HOME is either not set or empty, a default equal to $HOME/.config should be used.`
http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

And it has .go extension when it's json.

[2013-10-29 20:48] #17 closed, assigned to nobody

[2013-11-01 13:24] martinmaillard opened #25 "Residual state after unsubmitting"
In the case where I already submitted a solution to a problem, if I sumit a second one and then unsubmit it, the homepage tells me _You don't currently have any pending submissions._ instead of showing the previous submission.

[2013-11-05 12:38] Priednis opened #26 ""exercism login" could create the projects directory"
I thought exercism could create the projects directory if it doesn't exist. Now I (entered a new, nonexisting directory) got an error and the app exited.

I can imagine that it might be a bit complicated depending on the OS and the rights on the directory, but I would like if I could just enter the directory and it would get created if it didn't exist.

[2013-11-09 15:10] #26 closed, assigned to nobody

[2013-11-13 01:58] cheshire137 opened #28 "make the exercises path if it doesn't exist"
I've never done Go before, but I could try to figure it out if no one else wants to tackle this. I just think it'd be friendlier if the CLI would make the directory for your exercises if it doesn't already exist, so I won't get this:

[code]

[2013-11-13 03:13] #28 closed, assigned to nobody

[2013-11-17 12:20] kytrinyx opened #29 "Add a `restore` command"
This would hit the `restore` endpoint in the API (not yet written - see exercism/exercism.io#1023) and write the files to the relevant directories.

[2013-11-20 00:18] drueck opened #30 "Error when building executable (via bin/build) (Ubuntu 13.10 64bit)"
When I try to run `bin/build` on my system I get the following message:

[code]

And the executable is not produced in the out directory.

I don't know Go at all, but just as a test I removed the error checking code that it appeared to be complaining about and the executable was successfully built.

[2013-11-20 02:46] #30 closed, assigned to nobody

[2013-11-21 13:28] toolness opened #31 ""app.Run(os.Args) used as value""
Hey, I'm trying to compile the client on Ubuntu, and get as far as running `go get` in the project directory, but it fails with the following:

[code]

(I've cloned the directory as `exercism-cli` to avoid ambiguity.)

Any thoughts? I'm very unfamiliar with go, so sorry if this is a noob question.

[2013-11-22 11:10] fuadsaud opened #32 "Homebrew Formula"
So, I was trying to create a homebrew formula to install exercism cli, but I have no experience in creating brew formulas, nor with golang ecosystem, so I failed wonderfully.

I would appreciate if someone could build one or help me in the task.

[2013-11-24 21:25] sparrovv opened #33 "Can't fetch assignments, other than the default ones"
Not sure if this is supported in `exercism` (couldn't find any reference on the site), but I assume it is:

I tried to fetch go's assignment, but I got 400:

[code]

I've checked the [github page](https://github.com/exercism/exercism.io/tree/master/assignments/go/bob) and it seems that there is the `go` assignment that I tried to fetch.

[2013-11-25 00:40] #33 closed, assigned to nobody

[2013-12-15 00:26] drozzy opened #34 "Do I need to install Go?"
Sorry for the silly question (but it's not mentioned anywhere) - but do I need to install Go-programming language to use cli?

Is there any special instructions I need to follow in doing so?
For example, after installing Go, and trying to run "go run exercism.go" I get the:
`cannot find package github.com/exercism/cli/configuration` error.

I am using Windows 7, and 32bit version of go.
Thank you,

[2013-12-15 00:33] #34 closed, assigned to nobody

[2013-12-15 23:16] kytrinyx opened #35 "Provide support for submitting multiple files"
[code]

See related issue: exercism/exercism.io#1165

[2013-12-15 23:57] kytrinyx opened #36 "Create Windows installer"
If it could set up the path and everything, that would be brilliant.

[2013-12-16 00:03] kytrinyx opened #37 "execute `exercism login` instead of complaining"
For commands that require logging in, go ahead and execute the login command first.

[2013-12-22 15:17] #25 closed, assigned to nobody

[2013-12-22 15:19] kytrinyx opened #39 "Config file should have the extension .json"
The file is a .json file, not a .go file.

To fix this we'll need a workaround that moves an `.exercism.go` file before any command that requires it for the lifetime of the 1.x version of the library.

Originally reported in tandem with another issue in #24

[2013-12-22 15:25] #24 closed, assigned to nobody

[2013-12-22 15:28] #31 closed, assigned to nobody

[2013-12-23 01:11] ashusvnath opened #40 "Clean trailing whitespaces in user submission or at least warn about it before submission"
I'm pretty sure that this is a nice to have.
But it can lead to someone pushing a 1000 submissions with change in whitespace.

[2014-01-02 13:33] markijbema opened #42 "Make it possible to choose config file with commandline option"
It would be nice if there was an option to use a different config file. That way I can have a config for exercism.io, and one for my local checkout, so I can test cli/website interaction.

My suggestion would be to add -c / --config.

[2014-01-08 21:42] cored opened #43 "Error fetching assignments. HTTP Status Code: 410"
I'm getting this error every time I try to peek on new problems.

[2014-01-09 20:11] cored opened #44 "Can the fetch command have a language option"
So the users can download just the assignments for a particular language instead of every one.

[2014-01-13 20:25] #29 closed, assigned to nobody

[2014-01-19 18:24] lcowell opened #48 "Reduce number of file used to implement configuration package"
I was reading through the configuration package code and I was noticing that it was difficult to see how the pieces fit together because of how many files the code is spread across. This also makes it hard to find the implementation of a particular function.

I think it was a good move to extract the configuration related code it to it's own package, but I'm wondering if it might be a good idea to

[2014-01-20 20:28] #48 closed, assigned to nobody

[2014-01-22 17:50] VikiAnn opened #49 "Backtrace when trying to submit"
Hi, I got an error when I was trying to submit one of my exercises, and I figured out what I did wrong, but @mjc called the error a "backtrace" and said I should let you know, so I'm letting you know.

I was logging into exercism for the first time from this computer and I missed that it was asking me for my projects path, and I tried to submit an exercise right away. I'm attaching a screensnip  o

[2014-02-10 16:27] bunnymatic opened #50 "Add info about the bash completion script to the README"
Moved this issue over from the main project to the CLI

@kytrinyx suggested I add this to the README which i will try to do soon.

[2014-02-11 07:55] bunnymatic opened #51 "move code into a src directory for easier development/build setup"
I haven't done much work in `go` but I wonder if the source code was moved into a `./src` directory under the project, would it mean it'd be easier to develop?

It feels (and please forgive me as I'm learning about `go`) like you could have instructions that did something like

It seems odd that I have to put this in a `go` directory as opposed to being able to clone and work on the source in the

[2014-02-11 16:15] #50 closed, assigned to nobody

[2014-02-11 16:27] #51 closed, assigned to nobody

[2014-02-16 05:35] kytrinyx opened #52 "Optionally specify submission key for unsubmit command"
Depends on exercism/exercism.io#1385

[2014-02-16 22:04] henrik opened #53 "Say so when a trail is exhausted"
`exercism fetch` now tells me:

[code]

Before, the next Ruby exercise up has appeared as the bottom of the list of Ruby exercises, but now it lists largest-series-product which I've already done. I suspect this is because I've exhausted the trail, or the trail order has changed or something.

Maybe the tool could say something like "No more exercises in the Ruby trail! Try another trail, help rev

[2014-02-17 11:11] anthonygreen opened #54 "HTTP errors with fetch and peek exercism 1.4.0"
[code]

[2014-02-18 10:33] #54 closed, assigned to nobody

[2014-02-18 14:45] kytrinyx opened #55 "Delete whitespace when reading/writing config values"
The issue in exercism/exercism.io#1401 was that a newline had slipped into the config value for the server.

[2014-02-22 17:09] mikelikesbikes opened #58 "bash completion script"
I'm not sure how to integrate this into the cli project, but I created a (very simple) bash completion script to augment the cli.

[code]

Is this something that would be useful in this (or another) project?

[2014-02-22 20:43] #58 closed, assigned to nobody

[2014-02-26 15:55] kytrinyx opened #60 "Filter by language in `current` command"
Per @lowks - exercism/exercism.io#1431

[code]

Would show only the current exercises in Ruby

[2014-02-27 01:29] kytrinyx opened #61 "Add `exercism upgrade` or `exercism update`"
...

[2014-02-27 20:46] #43 closed, assigned to nobody

[2014-02-27 22:16] #60 closed, assigned to nobody

[2014-03-03 03:49] FriarTech opened #64 "After submitting my first assignment from CLI, no other command works"
No matter what I do after submitting my first exercise, Im getting Error parsing API response: [invalid character '<' looking for beginning of value]

[2014-03-03 14:40] #64 closed, assigned to nobody

[2014-03-08 18:16] kytrinyx opened #65 "Path with spaces causes panic"
Copied from exercism/exercism.io#1458, reported by @basbossink

---

When setting up exercism 1.5.0 amd64 for the first time on a 64-bit Windows 7 system. When selecting the following project path: `C:\Users\bas\Documents\My Dropbox\projects\exercism` the panic below is shown:

[code]

[2014-03-08 18:49] kytrinyx opened #66 "Mark new exercises"
Depends on exercism/x-api#15

Once the API is delivering an extra field, the CLI can highlight the fresh exercises.

[2014-03-14 00:37] #66 closed, assigned to nobody

[2014-03-14 22:53] kytrinyx opened #67 "Fetch exercises for a specific language"
Depends on exercism/x-api#17

[2014-03-16 00:28] #65 closed, assigned to nobody

[2014-03-22 19:40] fluxusfrequency opened #69 "Problems with restore"
exercism restore in the CLI doesn't update the following exercises correctly or at all:

-beer-song
-binary-search
-custom-set
-food-chain (outdated test file)
-house
-triangles (no test file?)

[2014-03-23 04:11] #69 closed, assigned to nobody

[2014-03-24 15:28] kytrinyx opened #71 "Mark completed tracks"
When there are no new exercises in a language, there should be some sort of notification to that effect.

Right now it's incredibly confusing, as it marks the last exercise as the new one, even though it's been completed earlier.

[2014-03-27 21:09] #32 closed, assigned to nobody

[2014-04-02 03:24] FriarTech opened #73 "Feature Request - Skip an exercise"
How about adding the possibility of skipping an exercise - or marking it as such to come back to later, then fetch can get the next exercises following that particular one?

[2014-04-04 14:17] rsslldnphy opened #76 ""exercism fetch" not getting new exercises"
This is probably something to do with the fact that I've moved to a new computer, but `exercism fetch` no longer downloads the next exercises - instead it just downloads `bob` for each track as well as any other non-completed exercises I currently have.

The output of `exercism fetch` is the following:

[code]

I can get new exercises only if I specify the language and exercise name.

[2014-04-05 17:57] #76 closed, assigned to nobody

[2014-04-09 14:59] #67 closed, assigned to nobody

[2014-04-12 21:17] dpashkevich opened #77 "Encourage improvement after submission"
The `README` for the beer song exercise has an important section that reminds people of the end purpose of all the exercises:

[code]

Why not print it in the CLI tool after the user submits his next exercise?

[2014-04-20 16:53] kytrinyx opened #80 "Build CLI for Raspberry Pi (ARMv5)"
The CLI doesn't run on ARMv5, and I have not been able to make the cross-compiling work yet.

[2014-04-26 13:10] thkoch2001 opened #81 "please don't encourage curl $URI | sh"
Hi Karina,

I enjoyed the changelog episode about exercism, went to youtube to see your talks and wanted to try exercism now. But this wasn't nice:

[code]

If you want to encourage good programming practice, please don't start by destroying good administration practice!

I've no immediate solution, just a few thoughts:
- Get the client packaged into distributions (long way)
- Educate people to on

[2014-04-27 16:22] #81 closed, assigned to nobody

[2014-05-02 23:09] srt32 opened #83 "User can open browser from cli"
I frequently submit an exercise and then go to the browser to see it rendered (sometimes I see things differently in the browser).  I'd love to be able to execute something like `exercism open go anagram` that would take me to my current go anagram submission.  My inspiration comes from the Heroku CLI (https://github.com/heroku/heroku/blob/f5fac5d5031833d77cbc67c763294d9765c4ebc6/lib/heroku/comman

[2014-05-20 15:55] kytrinyx opened #85 "exercism fetch $LANGUAGE is broken"
I have verified that I am logged in, and can call `exercism fetch`.

Not sure if the problem is that the CLI is not sending along the API key, or that the API isn't reading it correctly.

[code]

[2014-05-26 19:30] #85 closed, assigned to nobody

[2014-05-31 21:48] #49 closed, assigned to nobody

[2014-05-31 21:48] #44 closed, assigned to nobody

[2014-06-03 05:26] #71 closed, assigned to nobody

[2014-06-11 14:40] #80 closed, assigned to nobody

[2014-06-11 14:41] #37 closed, assigned to nobody

[2014-06-17 23:53] joshblum opened #87 "go vet failure"
Following the instructions from the readme I get the following error:

[code]

I tried running

[code]

but this didn't help. Any suggestions?

[2014-07-08 23:54] kytrinyx opened #88 "Add support for fetching files to root track dir"
This depends on work being done in the API:
https://github.com/exercism/x-api/issues/27

See https://github.com/exercism/xphp/pull/11 for context.

[2014-08-02 03:13] kytrinyx opened #89 "Display list of all the exercises"
[code]

Should show a list of all the exercises, and explain how to get specific ones.

[2014-08-05 01:52] #55 closed, assigned to nobody

[2014-08-05 02:27] #87 closed, assigned to nobody

[2014-08-07 02:56] #42 closed, assigned to nobody

[2014-08-14 02:46] LegalizeAdulthood opened #93 "travis-ci build doesn't work in cloned repos"
I cloned the cli repo and made changes on a branch, enabled travis for my clone and pushed to the branch but the [CI build failed](https://travis-ci.org/LegalizeAdulthood/cli/jobs/32502138) in a weird way that didn't seem to have anything to do with my changes.

Is the travis build expected to work for clones?

[2014-08-14 14:42] kytrinyx opened #95 "Create "home" command"
`exercism home` should tell you where your exercises directory is

[2014-08-14 14:42] kytrinyx opened #96 "Make the default directory ~/exercism, not the current directory"
Defaulting to the current directory has been confusing to a lot of people who are not comfortable with PATH and the command line.

[2014-08-15 01:56] #39 closed, assigned to nobody

[2014-08-24 16:02] #96 closed, assigned to nobody

[2014-08-25 05:58] #95 closed, assigned to nobody

[2014-08-27 14:39] kytrinyx opened #99 "Create a `debug` command"
This would list
- os/architecture (darwin, windows, linux and 32-bit or 64-bit)
- home dir
- version

IF configured:
- location of config file
- api key
- exercism directory
- host

Also at the end it should encourage them to email me this output to kytrinyx@exercism.io if they're having trouble in any way.

[2014-08-28 05:51] #99 closed, assigned to nobody

[2014-08-28 10:02] reedlaw opened #101 "Error fetching assignments: dial tcp: lookup exercism.io: no DNS servers"
The full error:

[code]

I get this error after logging in and running `exercism fetch`. There is no delay after running the command which makes me think there is no lookup happening. I am running Arch Linux and my `/etc/resolv.conf` looks like this:

[code]

It's pointing to localhost because I'm running a DNS caching proxy server (unbound). Other command line tools work fine with DNS lookup. I t

[2014-08-29 01:55] #101 closed, assigned to nobody

[2014-08-29 13:50] kytrinyx opened #102 "Add a leinify command"
See  exercism/exercism.io#1663 and https://gist.github.com/rubysolo/d0c03cc4d5d62cfb0070 (from @rubysolo) for context and a prototype.

I'm thinking create a new handler, `Leinify()` in the `handlers` package that will read the config, get the exercism directory, and for each directory in the `clojure` subdirectory, leinify any not-already leinified problems.

It would bail with an error message i

[2014-09-19 16:37] avendael opened #104 "exercism fetch: Error parsing API response"
Whenever I do `exercism fetch`, I always get `Error parsing API response: [unexpected end of JSON input]`. I just started out with exercism and I can't fetch any problems.

[2014-09-19 16:41] #104 closed, assigned to nobody

[2014-09-23 14:04] erikbgithub opened #105 "Installation should use some kind of package manager"
Otherwise how would I update? Nobody reinstalls tools again and again, if they are already installed once. Like, how do I install a go program usually as a go developer? Is there a way like with python and pip?

[2014-09-23 17:47] robertfw opened #106 "CLI installation page mentions that an AUR package is available, but doesn't give the name"
The page should provide a link to the package.

https://aur.archlinux.org/packages/exercism-cli/

[2014-09-23 17:54] robertfw opened #107 "Allow user to set download directory"
It's frustrating that there is no way to tell exercism where to download. I try to keep my home directory fairly organized, lest it become a tangled mess. I looked through the documentation but could not find anything related to this.

[2014-09-23 17:57] #107 closed, assigned to nobody

[2014-09-23 23:48] andreip opened #108 "homebrew installation script fetches outdated tgz"
The versions of exercism binary fetched through homebrew and through install script differ:

[code]

So you see brew gets the older 1.7.0 one. The older one actually had a bug and I could not submit a file, in 1.7.1 it worked.

L.E: i can help if needed, no experience w/ brew dev but can check it out. I guess using the same approach as the script to use the url `https://github.com/exercism/cli/rel

[2014-09-23 23:57] SpartanTech opened #109 "Cant submit my csharp solution."
When installing CLI, it installed it to my user folder. All my different languages and their first problems are located there.

But my Visual Studio project folder is in my 'Projects' folder in Documents. When creating my solution, I dragged the 'leaptest' folder into visual studio as per the instructions in exercism.io

When submitting my sharp project, I first tried to submit the .cs class file.

[2014-09-24 11:33] Mezzle opened #112 "CLI command assumes that path is correct, when it doesn't match the config."
If a file is submitted that doesn't match the path given in the config, the path is assumed correct.

So, in my case, when my dir was set to `/home/users/mez/exercism` - which was a symlink to `/scratch/exercism` - the system returned `/scratch/exercism/foo/bar`.  However, in https://github.com/exercism/cli/blob/master/handlers/submit.go#L54 - this strips out a length equal to that of the config,

[2014-09-24 21:52] ekul81 opened #113 "I've got an error whilst running the installer"
I'm probably doing it wrong, but theres an interesting error here...
 I downloaded the installer using wget (as per instructions)
Marked it as executable using chmod and upon running I receive the output
![error](https://cloud.githubusercontent.com/assets/1222505/4396442/08323482-4435-11e4-92e7-9e599d8796fb.png)

[2014-09-25 03:42] Austin17jm opened #114 "exercism fetch python bob"
This returns:

unchanged: 1, updated: 0, new: 0

How do I launch my first python exercise? I'm so confused.

Also how do I find the README?

[2014-09-26 03:38] L0G1C opened #115 "Unable to submit my first csharp file"
I'm receiving error "2014/09/25 23:35:38 error parsing API response - invalid character '<' looking f
or beginning of value".

This is in command prompt on windows.

[2014-09-26 03:42] #115 closed, assigned to nobody

[2014-09-26 14:16] kytrinyx opened #116 "Make config path configurable using env vars"
This has to work for both Windows, Mac, and Linux.

[2014-09-26 14:26] #109 closed, assigned to nobody

[2014-09-26 14:29] #114 closed, assigned to nobody

[2014-09-26 14:30] #113 closed, assigned to nobody

[2014-09-26 14:33] #108 closed, assigned to nobody

[2014-09-26 15:13] #112 closed, assigned to nobody

[2014-09-27 19:42] kytrinyx opened #118 "Windows "home" is sometimes a network drive?"
Right now the windows home path is sometimes `H:`, which is a network drive.

[2014-09-27 19:51] #106 closed, assigned to nobody

[2014-09-28 02:53] #118 closed, assigned to nobody

[2014-09-28 14:36] maefju opened #119 "I cannot submit my first exercise"
Hi,

i tried to submit my first c# exercise today, but when i type "exercism submit year.cs" in my cmd window it displays following error:

goroutine 16 [running]:
runtime.panic(0x724700, 0x931c6f)
        /usr/local/go/src/pkg/runtime/panic.c:279 +0x11f
github.com/exercism/cli/handlers.Submit(0xc08203e210)
        /Users/kytrinyx/code/go/src/github.com/exercism/cli/handlers/submit.go:5
9 +0xc3e
g

[2014-09-28 19:09] kytrinyx opened #120 "Selfupdate"
It should be possible to say `exercism selfupdate` to get the newest version.

See this tool, that does it.
https://github.com/jingweno/gh

[2014-09-28 19:13] kytrinyx opened #121 "Output helpful error message if submitted file isn't in exercism path"
Right now if you have one configured path and a different place where you're trying to submit from, you're likely to get a panic: https://github.com/exercism/cli/blob/master/handlers/submit.go#L59

[2014-09-28 20:48] kytrinyx opened #122 "Create the exercism directory up front"
Instead of waiting until fetching problems, create the exercism directory as soon as it's configured.

See https://github.com/exercism/exercism.io/issues/1776

[2014-09-28 20:49] kytrinyx opened #123 "Compile for ARMv6"
See https://github.com/exercism/exercism.io/issues/1769

[2014-09-30 01:44] #123 closed, assigned to nobody

[2014-09-30 04:24] kytrinyx opened #124 "Improve error message when rejecting submission because it's a test"
Sometimes people legitimately try to submit a test file, sometimes they actually named their file `SomethingTest01.ext`.

We should be explicit about why it failed: If `SomethingTest01.ext` is the name of your solution, then please rename it so that it doesn't include the word test in it.

[2014-10-02 15:23] kytrinyx opened #125 "Provide a way to list available language tracks"
This should list the language name, and the command to fetch problems in that language. It seems like we should also list upcoming languages (and a link to the newsletter signup where they can be notified of new languages being launched).

[2014-10-02 15:28] kytrinyx opened #126 "After having submitted, output instructions about getting next problem"
This could be as simple as:

[2014-10-02 15:36] kytrinyx opened #127 "On TCP issues, suggest checking firewall/proxies"
There have been a number of problems connecting to the website, and they seem to be related to firewalls. We have some documentation about setting up a proxy.

At the very least we should link to the troubleshooting page: http://help.exercism.io/troubleshooting.html

[2014-10-03 11:33] grssnbchr opened #129 "lstat error when trying to submit exercise"
Hey, I just finished my first exercise with exercism 1.7.4 and wanted to submit it.
`exercism submit ~/exercism/exercises/javascript/bob/bob.js` gives `lstat exercism: no such file or directory`.

Fetching the exercise worked, and exercism seems to be configured correctly.

What to do?

[2014-10-03 14:54] #120 closed, assigned to nobody

[2014-10-03 22:39] #129 closed, assigned to nobody

[2014-10-04 21:00] ccnp123 opened #130 "Hard to tell which problems have been solved, which problem you are on"
I came across this issue organically... I banged out a bunch of Haskell exercises, fetched the next one, went away for a few days, and when I came back and saw the list of exercise directories, I realized I had no clue which exercise I was supposed to be working on. I had to go through each folder and jog my memory.

Thankfully, I had not created a solution file so it was easy to tell which proble

[2014-10-05 04:41] #121 closed, assigned to nobody

[2014-10-05 16:33] kytrinyx opened #131 "Add command to get a specific submission"
It would be useful to be able to easily grab someone's solution and store it locally so that one could try it out, tweak things, etc.

Perhaps something like `exercism download a18426954538f3ef72dd2e1a`.

This could put it in `solutions/<username>/<language>/<problem>/*`

[2014-10-06 16:35] kytrinyx opened #132 "Add command to allow skipping problems"
See https://github.com/exercism/exercism.io/issues/1949

[2014-10-10 20:37] isoolio110 opened #134 "New to coding, can't fetch"
Hi,

I'm learning how to code and trying to use exercism. A bunch of my friends all successfully created an account, downloaded the tool, configured it and fetched.

I created an account, configured the tool and when I run exercism fetch, I see this:

The firewall is off, I'm on OSX 10.9.5. We tried installing through homebrew (1.7.3) as well as downloading from Github (1.7.5).

When I go to the U

[2014-10-11 19:30] #40 closed, assigned to nobody

[2014-10-12 10:40] #122 closed, assigned to nobody

[2014-10-12 16:38] #126 closed, assigned to nobody

[2014-10-14 19:47] rprouse opened #136 "Convert line endings when fetching to Windows"
Minor 'NitPick' :smile:

All of the exercise files and README's are stored in Git with LF line endings. When you use the exercism program to fetch them to windows they come down without modification. For those of us on Windows who keep track of their completed exercises using Git, we need to edit the fetched files and convert the line endings to CRLF before adding the files to Git.

It would be ni

[2014-10-15 10:32] kytrinyx opened #137 "Add a "current" command?"
https://github.com/exercism/exercism.io/issues/1972

When working in multiple languages, or when you come back to exercism after a spell away from it, it can be tricky to figure out what you were working on.

It's possible to sort directories by date (`ls -ct`), but it would be handy to be told directly what's still in the works.

[2014-10-16 02:02] #116 closed, assigned to nobody

[2014-10-16 02:15] #136 closed, assigned to nobody

[2014-10-16 02:16] #127 closed, assigned to nobody

[2014-10-16 02:16] #125 closed, assigned to nobody

[2014-10-16 02:20] #124 closed, assigned to nobody

[2014-10-19 05:28] #4 closed, assigned to nobody

[2014-10-19 05:30] #132 closed, assigned to nobody

[2014-10-19 05:31] #93 closed, assigned to nobody

[2014-10-29 02:23] aussielunix opened #139 "go get.... binary name is 'cli'"
When I run `go get github.com/exercism/cli`
I end up with a binary in my `bin/` called _cli_
I would expect it to be called _exercism_
_cli_ gets lost in a sea of binaries in my `bin/`

[2014-11-18 13:44] markgalup opened #140 "-bash: exercism: command not found"
Hello,

I am new to the terminal, coding, and exercism, but I have tried many options to make this work. I am on a 64-bit mac running 10.8.5 and I cannot figure out how to get the CLI to work. I have modified the .bash_profile to change my path to where I put the exercism binary, and I have tried using the curl method for manual install. I don't really want to use the homebrew method. If you can h

[2014-11-20 04:11] #140 closed, assigned to nobody

[2014-11-21 16:47] #139 closed, assigned to nobody

[2014-12-09 16:15] ghost opened #144 "Problem Setting Up"
I'm a complete novice here, so please excuse me if I am missing fairly simple.

I am currently running OS X Yosemite, trying to install the 64 bit version of exercism.

After the install stage, whenever I open exercism I am presented with the terminal window and a line reads 'process complete'. However, I cannot do anything after that. I cannot type any commands.

I hope I have provided enough inf

[2014-12-12 05:24] #144 closed, assigned to nobody

[2015-01-07 15:00] kytrinyx opened #145 "Expose config for problems host"
At the moment we only expose the config for the web api (to submit problems, etc), but not the problems api (where we get the actual READMEs and test suites). This is usually fine, since most people can simply use the website locally and point to the remote problem API.

This becomes a problem when people are running a completely separate installation of exercism with custom problems.

The configu

[2015-01-12 03:49] kytrinyx opened #149 "--config flag doesn't handle ~ for home dir"
[code]

vs

[code]

[2015-01-12 21:41] chrisdambrosio commented on #149
The command works if you omit the `=` for config; which allows the shell to expand the path.

[code]

[2015-01-12 21:54] Tonkpils commented on #149
@chrisdambrosio that seems like a good workaround. We should still have the CLI expand the path though.

[2015-01-13 15:20] #134 closed

[2015-01-14 15:40] kytrinyx opened #150 "[discussion] How can we improve the output of 'fetch'"
On several occasions I've gotten support requests (usually by email, but sometimes also in GitHub issues, e.g. https://github.com/exercism/exercism.io/issues/2160) where they can't fetch more exercises, even though they've presumably done all of the ones that they've fetched.

Usually what seems to have happened is that they fetched:

[code]

It turns out that there's one problem that is unsubmitt

[2015-01-15 15:41] Tonkpils commented on #150
We could use some sort of indicator from the API that lets us know which problems have not been completed or submitted. Once we have that we'd be able to give feedback on unfinished problems.  Does the API have that information available?

[2015-01-15 16:16] kytrinyx commented on #150
The ExercismIO API does, the XAPI does not. That's fine -- we can ask both places, or XAPI can ask ExercismIO.

[2015-01-16 19:07] #149 closed

[2015-01-16 22:36] Tonkpils commented on #150
I have something working for this. We can iterate over the message being displayed but it looks something like this.

[code]

[code]

Right now I'm just displaying the output of the `Problem` struct but of course this can be improved. I haven't thought of a different way to display this. If you have any suggestions that'd be great.

We can also tag that list of uncompleted items as not accepted or

[2015-01-17 01:51] kytrinyx commented on #150
I'm not sure what you mean, can you elaborate?

I think we should include the path to where that problem lives, since at the very start of doing exercism stuff people don't have any reason to know where to look for the test suites.

[2015-01-17 07:04] Tonkpils commented on #150
Apologies for the misunderstanding, what I meant was that currently it just displays the name of an uncompleted exercise. But you can end up with something like this:

[code]

Where the Gigasecond was submitted but hasn't been accepted as complete and the Raindrops was just fetched and it has not been submitted.

What I meant was that we could also specify next to the exercise wether its been subm

[2015-01-17 15:30] magthe opened #152 "`$PWD` seems to impact later restore"
Sorry for the rather cryptic title; I was struggling with making it clearer, but just gave up.  Hopefully the following explanation clarifies what I mean.  I also don't know whether this is an issue with the client or with the server, so feel free to move it if it's in the wrong location.

*Steps to reproduce*

1. Fetch a new exercise: `exercism f haskell`
2. Change directory and solve it:

[2015-01-17 16:18] Tonkpils commented on #152
Thanks for the detailed issue. Looking into this :+1:

[2015-01-17 17:17] kytrinyx commented on #152
This is a fantastic write-up, thank you!

My immediate thought is that the problem has to be in the client, not the API. @Tonkpils let me know if there's anything I can help dig into, or if you want to bounce ideas back and forth.

[2015-01-17 17:42] kytrinyx commented on #150
Oh, right! Thanks.

Yeah, this is the most important thing.

[2015-01-17 23:09] magthe commented on #152
Well, I receive my own fair share of issues, both on hobby project and at work so I like to write the kind of reports I'd like to recieive ;)

I should point out that I usually swap steps 3 and 4, i.e. I submit from the "exercism folder," and then things work as expected.

Also, forgot to give you the version of my client:

    % exercism -v
    exercism version 1.9.0

[2015-01-18 20:02] kytrinyx commented on #145
Closed in #147

[2015-01-18 20:02] #145 closed

[2015-01-18 20:03] kytrinyx commented on #119
Closing for inactivity. Please reopen the issue if you're still having problems.

[2015-01-18 20:03] #119 closed

[2015-01-18 20:05] kytrinyx commented on #131
Fixed in #143

[2015-01-18 20:05] #131 closed

[2015-01-18 20:07] kytrinyx commented on #23
@estomagordo - this got lost in the fray, and I'm only just now getting back to looking through all of the issues. Are you still having problems submitting?

[2015-01-19 17:46] Tonkpils commented on #152
@magthe I followed the steps you've provided on this issue and I'm not able to reproduce this using the latest version of the CLI. `1.9.2`

[code]

Are you able to update the CLI?

[2015-01-20 07:13] magthe commented on #152
It seems to be there in v 1.9.2 as well.  It's important that the exercise is previously unsolved, otherwise it doesn't show.  Hopefully the following clarifies it further:

[code]

[2015-01-20 07:45] magthe opened #156 "Even after deleting an exercise it's considered solved"
In testing stuff related to #152 I found this slightly strange behaviour:

1. Fetch a new exercise.  (It gave me `clojure/beer-song`.)
2. Solve the exercise.
3. Submit the solution.
4. Log in on the web site and delete the solution.
5. Go back to the command line and remove all solutions for the language. (`rm -fr clojure` for me.)
6. Restore gives all the solved exercises, and as expected the del

[2015-01-20 14:26] kytrinyx commented on #156
I've implemented it this way on purpose. Essentially if you've unlocked an exercise, then we'll never lock it back up for you.

I'm happy to discuss pros/cons of both choices.

[2015-01-20 15:48] #89 closed

[2015-01-20 16:03] magthe commented on #156
As long as it's deliberate.  I just surprised *me*, but that is far from the same that the behaviour is wrong ;)

[2015-01-20 16:03] #156 closed

[2015-01-20 18:57] Tonkpils commented on #152
Ok, interesting. I was able to reproduce the issue checking to see what it could be. I find it interesting that the solution cannot be unsolved previously.

[2015-01-20 19:48] Tonkpils commented on #152
@kytrinyx so far, what I've found out is that the list of files returned by the `http://exercism.io/api/v1/iterations/:key/restore` call contain part of the path as opposed to just the file name.

Here's an example of what some old submissions look like when being restored:

[code]

On the other hand with some of my latest submissions this is what comes back:

[code]

Notice the file name for the

[2015-01-21 06:02] kytrinyx commented on #156
Ok cool :) I'll leave it for now, then. Thanks for bringing it up.

[2015-01-21 06:08] kytrinyx commented on #152
x-api doesn't actually handle submissions (it only handles the actual language track problems + metadata). The exercism.io repo actually contains two apps, both of them are quite awful. One of them is an API that talks to the database and knows about submissions.

We've changed the data format quite a bit over time. We used to not store the filename and path at all. Later we started storing the re

[2015-01-23 21:00] Tonkpils commented on #152
@kytrinyx just so I'm clear, the each key in the `files` hash will contain relative paths? Including the test files and the README? If that's the case, it should be an easy fix on the CLI.

[2015-01-24 17:44] kytrinyx commented on #152
Ah, no you're right, the readme and test case are given relative paths to the problem dir, no the exercism dir.

What would be a better fix?

1. Change the problems API to always return paths relative to the exercism root directory (`$TRACK/$PROBLEM/README.md`, etc), or
2. Change the exercism API to store file paths relative to the problem directory instead of the exercism root directory

Either w

[2015-01-24 18:27] Tonkpils commented on #152
I actually think number 2 would be good if it means what I think it means. So we would store the file path relative to the problem directory correct? I think right now the CLI takes care of storing the files in the correct problem's directory anyway.

[2015-01-24 18:41] kytrinyx commented on #152
Yeah, that's what it means. OK, cool. I'll add an issue for that, as well as the data cleanup in the history. Shouldn't be too hard!

[2015-01-25 17:50] kytrinyx opened #158 "Should we delete accidental binaries from git history?"
I am working on creating the changelog for the project, and realised that in the early days I accidentally committed the entire exercism binary. It got removed in 63094ebe6a221d7c7b06842ec57dfc0fceb73397 but this still means that a checkout of the project is going to be much, much bigger than it has to be.

If we do this, then everyone who wants to contribute would need to do a hard reset on the m

[2015-01-25 18:22] kytrinyx commented on #35
The backend supports accepting multiple files (see https://github.com/exercism/exercism.io/issues/1165), so this one can be bumped to the top.

[2015-01-25 21:45] lcowell commented on #158
I'm up for doing this, but I don't have any experience with this sort of thing other than a small team. This trimmed my `.git` folder from `12MB` to `2MB` - `10MB` savings. If it was `100MB` savings, it would be really easy to justify this. 10MB just isn't that much. If we proceed, it would be better to notify people. It's easy to delete an email, and someone could waste time trying to figure out

[2015-01-25 21:57] lcowell commented on #35
Would the usage now be that I would specify multiple files from the command line eg:
`exercism submit AbstractBobPresenter.java Bob.java`

The `Iteration` struct, is what is used with `client.Submit`. Currently it has a File attribute, so we would need to change it to be a slice of Files and update the code that works with iterations to handle multiple files. Does that sound about right so far as

[2015-01-26 05:21] kytrinyx commented on #35
Yeah, that's what I was thinking.

Right now the API expects a JSON map of filename to contents. That would mean using a `map[string]string` serialized to `json:"solution"`, but I could change it to expect the serialized `[]File` if that seems cleaner.

It's a small change in one place, so really no big deal either way.

[2015-01-26 05:25] kytrinyx commented on #158
10 MB isn't a whole lot... but it's over 80% of the size of the repo. That feels kind of significant to me.

When you say _notify people_, do you mean send individual emails? Mentioning them in this thread would notify them either by email or on GitHub.

I'm not saying I have my heart set on it, I just wanted to bring it up.

[2015-01-26 07:10] ClashTheBunny commented on #35
Just to make sure, the the path of the file would be nice to preserve in
the metedata.  Some languages give significance to deep directories.
On Jan 26, 2015 7:21 AM, "Katrina Owen" <notifications@github.com> wrote:

[2015-01-26 15:27] kytrinyx commented on #35
Yeah, the path of the file is currently being preserved, and we need to continue to do so.

[2015-01-26 17:53] Tonkpils commented on #158
I like the idea of downsizing the repo size. Under normal conditions 10 MB wouldn't be that big but on slow connections this could take quite some time. Mentioning people here would be good.

I'm :+1: for this though.

[2015-01-26 18:18] lcowell commented on #158
Yeah, I meant just to mention them in the thread and let github figure out how they want to be contacted.

I would also :+1:  this.

[2015-01-27 03:43] kytrinyx commented on #158
OK, cool, I'll do it in the morning when my brain is fresh. Thanks, all!

[2015-01-27 16:04] kytrinyx commented on #158
Eh, I overslept. I'll try again tomorrow!

[2015-01-28 16:06] kytrinyx commented on #158
FYI - we're rewriting the history of this repository in order to remove an accidentally committed binary, causing the repository to be far larger than necessary.

If you're mentioned below it's because you're either watching the repository, or because you currently have a fork.

If you are going to contribute a patch, then you'll need to jump through a couple of hoops to get in sync with the upstr

[2015-01-28 16:06] #158 closed

[2015-01-28 18:18] scalp42 commented on #158
:+1:

[2015-01-30 16:14] Tonkpils commented on #150
With #155 we ensure the user knows which problems have not been submitted from the fetched ones. This helps when the user is not sure why new problems are not being fetched. If this is still an issue, we can revisit. Closing this for now.

[2015-01-30 16:14] #150 closed

[2015-01-30 16:20] Tonkpils commented on #130
On this note, with #155 the `fetch` command now returns a list of problems that have not been submitted.  I think we could still benefit from having a `current` command as per #137. @ccnp123 did you have any other ideas you wanted to share or solutions from your fork?

[2015-01-31 03:27] kytrinyx commented on #150
Thanks, yeah I think this is good for now!

[2015-01-31 03:30] kytrinyx commented on #130
Thanks, @ccnp123 for taking the time to work on this, and for sparking the discussion that led to a fix. I'm going to close this, but do feel free to open a new issue if you have further thoughts/ideas.

[2015-01-31 03:30] #130 closed

[2015-02-04 11:33] ZenoArrow opened #159 ""Please provide your Exercism.io API key""
Hi,

Using the Windows CLI. Try using http://x.exercism.io/v2/exercises/fsharp?[APIKEYHERE].

Getting a timeout in the CLI. If I try the URL in a browser, I get {"error":"Please provide your Exercism.io API key"} .

Not sure why.

FYI, I also get a CLI timeout using http://x.exercism.io/tracks, but I'm able to access this page via a browser.

Any ideas what I can try to fix this? Let me know if I

[2015-02-04 14:35] kytrinyx commented on #159
What does `exercism debug` output? Does the api key start with dbb2?

[2015-02-04 15:02] ZenoArrow commented on #159
Hi kytrinyx, thanks for getting back to me so quickly.

Here's the output of exercism debug (API key removed):

**** Debug Information ****
Exercism CLI Version: 1.9.2
OS/Architecture: windows/amd64
Home Dir: C:\Users\t.clarke
Config file: C:\Users\t.clarke\.exercism.json
API Key: dbb2...
API: http://exercism.io
Exercises Directory: C:\Users\t.clarke\exercism

API key does indeed start with dbb2,

[2015-02-04 20:51] ZenoArrow commented on #159
Just to continue testing, I installed the same exercism CLI tool (v.1.9.2, Win 64bit), and used the same CLI environment (PowerShell v4.0) on a different PC on a different network. Worked first time.

This does add weight to the idea that the issue was with my work network. I'd like to help further to see if we can improve the debug output to include network status, is this something I can help yo

[2015-02-04 22:11] lcowell commented on #159
Perhaps we could add a check to the debug output, that exercism can talk to the api and xapi hosts ?

[2015-02-05 02:11] kytrinyx commented on #159
@lcowell that's a great idea!

[2015-02-05 09:21] ZenoArrow commented on #159
@lcowell I agree with @kytrinyx , great idea.

Is there a good chance this could be added to the next version of the CLI?

[2015-02-05 14:43] kytrinyx commented on #159
I can't promise a timeline, but it wouldn't be too difficult to add.

[2015-02-05 17:40] ZenoArrow commented on #159
Okay thanks. Just so you know, I'm happy to test it when it is available.

[2015-02-05 20:20] lcowell opened #160 "disambiguate debug command from debug flag"
I'm wondering if we should rename the debug flag from `--debug` to `--verbose`. The reason I'm suggesting this is that we also have a `exercism debug` command. This seems unnecessarily confusing.

The shorthand of debug is `-d` and so we'd also want to add a shorthand of verbose, but setting it to `-v` would conflict with the `--version, -v` flag. So, we'd have to eliminate the shorthand for versi

[2015-02-05 20:40] Tonkpils commented on #160
I'm not opposed to removing the shorthand version of `--version` option. For most CLIs that use `-v` for verbose they use either `-V` for version shorthand or just require `--version`.

[2015-02-05 23:23] lcowell commented on #159
OK, so I've got something really simple working. If everything looks good, it says:

[code]

Otherwise it puts the error message between the brackets.
[code]

[2015-02-06 03:02] kytrinyx commented on #159
This looks great.

[2015-02-06 03:02] kytrinyx commented on #160
Yeah, let's require `--version`, and have `--verbose` and `-v` for verbose.

[2015-02-06 12:48] ZenoArrow commented on #159
Looking forward to trying it out. :-)

[2015-02-06 18:31] #160 closed

[2015-02-06 18:32] lcowell commented on #159
@ZenoArrow I've pushed up that additional debugging output. Are you in a position to build from source so you can test it out ?

[2015-02-07 04:05] kytrinyx commented on #159
I'll cross-compile a release candidate

[2015-02-07 04:12] kytrinyx commented on #159
Update: I'm going to have to debug some build stuff on my machine, but can't do it today. I'll post an update this weekend.

[2015-02-07 07:25] ZenoArrow commented on #159
@lcowell Thanks so much! Haven't got a build environment set up, so will wait for @kytrinyx 's update.

[2015-02-07 20:04] kytrinyx commented on #159
Ok, @ZenoArrow here you go: https://github.com/exercism/cli/releases/tag/v2.0.0.beta.1

[2015-02-10 17:15] ZenoArrow commented on #159
Thanks @kytrinyx . I have tested it on the machine that had the issue previously, looks like the API and XAPI checks are working as expected:

**** Debug Information ****
Exercism CLI Version: 2.0.0.beta.1
OS/Architecture: windows/amd64
Home Dir: C:\Users\t.clarke
Config file: C:\Users\t.clarke\.exercism.json
API Key: dbb2...
API: http://exercism.io [Get http://exercism.io: net/http: request cance

[2015-02-11 02:35] kytrinyx commented on #159
Both of the connections are on port 80. Could this be a firewall issue? Someone added some troubleshooting steps for that: http://help.exercism.io/troubleshooting.html

[2015-02-11 02:36] kytrinyx commented on #159
I'll go ahead and close it, since it seems like the problem is on the machine, not in the client, but keep posting and we'll keep doing what we can to help figure out what's going on.

[2015-02-11 02:36] #159 closed

[2015-02-12 15:09] Tonkpils commented on #61
@bscofield did you get a chance on implementing something for this?

[2015-02-12 15:12] bscofield commented on #61
Alas, no :frowning:

[2015-02-12 15:23] Tonkpils commented on #61
No problem, just wondering on the update of this. I'll probably be taking a stab at this then.

[2015-02-16 01:46] kytrinyx opened #161 "respect $XDG_CONFIG_HOME"
@JulianAndrews makes a good point about supporting XDG_CONFIG_HOME on systems where it's set.

See https://github.com/exercism/exercism.io/issues/2212

[2015-02-16 20:06] kytrinyx commented on #83
This just came up in a conversation again today. We should really prioritize it, since it's such a low-hanging fruit.

[2015-02-16 22:47] zabawaba99 commented on #83
@Tonkpils pointed me to this issue and I started putting some stuff together to add this command on my fork. However, I couldn't seem to find any APIs that could be used to fetch a submission URL? Anything you could point me towards?

[2015-02-17 03:25] kytrinyx commented on #83
Oh, that's probably missing. I'll add it first thing tomorrow morning.

[2015-02-17 03:27] zabawaba99 commented on #83
Cool deal. I'll keep an eye out and make a PR with the `open` command.

[2015-02-17 03:28] kytrinyx commented on #83
Awesome. I'll post back here with some more info.

[2015-02-17 16:29] kytrinyx commented on #83
OK, the endpoint is GET http://exercism.io/api/v1/submissions/:track_id/:slug?key=abc123

The key represents the user's exercism API key.

[2015-03-01 01:59] kytrinyx commented on #73
I've added the endpoint to the API:

    POST /iterations/:language/:slug/skip?key=EXERCISM_API_KEY

[2015-03-05 15:04] kytrinyx commented on #83
Fixed in https://github.com/exercism/cli/pull/162 -- thank's @zabawaba99!

[2015-03-05 15:04] #83 closed

[2015-03-05 17:13] lcowell opened #163 "Feedback on implementation of verbose output feature"
I noticed that the `verbose` flag isn't actually being used anywhere in the code and I think it would be really useful to log information like what url was requested, and what json response came back. Being able to see this information  would give me (and other developers) a more concrete understanding of what's happening behind the scenes and make it easier to develop features and debug interacti

[2015-03-05 21:11] KaoruDev commented on #152
trying to dig into this issue on the api side i was wondering if there is a easy way to point the `cli` to a localhost url. `localhost:4567`?

[2015-03-05 22:53] Tonkpils commented on #152
The APIs can be configured via the `configure` command or you can modify them directly through your `.exercism.json` configuration file.

[2015-03-06 14:54] kytrinyx commented on #163
Yeah, the verbose thing was a hack that I put in specifically for a debug release at one point, and then took it out, because it should be done properly if we do it.

I think the distinction of fmt for output to the user and log for verbose and fatal errors would be fine. I don't see a reason to create our own logger at this point.

For handling the verbose flag, we could set it as a variable on t

[2015-03-06 14:55] kytrinyx commented on #152
@KaoruDev it's documented waaaaay at the bottom of the x-api contributing document: https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md#cli

[2015-03-08 20:13] KaoruDev commented on #152
got it thanks!

[2015-03-09 19:04] dkinzer opened #165 "No such file or directory with Download cmd."
When I try:

[code]

I see:
[code]

I can see that the file was downloaded properly, so the issue is more cosmetic.

Also, I don't understand how the file is being auto-opened.  The Download command seems to only download and specify where to find the downloaded file.

Debug Info:

[code]

[2015-03-09 19:22] dkinzer commented on #165
**Correction:**

the file is not all the files are being downloaded.  Specifically, only the test files are being downloaded.  The open command is trying to open the submission file which indeed does not exist.

[2015-03-09 19:24] Tonkpils commented on #165
This actually may have to do with the conversation on #152. The issue seems to be with the way the CLI is receiving the file paths. Notice how an extra `/haskell/accumulate/` is appended to it.

I was about to ask if all of the files were downloaded. This is the same issue mentioned above. The `open` portion of the error message is actually the CLI attempting to open the file at that path to write

[2015-03-09 19:32] dkinzer commented on #165
Great.  I'll close this as #152 should take care of it.

[2015-03-09 19:33] Tonkpils commented on #165
I'd ideally like to leave this open as it can be fixed apart from and this bug hinders the `download` feature.

[2015-03-09 19:34] dkinzer commented on #165
Got it.

[2015-03-13 17:43] horatius83 opened #168 "GetAddrInfoW: A non-recoverable error occurred during a database lookup"
Error: 2015/03/13 12:14:24 Get http://x.exercism.io/v2/exercises/haskell?key=[secret api key]: dial tcp : GetAddrInfoW: A non-recoverable error occurred during a database lookup.

I recently upgraded to a new computer and I moved the location of the exercism.exe file. When I type the url "http://x.exercism.io/v2/exercises/haskellkey=<secret api key>" into Chrome I get JSON data as expected, so I c

[2015-03-14 06:24] kytrinyx commented on #168
What do you get if you say `exercism debug` -- is it able to connect?

Apparently DNS resolution involves environment variables on Windows, but I don't understand the details of this yet.

[2015-03-15 01:14] Carpetsmoker commented on #137
If you use `fetch, it actually shows you which one to use:

    Not Submitted: 21 problems
                   Bob (clojure) /home/martin/exercism/clojure/bob
              Bob (coffeescript) /home/martin/exercism/coffeescript/bob
                       Bob (cpp) /home/martin/exercism/cpp/bob
	[...]

I think it would help a lot to just change the output slightly:

    Not Submitted: 21 problems

[2015-03-15 10:27] kytrinyx commented on #137
The exercises aren't actually numbered (you can do them out of order by asking for them directly, and the order can change, and these changes aren't tracked).

I think we could sort them by the date of when the directory was created, which can work as a sort of proxy.

I think it makes a lot of sense to change the display to put the language first.

[2015-03-15 12:14] fluxusfrequency commented on #137
That will work in some cases, but not if someone has their exercises on github and clones them down to a second machine.

[2015-03-15 12:19] kytrinyx commented on #137
Yeah, that's true. I won't bother with the sorting thing.

Having thought about it, I still think that "current" would be useful, but I think that improving the ability to scan for language will help, so I'll fix that.

[2015-03-16 14:09] horatius83 commented on #168
This is what it produced:

**** Debug Information ****
Exercism CLI Version: 2.0.0
OS/Architecture: windows/amd64
Home Dir: C:\Users\horatius83
Config file: C:\Users\horatius83\.exercism.json
API Key: <secret>
API: http://exercism.io [Get http://exercism.io: dial tcp: GetAddrInfoW: A non-recoverable error occurred during a database lookup.]
XAPI: http://x.exercism.io [Get http://x.exercism.io: dia

[2015-03-16 14:25] Tonkpils commented on #168
You're running the binary from a network drive correct?

[2015-03-16 17:05] horatius83 commented on #168
That is correct.

[2015-03-18 02:53] kytrinyx commented on #168
What does debug say if you configure it to look at an IP address directly?

[code]

How about a famous/common domain, e.g. google.com?

[code]

[2015-03-18 02:55] kytrinyx commented on #168
Do you have any firewall software running? Or any anti-virus stuff that might be interfering?

[2015-03-18 17:24] horatius83 commented on #168
PS Q:\exercism> .\exercism configure --api=http://54.235.95.213
The configuration has been written to C:\Users\horatius83\.exercism.json
Your exercism directory can be found at Q:\exercism
PS Q:\exercism> .\exercism debug

**** Debug Information ****
Exercism CLI Version: 2.0.0
OS/Architecture: windows/amd64
Home Dir: C:\Users\horatius83
Config file: C:\Users\horatius83\.exercism.json
API Key: [se

[2015-03-20 14:42] kytrinyx commented on #168
firewall / antivirus issue.

Yeah, that does seem likely. Thanks for the extra information, I'll see what I can figure out.

[2015-03-21 00:42] lcowell commented on #168
The error is originating from a function called `newLookupPort` or `newLookupIP` in `src/net/lookup_windows.go` in the go source. There are both called from `sysInit` in `fd_windows.go`. This is first called from `init` in `ipsock.go`.

I'm wondering if windows has some rules about what an executable running from a remote drive can do.

[2015-03-22 18:25] kytrinyx commented on #23
Closing due to inactivity. If you are still experiencing this issue, please reopen this with more information. Thanks!

[2015-03-22 18:25] #23 closed

[2015-03-22 23:46] kytrinyx commented on #35
Closed in https://github.com/exercism/cli/pull/166

[2015-03-22 23:46] #35 closed

[2015-03-23 01:05] davidalpert opened #170 "Provide a useful error message if the config JSON is invalid"
just installed manually into my path on a Win64 machine running Windows 7.

[code]

[2015-03-23 01:10] kytrinyx commented on #170
wow, that's kind of awful!

Is the binary actually called `exercism.exe` or something weird like that?

[2015-03-23 02:33] davidalpert commented on #170
![image](https://cloud.githubusercontent.com/assets/43332/6773171/fe84b04e-d0da-11e4-9e37-4b0db5ed7756.png)

in my path.

[2015-03-23 14:27] lcowell commented on #168
My previous analysis was a bit off. The function is only assigned in sysInit/init, not called.

I found the identical error text here:
https://msdn.microsoft.com/en-us/library/windows/desktop/ms740668(v=vs.85).aspx#WSANO_RECOVERY

This seems like this could be related:
http://stackoverflow.com/questions/4368877/net-proccess-failing-dns-lookup-with-windows-7

[2015-03-23 14:28] lcowell commented on #170
@davidalpert can you provide us with an `exercism debug` ?

[2015-03-23 16:43] joneshf commented on #161
:+1: anything we can do to move this along?

[2015-03-23 18:15] kytrinyx commented on #161
No need to apologize--it's a tiny fix, we've just been swamped. The fix would need to go here: https://github.com/exercism/cli/blob/master/config/config.go#L70

To support the XDG_CONFIG_HOME if available, and fall back to regular env, which then falls back to a default in the home directory.

[2015-03-23 19:05] Tonkpils commented on #161
I've been a bit swamped with work. I have one feature almost complete here and I can move onto this issue if no one has gotten to it by then.

[2015-03-23 20:11] joneshf commented on #161
Well, I was going to attempt to tackle this, but I can't get passed step 5. `go get` just tells me:

[code]

I've no experience with go, so I'll probably just wait for the change.

[2015-03-23 20:15] Tonkpils commented on #161
@joneshf if you're running into any issues on the setup following the README, I'd be glad to help out. are you running `go get` from within the project's directory?

[2015-03-23 20:19] joneshf commented on #161
Yep, just copy paste and modify for my username in step 4.

Everything else ran normally.

[2015-03-23 20:29] Tonkpils commented on #161
Use `go get ./...`

That will go into every sub-package in the project and fetch each of the dependencies. The README will need to be updated to reflect this.

Let me know how it works and if you run into any other issues.

[2015-03-23 20:37] joneshf commented on #161
Got to the point of running `glitch`, it fails with the following information:

[code]

[2015-03-23 20:41] joneshf commented on #161
In any case, after installing  (just copying what the travis file does) I get more errors when I run `glitch` or `go test ./...`:

[code]

Same error either way.

[2015-03-23 20:42] Tonkpils commented on #161
`go get` by default doesn't not pull test dependencies. Run `go get -t ./...` If you're running Go v1.4. Otherwise you'll need to go get testify manually according to the README.

[2015-03-24 01:57] kytrinyx commented on #161
I'll fix the README. Glitch is handy but not necessary.

[2015-03-24 15:57] #73 closed

[2015-03-25 23:52] davidalpert commented on #170
[code]

[2015-03-26 01:46] kytrinyx commented on #170
Weird, it dies in the middle of the output, and it doesn't even log a failure.

Could you copy/paste the output of the json config file? It's usually called `.exercism.json` in the home directory.

[2015-03-26 18:35] lcowell opened #172 "EXERCISM_CONFIG_FILE env should handled in app configuration"
We have logic in the config package to check the `EXERCISM_CONFIG_FILE` environment variable and the provided path to determine when the config file lives. This is actually something that we can get for free from codegangsta/cli. This would clean up the config package and expose the environment variable in the app help output.

Any thoughts on this before I implement it ?

[2015-03-26 22:38] Tonkpils commented on #172
I'd have to see the implementation to see what you mean. Or maybe point me in the direction of the pice of the CLI package the functionality that you're looking to implement?

Aside from that, I'm all for simplicity and readablilty and if this effort improved that, then I'm all for it!

Might this also be a good time to tackle #161 for the XDG_CONFIG_HOME?

[2015-03-27 01:26] kytrinyx commented on #172
Yeah, if we can lean on existing functionality in codegangsta/cli, that would be great.

[2015-03-27 03:12] davidalpert commented on #170
well, now I feel silly.

that error message about an `invalid character 'e' in string escape code` was the result of a key-pair in my json config file that looked like this:

[code]

notice the unescaped single backslash in the path? that was the invalid `\e` character complained about by the error message; I fixed it:

[code]

and it works fine.

I haven't worked with Go yet or I'd submit a pull

[2015-03-27 03:32] kytrinyx commented on #170
Yeah we should complain about invalid json in the config.

[2015-03-27 15:18] lcowell commented on #172
@Tonkpils I'm referring to adding this type of option to our app config: https://github.com/codegangsta/cli#values-from-the-environment

[code]

I've built a couple of cli apps using it and it would work like this:
`command line option > environment variable > defaults`

I think the XDG_CONFIG_HOME would require a different approach. My understanding is that env variable points to a directory, so

[2015-03-27 16:11] Tonkpils commented on #172
Looks good to me :+1:

[2015-03-28 05:06] kytrinyx commented on #172
Yepp, me too. Go for it.

[2015-03-28 07:29] flayisflay commented on #23
I'm getting hit with this as well. Any fetch in any lang yields:
API response - json: cannot unmarshal string into Go value of type []api.SubmissionInfo

Installed via AUR package

[2015-03-28 16:11] kytrinyx commented on #23
@flayisflay -- what does `exercism debug` say?

[2015-03-28 16:12] kytrinyx commented on #23
Oh, the AUR package. I don't have access to that, and it's wildly out of date :(

The easiest thing is to grab the most recent binary: https://github.com/exercism/cli/releases and stick it in your path.

[2015-03-30 03:06] flayisflay commented on #23
Looks like it was because I hadn't configured the API key yet. I grabbed the github package before the AUR one, actually.

I just had to dig around for the tutorial for the answer.

Thanks for the quick reply.

[2015-03-31 01:06] kytrinyx commented on #23
I thought we had a better error message if you weren't configured. We should double check that.

Glad you got it solved.

[2015-03-31 06:28] rstackhouse opened #174 "panic: runtime error: makeslice: len out of range"
Mon Mar 30 22:03:47:Downloads rstackhouse$ exercism fetch cpp

panic: runtime error: makeslice: len out of range

goroutine 1 [running]:
strings.Repeat(0x38c6b0, 0x1, 0xfffffffffffffffb, 0x0, 0x0)
	/usr/local/go/src/strings/strings.go:458 +0x68
github.com/exercism/cli/user.(*Homework).heading(0xc20800ade0, 0x3, 0x1, 0x9)
	/Users/kytrinyx/code/go/src/github.com/exercism/cli/user/homework.go:115 +0x

[2015-03-31 07:26] kytrinyx commented on #174
Thanks! What does `exercism debug` output?

[2015-03-31 15:48] #172 closed

[2015-04-01 03:26] rstackhouse commented on #174
Tue Mar 31 22:25:15:~ rstackhouse$exercism debug

**** Debug Information ****
Exercism CLI Version: 2.0.1
OS/Architecture: darwin/amd64
Home Dir: /Users/rstackhouse
Config file: /Users/rstackhouse/.exercism.json
API Key: #############################
API: http://exercism.io [connected]
XAPI: http://x.exercism.io [connected]
Exercises Directory: /Users/rstackhouse/exercism

If you are having troubl

[2015-04-01 04:00] rstackhouse commented on #174
I ran `exercism demo` before `exercism fetch cpp`. Not sure if that has anything to do with this.

[2015-04-01 05:12] lcowell commented on #174
I get the same error if I call `exercism fetch cpp`. Could this be a regression in multi-file support ?

[2015-04-01 06:35] jamescowie commented on #174
I get the same issue as above. Mac OSX. Installed using homebrew

[2015-04-01 16:03] kytrinyx commented on #174
I don't get the error. Weird. I suppose I might have built 2.0.1 with different code.

Yeah, it could be.

I need to go to work, but I'll see about sorting this out tonight.

[2015-04-02 02:35] kytrinyx commented on #174
I believe I have a fix for this. @lcowell would you mind building this locally and checking if it works for you?

[2015-04-02 02:46] lcowell commented on #174
Looks good to me.

[2015-04-02 02:55] kytrinyx commented on #174
Sweet. Cutting a release now.

[2015-04-02 03:03] #174 closed

[2015-04-02 03:13] kytrinyx commented on #174
The release is up here: https://github.com/exercism/cli/releases/tag/v2.0.2 I'm submitting a fix to homebrew, but that tends to take a few days to go in.

[2015-04-02 14:01] kytrinyx opened #176 "Provide a useful error message if the EXERCISM_CONFIG_FILE points to a directory"
Someone reported the following:

It turns out they had put a folder as the EXERCISM_CONFIG_FILE instead of the actual file

[2015-04-02 18:11] lcowell commented on #176
I think I can take this on. I'll be using the same mechanism to turn XDG_CONFIG_HOME in to a full config path.

[2015-04-03 00:40] kytrinyx commented on #176
nice, thanks

[2015-04-03 00:41] #161 closed

[2015-04-03 00:41] #176 closed

[2015-04-03 00:42] kytrinyx commented on #161
This is fixed in master, but has gone into a release yet.

[2015-04-03 13:52] Tonkpils commented on #163
This is a good idea. One nice thing that we could do is wrapping the `log` package so that we can insert our own messages when a Fatal error happens. Maybe having a message logged that guides the user to submit an issue.

[2015-04-03 14:33] kytrinyx commented on #163
Yeah, wrapping log.Fatal would be great.

[2015-04-03 14:34] #170 closed

[2015-04-03 20:21] evelynmitchell opened #180 "exercise download directory defaults to home dir"
This should be ask where you want them, then update config file. This should happen if there is no config file.

[2015-04-03 20:23] evelynmitchell commented on #180
Note this is from the command line client, Linux binary.

[2015-04-03 21:38] kytrinyx commented on #180
I don't want to default to having an interaction. Perhaps the default behavior could be to put it in /tmp if the CLI is unconfigured.

[2015-04-03 22:17] Tonkpils commented on #180
If I understand correctly, `download` currently defaults to storing the files in the home directory?

What if instead we don't allow using the `download` command until you have the CLI configured? Otherwise, I like the `tmp` solution.

[2015-04-04 00:27] kytrinyx commented on #180
How about the demo? It uses download, right?

[2015-04-04 01:38] #165 closed

[2015-04-05 19:48] zmanian opened #183 "http://cli.exercism.io/install should be hosted on github and available over TLS"
The default installation instructions

[code]
are unsafe. They permit an MITM to attack a user by modifying the install script in transit. As we've seen, developer machines are a high value target for attackers.

Install scripts should be hosted on an TLS server.

Remedies

- Acquire an TLS cert for cli.exerercism.io subdomain

or.

- Host the install script on github

[2015-04-06 01:08] kytrinyx commented on #183
The install script is already hosted on github, technically: https://raw.githubusercontent.com/exercism/cli-www/master/public/install

We can point to that instead of having it on the cli.exercism.io domain.

[2015-04-06 01:21] kytrinyx commented on #183
I've updated the docs to point to the install script that is hosted on GitHub.

Thanks for the suggestion.

[2015-04-06 01:21] #183 closed

[2015-04-06 17:04] Tonkpils commented on #180
Demo doesn't seem to use download.

[2015-04-07 04:33] kytrinyx commented on #180
Ok, cool. It's probably simpler if we make you configure the client before downloading, in that case.

[2015-04-08 16:40] lcowell commented on #163
I wonder if rather than simply wrapping the stdlib log package, it should provide a slightly different interface. I'm wondering if we should be able to set a log level at the package level and add methods like `log.Info`, `log.Infof`, `log.Warn` and `log.Crit`. Those methods would only produce output if the log level is high enough. Is this overkill? Would it be enough to have debug logging on or

[2015-04-08 17:02] Tonkpils commented on #163
I like the idea of the interface. However, we have a couple of different things going on here though. One is the information that is displayed to the user which can be success or error information. Second, we have extra logging that would only be shown when the verbose/debug option is on or off. We have either verbose or not. Errors however, would always/should always need to be displayed and are

[2015-04-08 17:26] Tonkpils commented on #180
@kytrinyx the problem is that configure actually defaults the exercism directory to the home directory if a directory is not provided during configuration.

[2015-04-09 02:01] kytrinyx commented on #180
Oh, right. Hm. Should configure just not have a default and return an error if a dir is missing?

[2015-04-09 16:08] Tonkpils commented on #180
Maybe a bit more verbosity on the steps during configure would be good? Specifying that any fetched/downloaded exercises will be stored in your exercism directory.

I think that having the default be the home directory is ok.

@evelynmitchell are you sure that the configuration file didn't exist when you attempted to download? The latest version of the CLI should fail when calling `download` if th

[2015-04-09 18:05] canweriotnow commented on #102
'leinification' should primarily be as simple as generating a proper basic `project.clj` and moving files to the idiomatic paths (`src/{{projectname}}`,`test/{{projectname}}` and handling the requires; I think the best way to do this, honestly, would be to create a lein-template for slurping in an existing project dir and using it to generate a new lein project with sensible defaults, rather than

[2015-04-09 18:37] evelynmitchell commented on #180
"@evelynmitchell are you sure that the configuration file didn't exist when you attempted to download?" Yes. The first activity I tried was the demo. No configuration.

[2015-04-10 05:41] kytrinyx commented on #102
That sounds like a sensible approach. I'd be happy to do any of the work necessary on the CLI to tie things together.

[2015-04-10 05:43] kytrinyx commented on #180
Yeah, the `demo` command definitely works without a config.

How about adding an optional `--dir` flag to the demo so that people can specify where the problems get written to?

[2015-04-16 16:22] Tonkpils commented on #180
I think that's a good solution.

[2015-04-17 05:44] canweriotnow commented on #102
Cool... I can't promise when I'll have time to dive into it, but lein is pretty easy to hack, so I'll put that in the bucket with continuing to work on exercism-emacs now that xscheme is launched :)

[2015-04-17 21:54] lcowell commented on #163
Thanks for clarifying @Tonkpils . I've pushed something up to my fork here:
https://github.com/exercism/cli/compare/master...lcowell:logger_output

Does this seem like it's on the right track ? I'd probably add a generic `Print` function and add functions like `Errorf` so we can also use formatting.

[2015-04-18 13:03] Tonkpils commented on #163
That looks good to me. :+1:

[2015-04-24 20:52] #180 closed

[2015-04-25 14:18] kytrinyx opened #187 "We lie about fetching the next exercise..."
In `cmd/submit.go` we say _To get the next exercise, run "exercism fetch" again_ whenever you submit. This is not actually true. We only unlock the next exercise if this is the first iteration of a submission.

I've modified the response from the server to include an `iteration` key, which is an `int`. When `iteration` is 1, then we can say that a new problem is available.

... And of course even

[2015-04-25 18:28] Tonkpils commented on #187
I'm not 100% familiar with the design of the iterations on the server how feasible would it be to actually have a count of total exercises for a track and a count of submitted exercises for a user? That would allow us to tackle two issues. I can probably spend some time to take a look at it but I haven't been in the codebase in a while. Thought maybe you'd have a better idea.

[2015-04-25 19:19] kytrinyx commented on #187
We can know how many issues there are in a track very easily--the Problem API already has that information and can send the number along when fetching.

The number of things they've completed is another matter--that's the exercism.io repo. But... what if every time they fetch we stick the name of the track/problem in a redis set? Or we could even do a redis hash of problem/track => fetch count, wh

[2015-04-25 19:23] kytrinyx opened #188 "Warn instead of blocking when submitting /test/"
See https://github.com/exercism/xgo/pull/168 for a discussion

[2015-04-25 19:26] kytrinyx commented on #187
BTW - I haven't deployed yet. I'm super jet-lagged and don't want to accidentally break something when I don't have the brain power to fix it. I'll deploy the `iterations` thing tomorrow.

[2015-04-26 09:06] pminten commented on #188
I'll take a stab at this.

[2015-04-26 09:38] #188 closed

[2015-04-28 17:15] Tonkpils commented on #187
What if the we stuck the submission count in a redis hash with the API key as the hash key that way we could just match the API key with the submission count on fetch.

I don't want to clutter this issue with what seems to be a separate discussion. Want to move it to a more appropriate place?

[2015-04-28 20:10] kytrinyx commented on #187
Yeah, let's move the discussion to a new issue.

[2015-05-10 17:15] lcowell commented on #163
I'm just taking another pass at this and I was wondering what you think about multiline output. Say we have a message like this:

<pre>
Submitted bob in ruby.
Your submission can be found online at http://url.com/path

To get the next exercise, run "exercism fetch" again.
</pre>

The current behaviour would be to only prepend the first line with "Info". I think this might make the output look inco

[2015-05-10 17:48] kytrinyx commented on #163
The "Info" stuff seems like noise to me. I don't think we should have log-like output unless we turn on the --verbose flag. It's kind of more like UI/UX than logging at this point.

[2015-05-10 21:30] Tonkpils commented on #163
:+1: to not having the "Info" and just adding log-like output for --verbose.

[2015-05-11 14:56] Tonkpils opened #191 "Loosen restriction of --test flag"
From https://github.com/exercism/exercism.io/issues/2381#issuecomment-100293890

We should allow test files and exercise files to be submitted together if `--test` is enabled.

Would it also make sense to rename the flag to `--with-test-files` or something similar?

[2015-05-11 16:38] Tonkpils commented on #191
Another approach we could take is to have `--test` flag actually just be a flag to denote that the value of it its a test submission and we could do

[code]

Thoughts?

[2015-05-12 06:05] kytrinyx commented on #191
I prefer to simply loosen the restriction as with your first suggestion. I like the short `--test` flag rather than the longer one, but I'm open to discussing pros/cons there.

[2015-05-12 13:43] Tonkpils commented on #191
The only con that I can see with the current name is that, as you saw in the issue in the exercism.io repo, the user thought the flag was meant to be used with an argument of the test file during multiple file submission. A pro of making the flag more descriptive be that it shows the intent of the flag in allowing test files to be submitted.

Again this may be a one off issue so it may not be a bi

[2015-05-12 14:29] kytrinyx commented on #191
Cool, yeah, this looks good. Let's see how that works before tweaking it.

[2015-05-12 14:36] #191 closed

[2015-05-13 13:57] kytrinyx commented on #152
I think this is was fixed in the previous release. Would someone mind confirming?

[2015-05-13 15:27] Tonkpils commented on #152
I'm not sure the release fixes this issue. This issue is tied to the path received from the API during fetch. I believe we put a patch over this issue for the `download` command but not for fetching.

[2015-05-13 15:43] kytrinyx commented on #152
OK, thanks for re-reading through that and clarifying.

[2015-05-19 11:11] amar47shah opened #193 "Cannot configure directory with path relative to `~`"
After installing the exercism cli, I couldn't configure the exercism directory without specifying an absolute path.

In particular, I couldn't configure a path from the home directory using `~`, as in the example given in the configuration [instructions](http://help.exercism.io/configuring-the-cli.html).

(Using zsh on OS X.)
[code]
I expected this to set my exercism directory as `/Users/amar/my_a

[2015-05-19 13:00] kytrinyx commented on #193
Verbose is very useful, thanks for reporting this. I would have expected the code to replace `~/` correctly as well.

What version of exercism do you have? (`exercism -version`)

[2015-05-19 15:57] Tonkpils commented on #193
I've confirmed the issue and have a patch ready. Updating a configuration wasn't expanding the home path.

[2015-05-19 16:50] kytrinyx commented on #193
Ah, nice find!

[2015-05-19 16:51] #193 closed

[2015-05-19 16:51] kytrinyx commented on #193
This is fixed in master, I'll put out a build in the next couple of days.

[2015-05-20 17:06] amar47shah commented on #193
Thanks so much!

[2015-06-23 02:36] #61 closed

[2015-06-23 03:02] kytrinyx opened #197 "Improve error message when track / problem cannot be identified"
A lot of people have trouble with the submit command, because they've put their solution files outside of the exercism working directory.

https://github.com/exercism/exercism.io/issues/2335

Perhaps we can improve the error message to explain what was expected as opposed to what actually happened ("you gave me this... but I'm looking for something like this.").

[2015-06-26 16:16] Leandros opened #198 "error parsing API response"
trying to do the demo, with `exercism demo` on osx 10.10, using the pre-compiled x64 version of the binary.

I'm getting this error:
[code]

Debug Info:
[code]

[2015-06-26 16:27] Tonkpils commented on #198
Thank you for the report!

I've confirmed the issue and will be working on a hotfix.

[2015-06-26 16:40] Tonkpils commented on #198
I'll be closing this in favor of https://github.com/exercism/x-api/issues/61 since it seems to be an issue with the server response rather than the CLI itself.

[2015-06-26 16:40] #198 closed

[2015-07-28 17:50] ghost opened #201 "Trouble downloading exercism CLI on Mac OS X"
I use Mac OS X.  I was trying to install the CLI using the instructions on http://help.exercism.io/installing-the-cli-on-mac.html and I ran into a few issues.  I tried several methods, with some working, and some not.

## Method 1: Homebrew (not working)
I first tried the homebrew method:
[code]

However, I received the following output from `brew install exercism`:
[code]

When I searched for the

[2015-07-28 18:48] tejasbubane opened #202 "`exercism upgrade` throws an error"
This is the error:

[code]

I think it should display that I am running on the latest version if no upgrades are available.

[2015-07-28 18:51] tejasbubane commented on #202
cc: @Tonkpils

[2015-07-28 21:28] Tonkpils commented on #202
The issue seems to be Github is not responding within the specified timeout. We need to check the latest release version in order to assert you do have the latest version.

I'll fix up the message to ensure it explains what is actually happening.

[2015-07-28 21:34] Tonkpils opened #203 "Improve Upgrade Message"
From #202

The error message when we fail to get the latest release version in order to check if the upgrade is needed could be improved to better explain what actually happened.

It currently seems as if we tried the upgrade; when in reality, we are just fetching the latest version to check if upgrade is necessary.

[2015-07-28 22:43] Tonkpils commented on #202
It seems the timeout set for checking the latest release version was too low. I'll be releasing a new version which makes improvements to the upgrade command.

[2015-07-28 23:18] Tonkpils commented on #201
I'm taking a look at these issues and I'll update as I move down the methods you've provided. Thanks for the detailed report!

## Method 1

It seems that the exercism binary was moved out and into core according to https://github.com/Homebrew/homebrew/pull/41699

We'll need to fix the README and any documentation that states using homebrew-binary as the source for installing through homebrew

[2015-07-29 02:06] manuisfunny commented on #201
For Method 2, using the install script, I think it might just be my machine.  Because I can't follow the redirect (to Amazon S3 URL) and ignore the SSL certificate verification without adding additional arguments to either `curl` or `wget`, either of which are used in the install script.

I can look into how to fix this on my own.  Thanks.

[2015-07-29 02:40] kotp opened #205 "Instructions to submit exercise could be improved."
I was trying exercism in the morning, submitting doesn't work.
 I had a relative path to the exercism folder
Maybe put a message when you set a path that it should be a full path and not a relative path.

[2015-07-29 13:04] Tonkpils commented on #205
relates to #197

[2015-07-29 13:05] Tonkpils commented on #205
Could you give me the output of the `exercism debug` without your API key and the error you were getting? If I'm not mistaken, if written correctly, the CLI should expand out relative paths.

[2015-07-29 18:50] zabawaba99 opened #206 "Short verbose flag '-v' doesn't work"
If you specify the global option `-v` on any command it prints the version

[code]

I dug around a little it and it looks like [codegansta/cli](https://github.com/codegangsta/cli) checks for a few flags (`-v`) included when it [runs the app](https://github.com/codegangsta/cli/blob/master/app.go#L130). I don't see any way to support the `-v` at the moment without changes to codegansta/cli.

I'd be

[2015-07-29 18:54] zabawaba99 commented on #206
It seems like the long flag name doesn't work either

[code]

[2015-07-29 18:58] Tonkpils commented on #206
Good catch, it seems that the references to the `debug` flag, now `verbose`, were not updated. We should update all the references to use the new "verbose" flag.

[2015-07-29 19:07] Tonkpils commented on #105
This has been resolved with the `upgrade` command.

[2015-07-29 19:08] #202 closed

[2015-07-29 19:08] #203 closed

[2015-07-29 19:22] zabawaba99 commented on #206
There is actually an open issue for it on codegansta/cli https://github.com/codegangsta/cli/issues/254

[2015-07-29 19:41] #206 closed

[2015-07-29 22:35] erikb85 commented on #105
Could you link issues, commits or something? Haven't been following closely enough to know about this command.

[2015-07-29 23:24] Tonkpils commented on #105
Sure, I'll go ahead and do it once I have access to a computer.

[2015-07-30 01:04] kytrinyx commented on #105
Here you go: https://github.com/exercism/cli/pull/196 https://github.com/exercism/cli/issues/61

[2015-07-30 03:38] kotp commented on #205
Sorry, it was not my error, reported for someone else.  I will see if we can get more details.  @felipe-

[2015-07-30 06:41] erikb85 commented on #105
Cool thanks!

[2015-07-30 13:22] Tonkpils commented on #205
No problem, I'll work with the info you gave me for now. Thanks for the report!

[2015-07-30 14:12] felipe- commented on #205
I had the issue. When submitting an exercise I got the following message:
[code]
This is the conf I had at the moment.
[code]
I replaced the dir value with a full path and now it works.

[2015-08-01 17:05] kytrinyx commented on #203
+100! Thanks.

[2015-08-01 17:07] kytrinyx commented on #205
@felipe- what does `exercism --version` give you? I think we fixed this at some point, but I want to be certain.

[2015-08-01 18:33] felipe- commented on #205
2.2.0

[2015-08-02 15:09] kytrinyx commented on #205
Thanks @felipe- it looks like we have a bug.

[2015-08-02 15:13] kytrinyx commented on #205
@Tonkpils I think the issue is that the path was given relative to the present working directory rather than relative to the home directory:

[code]

as opposed to

[code]

[2015-08-02 16:15] lcowell commented on #205
Do you think we need to change the behaviour to understand the location of the directory or do a better job of guarding against bad input?

Making a guess about what the user really means when they say `Something/exercism` seems like it opens us to future issues. Did the user mean `/home/user/Something/exercism` or did they mean `/home/Something/exercism`? I think we guard against bad input and he

[2015-08-02 16:46] kytrinyx commented on #205
I would say that if they don't add the `~` and it doesn't start with a `/`, then we would probably want to assume that it is relative to the current directory.

[2015-08-02 18:02] lcowell commented on #205
If we check for those values at runtime, wouldn't it lead to issues like: "exercism only works when I'm in a particular directory" ? It could also lead to a user having 2 exercism directories which could be really confusing. I think it's better to catch the error early so we don't need to consider this edge case later one.

I'd agree with your suggestion if we did that check while the user was con

[2015-08-02 21:30] kytrinyx commented on #205
That's what I meant, actually :)

[2015-08-03 22:25] #205 closed

[2015-08-09 17:49] jveiga opened #209 "Error parsing API response"
Just after submitting a Clojure exercise, I did
[code]

[2015-08-09 19:48] kytrinyx commented on #209
Thanks, looking into this now!

[2015-08-09 19:56] kytrinyx commented on #209
This is a problem in the linux flavoured lisp track. To work around it until we can get it sorted, you can say `exercism f clojure` to get the next exercise.

[2015-08-09 20:11] kytrinyx commented on #209
I've deployed a temporary fix until the LFE track maintainers can put in a proper fix. Thanks again for reporting this!

[2015-08-09 20:11] #209 closed

[2015-08-12 09:58] NobbZ commented on #137
I just skipped some exercises in various languages and now came to a point where I skipped the last exercise in a track. The cli seems to think that I have finished that track, and doesn't show it any more after I do `exercism f`. Perhaps display the first skipped exercise of the track again as the current unsubmitted one?

Or extend the cli, so that it can show a list of all skipped exercises?

[2015-08-13 01:40] kytrinyx commented on #137
Yeah--we should probably do both of those things. I'll add an issue for the skipped command.

[2015-08-13 01:41] kytrinyx opened #210 "List skipped exercises"
We should have a way to show you which exercises you've skipped. This could be as a separate section in the `current` command, perhaps, or a new command.

[2015-08-16 19:20] kytrinyx opened #211 "Default to XDG_CONFIG_HOME for config path, if it is defined."
https://github.com/exercism/exercism.io/issues/2483

[2015-09-02 00:40] #211 closed

[2015-09-05 16:30] lcowell opened #216 "preview: reorganize to work with go build"
We were talking about different build options for the cli, so I put together what the project would look like if we moved to go build (`gb`). I thought it would be useful to review and see if it's worth it to make the change.

You can see what I put together here:
https://github.com/lcowell/cli/tree/gb

Pros
- control of dependencies
- reproducible builds
- built in cross platform builds

Cons
- g

[2015-09-05 22:57] Tonkpils commented on #216
What would be the downside of using Go's built in vendoring instead of relying on a third party? I know it's experimental but it'd be worth jumping on that so we can be ready when it's actually supported.

[2015-09-06 15:38] kytrinyx commented on #216
I've not actually been running `glitch` lately, and would be fine with swapping it out if it lets us simplify something else.

[2015-09-06 17:41] lcowell commented on #216
The GO15VENDOREXPERIMENT="1" thing would actually work well. It seems like the smallest change for the biggest benefit

Any ideas on how to handle those dependencies from a git perspective? We could simply inline it or look at git-subtree or git-submodule.

[2015-09-06 18:01] Tonkpils commented on #216
Not sure I understand what you mean. I'm believe the dependencies would just get checked in to the repo as you would with `godeps` or `gb`.

[2015-09-06 18:17] lcowell commented on #216
From what I've just read, using the git features I mentioned is not recommended. So yeah, we should just check in the dependencies to the project. It's not clear to me how we would update our dependencies without it being tedious, but maybe that's where a tool like `gb` (or something else) comes in.

I'd be happy to see this done, I know some of the trouble I had working with the `cli` when I firs

[2015-09-06 18:20] Tonkpils commented on #216
We can look into it, with Godeps it was as simple as doing `godep update my/package` and it would update the necessary package in the Godeps folder and you would just commit it. I haven't looked too deep into go 1.5 vendoring but I'm sure it has something similar as does `gb`. Let me read a bit into it and i'll check back.

[2015-09-09 22:06] kytrinyx opened #217 "cross-compile for ARMv7"
Someone asked to use exercism on a Pi 2 today. I don't know if Go has support for ARMv7 yet, but if/when it does, we should add support for it.

[2015-09-09 22:10] kytrinyx opened #218 "Write a copy/paste-able release text"
Last week an interesting thing came up. Newer programmers who are trying to get started with exercism often end up on the cli releases page here on GitHub and they don't quite realize that they're not on exercism, they don't really know why they're downloading or why, and they have no idea where to go next. They're very, very confused.

We should have a markdown text that explains

* What the CLI

[2015-09-09 22:35] kytrinyx commented on #217
It's supported, I've added it to the build.

[2015-09-09 22:35] #217 closed

[2015-09-09 23:06] Tonkpils commented on #217
:tada:

[2015-09-09 23:09] Tonkpils commented on #218
Do we know the reason why they end up in the releases page? There was an issue where someone pointed out that their attempt at installing the CLI was because all other options failed and they ended up at the releases page.

I think any reference to the releases page on the help sections of the website should probably be removed as it should only be used as last option and with some knowledge of wh

[2015-09-09 23:15] kytrinyx commented on #218
Right now the onboarding process is a mess. We're going to tackle it, but it's going to be a hundred small changes. This would just be one thing that helps orient people if they end up on the releases page.

[2015-09-10 00:51] Tonkpils commented on #218
Yeah, I definitely agree. We'll fix that in the mean time here but if there's anything I can do to help out in the front-end of things let me know :smile:

[2015-09-10 00:52] kytrinyx commented on #218
Excellent, I expect to be focusing on the onboarding process over the next few weeks, so I'll know more in a bit.

[2015-09-25 17:35] masters3d opened #219 "$XDG_CONFIG_HOME Custom Subdirectories for CLI"
Any way to give the CLI a custom subdirectory to move/point the ``$XDG_CONFIG_HOME/.exercism.json`` file to?
``$XDG_CONFIG_HOME/<Custom>/.exercism.json``

I love the option that already have to point the problems folder to something custom.

https://github.com/exercism/cli/pull/215/
https://github.com/exercism/exercism.io/issues/1819

[2015-09-25 17:53] masters3d opened #220 "restore adds subfolders to some submissions and not others"
![image](https://cloud.githubusercontent.com/assets/6539412/10107929/1378a214-6373-11e5-9f76-960c0e9ed2f9.png)
![image](https://cloud.githubusercontent.com/assets/6539412/10107934/21c8c40c-6373-11e5-80b9-5439071e0e0a.png)

[2015-09-25 18:05] kytrinyx commented on #219
I suppose we could have another config variable. I don't know. What would make sense?

[2015-09-25 18:07] kytrinyx commented on #220
Oh, wow. That's an interesting one. If you visit your `clock` exercise on the website, is the file path weird?

[2015-09-25 18:09] masters3d commented on #220
interesting is the same
![image](https://cloud.githubusercontent.com/assets/6539412/10108443/c576d75e-6375-11e5-8d15-9a761ec46fc2.png)
![image](https://cloud.githubusercontent.com/assets/6539412/10108476/eab5e0aa-6375-11e5-92d1-a4eb614d5812.png)

[2015-09-25 18:23] masters3d commented on #219
I prefer to have it in one spot, same as $EXERCISM_CONFIG_FILE

or something along these lines (at least for my mac set up)
~/user/Documents/exercism/

This wont be platform agnostic though.

[2015-09-26 16:08] kytrinyx commented on #220
I suspect that we ended up with a wonky data migration here. I'll comb through the data in production and see if I can detect these and clean them up.

[2015-09-26 16:09] kytrinyx commented on #219
I'm not sure what you mean. Could you elaborate?

Yeah, we need to be platform agnostic.

[2015-09-26 16:21] masters3d commented on #219
I was thinking everything should be in the same folder as $EXERCISM_CONFIG_FILE

After looking more into this and also on being platform agnostic, I don't think my request is valid.

Im closing this. Thanks for the input!

![image](https://cloud.githubusercontent.com/assets/6539412/10118549/a1c0deda-642f-11e5-8e77-1a4f12009d66.png)

[2015-09-26 16:21] #219 closed

[2015-09-26 16:21] masters3d commented on #220
Cool. Thanks!

[2015-09-26 17:49] kytrinyx commented on #219
Thanks for taking the time to think this through with me!

[2015-10-03 21:32] sjfloat opened #221 "fetch always adds a new exercise"
Scenario: I am using exercism on several different boxes. Every time I setup on a box, it increments the exercise number so that the number of fetch exercises keeps increasing. Is there a way to reset this?

To exacerbate the matter, I'm working up a docker container for running exercism. Each iteration of the development results in another exercise added to the list. Soon, they'll all be fetched.

[2015-10-04 15:05] kytrinyx commented on #221
Ah, that's no good! Yeah, definitely a bug. I'll fix that and reset the numbers.

I'm not sure I understand what's going on with the docker setup. Would you mind elaborating a bit with a specific example?

[2015-10-04 17:45] sjfloat commented on #221
Well, that it's docker is not itself, directly relevant. What *is* relevant
is that in developing the docker container, I am essentially creating
everything from scratch as I iterate. So I have to repeatedly do 'exercism
configure' and 'exercism fetch'. Each time I do, another exercise appears
in the fetch. It's as though I'm rebuilding my box over and over. Think of
it as though I were developing

[2015-10-04 18:00] kytrinyx commented on #221
It's fetching a new exercise, as in... the first time it fetches `hamming` (or whatever), then you rebuild and fetch and it fetches `leap`, then the next time, maybe `bob`?

[2015-10-04 18:03] kytrinyx commented on #221
I was just able to confirm this behavior without docker.

Reproduction steps:

[code]

Expected behavior: only fetch the next exercise when you've submitted at least one iteration to the previous one.

[2015-10-04 18:03] sjfloat commented on #221
Exactly. Each time I fetch for the first time on a new box, it pulls down the entire list of exercises plus one more. So, the first time, it was just 'accumulate' or something. On the next machine, my first fetch pulled down 'accumulate' and , say 'leap'. First time on the next machine, it pulled down three exercises.

[2015-10-04 18:04] sjfloat commented on #221
Yes, exactly. I've not submitted anything yet, but my exercise list keeps growing.

[2015-10-04 18:04] kytrinyx commented on #221
Yepp, this is definitely a bug in the web backend. I'll fix it and report back here.

Thanks for the help clarifying it.

[2015-10-04 18:05] sjfloat commented on #221
Not a problem, thanks!

[2015-10-04 20:56] sjfloat opened #222 "Submit attempt fails with strange error message"
When I try to submit:

    $ exercism submit LeapYear.hs

it fails with:

    2015/10/04 20:50:48 unable to submit solution - error parsing API response - invalid character '<' looking for beginning of value

Is this error message intended for an end user?

[2015-10-04 21:02] sjfloat commented on #222
In case it has to do with my submission:

[code]

(actually, looking at it again, I don't think it's correct, even though it passes the tests :/ )

[2015-10-04 21:11] sjfloat commented on #222
Trying again:

    $exercism submit LeapYear.hs

I now get:

    2015/10/04 21:07:46 unable to submit solution - an internal server error was received.
    Please file a bug report with the contents of 'exercism debug' at: https://github.com/exercism/exercism.io/issues

[code]

[2015-10-05 00:11] Tonkpils commented on #222
This is usually due to an issue with the API endpoint. @kytrinyx could give us a bit more insight as to what happened or how to debug it.

[2015-10-05 12:50] kytrinyx commented on #222
I'm looking into it. Usually the errors on submit have to do with submitting a file that is not in the expected location, but we fixed the error message to be more helpful, so I think this is something different.

[2015-10-05 13:55] kytrinyx commented on #222
What's the preset working directory when you run the submit command?

[2015-10-05 14:05] sjfloat commented on #222
/home/steve/exercism/haskell/leap

[2015-10-06 00:54] kytrinyx commented on #222
That looks exactly right :/

I'll see if I can pull down the data locally to simulate your setup.

[2015-10-07 21:04] #221 closed

[2015-10-07 21:04] kytrinyx commented on #221
Deploying now.

[2015-10-07 21:16] Tonkpils commented on #221
:+1:

[2015-10-08 02:40] sjfloat commented on #221
Thanks! I'll give it a try first chance I get!
ᐧ

On Wed, Oct 7, 2015 at 5:16 PM, Leo Correa <notifications@github.com> wrote:

--
"I have delusions of grandeur. I believe myself to be Steve Jones"

[2015-10-11 12:46] sjfloat commented on #221
Just verifying your fix. Thanks!

[2015-10-11 12:55] sjfloat commented on #222
BTW, for more information, I was later able to submit the above exercise. So it seems to be intermittent.

[2015-10-11 16:22] kytrinyx commented on #222
Darn, that makes it even harder to track down.

[2015-10-11 16:25] Tonkpils commented on #222
We could improve the ability to track failed requests. Are we returning the Request ID header on the response? We could start logging that as part of the failed responses and it would help track the issue on the backend much better.

[2015-10-11 16:29] kytrinyx commented on #222
We're running on a free heroku dyno, so logs are very, very limited. That said, we're sending things to bugsnag, maybe there's more information that can be sent there.

[2015-10-11 16:30] Tonkpils commented on #222
I think the request ID already gets sent as part of the headers but I'm not sure that you can search for it. Not too familiar with Bugsnag

[2015-10-11 16:30] kytrinyx commented on #222
I have only a passing familiarity with it, myself. I'll dig in and see what I can find.

[2015-10-12 12:42] carlisia commented on #210
I'm poking through this, first time looking at this code base. I looked and searched (including a `git log -S`) and did not see a `current` command (https://github.com/exercism/cli/tree/master/cmd), is it still there somewhere?

[2015-10-12 12:51] carlisia commented on #137
Do we still want to add the `current` command?

[2015-10-12 12:52] carlisia commented on #210
Nvm, I found a discussion that answers my questions here: https://github.com/exercism/cli/issues/137

[2015-10-12 13:27] kytrinyx commented on #210
Yeah, the `current` command hasn't been implemented (yet?).

[2015-10-12 13:32] kytrinyx commented on #137
I think we still do. I suspect that it's probably time to take a step back and think a little bit about the overall user experience with the CLI, but providing a way to give the user a good idea of what's currently going on would be really great.

[2015-10-13 04:21] carlisia commented on #210
How about we add a `skipped` column to the `UserExercise` table on `exercism.io` and an endpoint to make this data update to the `Iterations` class? Then, the next time the user sends a submission for that exercise, the `skipped` column gets set to `false`. Would this work?

And, of course, a `skip` command needs to be added to the CLI, which would call that endpoint.

[2015-10-13 12:41] carlisia commented on #137
I've read this issue and a couple others requiring the same thing. What is the definition of `current`? Is it: the very last exercise that the user saved on their machine but did not submit?

[2015-10-13 14:21] Tonkpils commented on #137
I'm not 100% sure on what we would want `current` to be but I don't think we can assume it's the last exercise saved on the machine as they may have other machines with different `current` exercises saved.

What are the current states an exercise can be in? It may help us understand if `current` is a single or multiple exercises.

[2015-10-13 17:25] kytrinyx commented on #137
I think the original idea with `current` was _help me figure out where I left off_.

How about:

- only include languages where you have submitted at least one iteration of something
- tell you what you most recently submitted (one per language)
- tell you what you have fetched but not submitted (could be multiple per language)

[2015-10-13 17:30] kytrinyx commented on #210
Yepp, that's a great idea. In fact... what do you think about putting the `skipped` status on the website, and then, instead of implementing `current` and `skipped` commands in the CLI, we implement a single `status` command which lists skipped exercises in addition to what we discussed in the discussion about `current`?

[2015-10-13 19:35] carlisia commented on #210
I think this is moving in a very useful direction.

Let me see if I got what you're saying:

- The CLI will have a new command named `status`.
- Typing `exercism status x` will output a listing of different statuses for the specified language x.
- The statuses would be `skipped` and `current` (definition in progress.)

Is this ^ right?

Any other existing (I'm still getting familiar with the code

[2015-10-13 20:12] kytrinyx commented on #210
That sounds right, though I think just `exercism status` is fine, not `exercism status x`, though we can have language as an option to narrow down output.

I'll define a new issue summarizing this, and then close these two.

[2015-10-13 20:16] carlisia commented on #210
I thought `exercism status x` would be consistent with existing commands, like `exercism list x`. Otherwise, yes, there is no reason or, better, we can make the language optional to narrow things down.

[2015-10-13 20:21] kytrinyx opened #223 "Implement new command: exercism status [$language]"
Instead of implementing a `current` and a `skipped` command, let's have a `status` command that lists the following:

For each language where you have submitted at least one iteration of one exercise:

* list the (one) exercise that you most recently submitted, and when
* list the exercises that you have fetched but not submitted (could be multiple)
* list the exercises that you have skipped

We w

[2015-10-13 20:22] kytrinyx commented on #210
Agreed. Consistency is a very good thing!

Closing; see issue #223

[2015-10-13 20:22] #210 closed

[2015-10-13 20:22] kytrinyx commented on #137
Closing. Superseded by #223

[2015-10-13 20:22] #137 closed

[2015-10-14 17:43] kytrinyx commented on #222
OK, it turns out we were sending only the error to bugsnag, not the request information. I've changed that, and am deploying it now.

[2015-10-14 18:11] kytrinyx opened #224 "Stop using timestamps in the log.Fatal messages"
Since we are not logging to anything, and each command is a very short-lived one, I don't think that the timestamp for the failure in log.Fatal is helping. If anything it makes the output from errors seem noisier (which is more intimidating to beginners).

We could use log.SetPrefix("") to remove the timestamp, but I wonder if it's better to just print to STDERR directly and then call `os.Exit` si

[2015-10-14 18:14] kytrinyx commented on #201
We've updated the installation instructions for homebrew.

We're also working on overhauling the installation instructions on the site to make the options seem less overwhelming and less confusing.

With the fix to homebrew, I think this issue is solved.

[2015-10-14 18:14] #201 closed

[2015-10-14 19:50] Tonkpils commented on #224
I believe @lcowell was doing some work on the way we did outputs. If anything this may be a good time to re-evaluate it?

[2015-10-16 23:31] lcowell commented on #224
I was looking to build something like this: https://github.com/constabulary/gb/blob/master/log/log.go
I still think this could be a good approach.

Building on the original idea, we could use `os.Stderr` for debugging information and `os.Stdout` for normal output. When the app starts up if the don't have the verbose flag enabled, we can set `os.Stderr` to `ioutil.Discard`.

[2015-10-16 23:32] kytrinyx commented on #224
@lcowell that sounds good to me.

[2015-10-17 03:59] Tonkpils commented on #224
:+1: looking forward to see this :smile:

[2015-10-20 13:59] Tonkpils opened #225 "Allow comments/messages in exercism submit"
For full details see https://github.com/exercism/exercism.io/issues/2588#issue-112349412

[2015-10-26 17:22] kytrinyx opened #226 "adjust behavior of exercism fetch to avoid noise on the file system"
Suggestion from @frenata in #2573

------

What if exercism fetch only pulled in exercises for language folders that already exist? This would require that to get started with a new language you'd have to first manually specify it exercism fetch go , but not afterwards.

That way you only get exactly the language exercises that you want. A message to that effect when issuing the command with an em

[2015-10-27 04:03] frenata commented on #226
I'm poking around in the codebase to see if I can solve/implement this myself, rather than just ask someone else to. Heh. In the meantime, I ran into an entirely different issue when running the tests...

[2015-10-27 04:26] frenata opened #227 "testing the config package fails when /tmp is on another partition"
The error is showing up in lines 20-23 (and 24-27, 106-108) of [config_test.go](https://github.com/exercism/cli/blob/master/config/config_test.go#L20-L23):

[code]

 `os.Link` is returning the following error:

[code]

This behavior occurs because `os.Link` creates a hard link and hard linking is not permitted across partitions.

I'm not sure of the appropriate fix since I'm not yet certain why th

[2015-10-27 14:22] kytrinyx commented on #227
The tests are creating links because we previously had a bug where people were using symlinks for their exercism directory, and we weren't following symlinks.

I'm not sure what the right answer is here.

[2015-10-27 14:24] kytrinyx commented on #226
Fun! Ask if you have any questions, we're always happy to help point people in the right direction. And sometimes if the stuff that comes up is too embarrassing, it's a good opportunity to refactor.

[2015-10-27 16:05] devonestes commented on #226
:+1: on this feature - I'd also be happy to dive in and see if there are ways I can help, too!

[2015-10-27 16:06] lcowell commented on #227
You should be able to set the environment variable `TMPDIR` to something on the same partition. Not the greatest solution, but it should get things working for now.

[2015-10-27 18:56] devonestes commented on #223
I might be interested in taking this one on! Considering this is dependent on the API endpoint, and that's in a different repo, would it be better to take care of that endpoint first and then develop the CLI command once the endpoint is merged?

[2015-10-27 19:32] Tonkpils commented on #223
@devonestes you could also implement the API and then develop on the CLI against your local instance of exercism with the API changes.

If you have any questions don't hesitate reaching out.

[2015-11-02 06:46] alebaffa opened #230 "Check if tests pass before submitting"
I just saw a submission empty (I can give you the link if you want). I don't know why the user has submitted an empty solution, but it is now in my list of feedback to give and it makes no sense to leave a comment on it. I think this can be an improvement for the cli.

The cli should check whether the tests pass or not before pushing the code to exercism. If the tests don't pass, it fails displayi

[2015-11-02 14:18] kytrinyx commented on #230
Since we have over 20 different languages, it's going to be hard to maintain the functionality that knows how to verify that the tests are passing.

It seems like if someone submits an empty solution, they might need help. I think it would be hugely valuable to add a comment in this situation asking if they got stuck, if there's something that's confusing, and is there any way in which you can hel

[2015-11-02 14:22] alebaffa commented on #230
I agree. OK, I will do like that.

[2015-11-02 14:28] kytrinyx commented on #230
Cool, I'll go ahead and close this. Thanks for asking!

[2015-11-05 11:32] devonestes opened #246 "Enhancement: New command `exercism open $trackID $slug`"
I was reading the article on  the Codeship blog about how people are finding it hard to navigate between the CLI, website, etc., and I thought it might be helpful to have a CLI command to open specific pages on the website to make the transition between these two UIs easier. I thought maybe it would be helpful to add an `exercism open $trackID` & `exercism open $trackID $slug` commands that would

[2015-11-05 11:33] #246 closed

[2015-11-05 11:33] devonestes commented on #246
Sorry, after checking I saw that this is pretty much already there! Should have looked before I wrote...

[2015-11-05 23:59] #223 closed

[2015-11-05 23:59] kytrinyx commented on #223
This is now implemented, and will be a part of the next release.

[2015-11-06 00:00] kytrinyx commented on #52
No longer relevant. Unsubmit is only allowed through the web interface at this time.

[2015-11-06 00:00] #52 closed

[2015-11-06 00:50] Tonkpils commented on #226
I like this idea. This should be fairly simple to implement and I'd be more than happy to pair or help out with whoever wants to tackle this.

[2015-11-06 17:27] lcowell commented on #226
I'd be up for pairing. I'd have a couple hours saturday or sunday morning/early afternoon.

[2015-11-09 05:01] lcowell commented on #224
See https://github.com/exercism/cli/pull/248

[2015-11-11 17:44] desult opened #249 "How to use with OSX?"
I've downloaded the version for 64bit mac, and it seemed to install ok. When I type exercism in terminal, I got "-bash: exercism: command not found" . Are there PATH variables that I need to edit is OSX? I'm using 10.10.5 Yosemite.

[2015-11-11 18:06] Tonkpils commented on #249
You need to extract the binary file out of the tar that you downloaded and place that binary file somewhere in your PATH. If this seems confusing to you, I'd highly suggest using looking into using [homebrew](http://brew.sh/) to get the CLI.

Simply follow the instructions to install `homebrew` and then do `brew install exercism`. You should be able to use the CLI then.

There's detailed instructi

[2015-11-11 18:13] desult commented on #249
Thanks for the reply, that clears it up for me. I should be able to now get it going using one of those methods. Thanks again.

[2015-11-11 18:18] Tonkpils commented on #249
No problem! Feel free to re-open this if you have any further questions

[2015-11-11 18:18] #249 closed

[2015-11-16 19:57] kytrinyx commented on #224
Fixed in #248

[2015-11-16 19:57] #224 closed

[2015-11-16 19:59] kytrinyx commented on #222
I'm closing this, since we added more logging. If the error occurs again, would you please open a new issue?

[2015-11-16 19:59] #222 closed

[2015-11-16 20:01] kytrinyx commented on #163
I think this is no longer relevant, since #248 went into master. Would either of you confirm and close if this is true?

[2015-11-16 20:02] kytrinyx commented on #168
I'm giving this the 'bug' label, though I'm still not quite sure how to address it.

[2015-11-16 20:09] kytrinyx opened #251 "Prepare for 24 Pull Requests 2015 Edition"
This year's http://24pullrequests.com/ is going to feature exercism as a friendly project that's easy to get started with.

Let's create a label ("beginner friendly", perhaps) and tag any issues that don't require a huge amount of knowledge about Exercism itself. We can also edit issues to include more information about where to look in the code, etc.

[2015-11-16 20:20] kytrinyx opened #252 "Clarify domain concepts throughout the codebase"
We've spent some time coming up with terminology that works for the project. Here's what we've landed on:
- **Track** -  track is in a language (e.g. C++) and has an ID (e.g. `cpp`)
- **Problem** - a generic description of a problem to be solved, can be implemented in any language
- **Exercise** - a language-specific implementation of a problem. It has a test suite in that language.
- **Solution**

[2015-11-16 21:23] sjfloat commented on #222
Sure
ᐧ

On Mon, Nov 16, 2015 at 2:59 PM, Katrina Owen <notifications@github.com>
wrote:

--
"I have delusions of grandeur. I believe myself to be Steve Jones"

[2015-11-22 19:21] behrtam opened #255 "Update test suite files"
Maybe I'm wrong but if a test suite file is changed the only way to get this update is by manually removing it and exercism fetch; providing he or she knows about the change.

I think it would be better if it's updated just with `exercism fetch` or at least that the user gets a message after `fetch` if there are not updated test suites.

[2015-11-23 03:59] kytrinyx commented on #255
I'd like to hear more opinions on this one. I can think of reasons to do it either way.

[2015-11-23 14:26] behrtam commented on #255
Do we have a help description anywhere that explains users how to update changed exercises manually?

[2015-11-23 14:48] kytrinyx commented on #255
I don't think we do.

One thing we could do is put a `.version` file in each exercise directory and then the CLI could check the existing version with one that comes back and either tell the user that there's a newer version available, or perhaps say something like "rerun with --force in order to replace the test file with the new one".

Replacing the test file will put back any skips or pending e

[2015-11-24 01:53] lcowell commented on #255
I'm thinking - if a user fetches without specifying an exercise `fetch` or `fetch go`, the default behaviour should be to preserve the existing files and require a force flag to overwrite. If a user specifies an exercise eg `fetch go leap` can we assume they want to pull down the latest version?

I'm wondering if we can avoid the `.version` file and just use the file timestamps. If the file is new

[2015-11-24 02:48] kytrinyx commented on #255
New versions of the languages have broken tests in elixir, rust, and there's also some version sheer in python, but I don't think this would fix that.

I'm not sure if the timestamps thing would work... it might. I'll experiment a little bit.

I'd rather not assume anything about what the user wants. Maybe we could add a --force flag that would always overwrite the tests with the most recent versi

[2015-11-24 03:11] Tonkpils commented on #255
I like that. I don't see why people would go back to fetch an exercise that they've already done, so the `status` command would be a great place to have the message about the `fetch --force`

[2015-11-27 19:52] kytrinyx commented on #53
The status on this ticket is that we're waiting for some work in x-api and exercism before we can reimplement the `fetch` command to call a different endpoint that has the data we need for this.

[2015-11-27 20:05] kytrinyx commented on #102
What's the status on this. Do we still want to have the leinify command?

[2015-11-27 20:21] kytrinyx commented on #152
After re-reading this, I realize that the fix is going to need to be over in exercism, not here.

Moved to https://github.com/exercism/exercism.io/issues/2635.

[2015-11-27 20:21] #152 closed

[2015-11-27 20:23] kytrinyx commented on #187
To clarify this issue--it's just a matter of changing the messaging:

If the iteration number we get back when having submitted is 1, then we're unlocking the next exercise.

[2015-11-27 20:24] kytrinyx commented on #220
Closing, since this needs to be solved elsewhere.

[2015-11-27 20:24] #220 closed

[2015-11-27 20:27] kytrinyx commented on #225
This depends on https://github.com/exercism/exercism.io/issues/2588

[2015-11-27 20:30] kytrinyx commented on #226
Any updates on this one? If things have gotten too hectic, feel free to "unclaim" it (just add a comment saying you're too busy or whatever) and then someone else might grab it.

[2015-11-27 20:32] kytrinyx commented on #251
I've created a few labels: 'good-first-issue' is the most interesting one, but also `status: on-hold` and `status: ???` to help people ignore the ones that aren't ready to be claimed.

[2015-11-27 20:32] #251 closed

[2015-11-27 22:15] Tonkpils commented on #102
My two cents on this after thinking about it for a while is that we probably should not add this to the CLI. I think it's an edge case and seems very odd to have it if a user is not using clojure.

[2015-11-27 22:52] kytrinyx commented on #102
Agreed. Maybe there could be an exercism-leinify clojure script or something that people could use if they wanted to.

I'm closing this.

[2015-11-27 22:52] #102 closed

[2015-11-30 03:34] anxiousmodernman commented on #197
Got your email about 24 pull requests. 'Tis the season! :gift:

Here is a draft of a more verbose error message this situation based on my paths.

[code]

This is verbose, and maybe it's overkill, but based on [exercism/exercism.io#2335](https://github.com/exercism/exercism.io/issues/2335) it seems like more info is better than less.

To get the nice output for all OS's, we will probably need stri

[2015-11-30 13:49] devonestes commented on #226
If nobody minds then I think I'll start work on this week. Don't want to steal anyone's thunder, but I'd really love to see this feature added!

[2015-11-30 16:00] lcowell commented on #226
:+1: Go for it!

[2015-11-30 20:44] kytrinyx commented on #197
I think you're right that more information is better than less. If they're getting the error, then we may as well show them the error message up front rather than making them re-run the command.

We can know for sure whether or not the problem is that they're outside of their configured directory, since we have both paths. If that's not the problem, let's show a more generic error and ask them to

[2015-11-30 21:50] frenata commented on #226
I've been busy traveling and visiting family, or I'd have taken a serious shot at this feature--I've not had really much time for exercism at all! I'll try to keep an eye on your work though, devonestes, and if I can carve out the time may do the work myself as well, if only for my own edification.

[2015-12-01 12:50] devonestes commented on #226
Ok, after starting some exploration of this, I think there are three ways to solve the problem.

1) Get a list of all the folders that exist in the user's exercises directory and make API calls to the existing endpoint for each of those folders. This is basically the equivalent of looping over the folders on the user's computer and executing `exercism fetch TRACK` for each of those folders.

2) Mo

[2015-12-01 14:41] devonestes commented on #252
I might be able to take this one on. Would it be better to submit commits one at a time rather than all at once? For example, one commit would update all instances in the codebase where something should be called a Track, the next commit for Problem, etc.

I'm thinking it might be easier to review the code if each commit only focused on one change. I could of course squash them down before merging

[2015-12-01 21:23] kytrinyx commented on #252
Yes -- please take little bits and pieces at a time. I might even suggest adding a comment here to say which piece you're tackling, then if someone else wants to grab another piece meanwhile they could.

It's much, much easier to review if each commit is one type of change, and I would not want them to be squashed. I might even suggest having different pull requests (much easier to review that way

[2015-12-01 21:30] kytrinyx commented on #226
I like 3 as well.

Option 4 would be to change the API to only return data for tracks where you've submitted at least one problem, but then we run into a thing where if you decide to stop working on a track you can't just delete or move the directory, it would always keep pulling the exercises down.

So... I think 3 is the right approach.

[2015-12-01 21:34] Tonkpils commented on #226
I like approach 3 as well. It gives us more flexibility without touching the API

[2015-12-01 21:40] kytrinyx commented on #226
Let's start with 3 and add a ticket to the API for 2, which gives us (a) a quick win, and (b) a long term improvement that we can work towards.

[2015-12-01 22:10] kytrinyx opened #259 "Tweak behavior on "restore"?"
Right now if the directory exists, I think we don't write any files at all. How about writing any of the files that aren't already present? We'd still not be stomping on files, and if the test suite is old, it might not run (but deleting the test suite and fetching again should fix that, right?).

[2015-12-02 14:06] devonestes commented on #252
Sounds good! The first thing that's jumped out at me is the use of `Submission` instead of `Iteration` in `api.go`, so I'll start there with the updating.

[2015-12-02 20:21] kytrinyx commented on #252
+1 sounds great

[2015-12-11 05:11] Tonkpils commented on #259
Restore fetches the latest iteration of a solution, does that include the test suite at the time that solution was submitted or does it always retrieve the latest test suite?

I think writing files that aren't present is ok, but what would be the downside of simply overriding the test suite as well? It can be a bit odd for the user to have the files overwritten by default but what if we displayed

[2015-12-11 18:52] kytrinyx commented on #259
Right now it does also retrieve the latest test suite as well as the solution files.

The downside is in language tracks where there are pending/skip/ignore directives suddenly the test suite would not run fully, even if you thought it might. Also, sometimes people add their own tests and benchmarks (though that seems to not happen a whole lot).

I would love to have a `--force` flag and a message

[2015-12-16 01:22] benjic commented on #197
This issue should probably be closed since it was implemented in #261

[2015-12-16 01:51] anxiousmodernman commented on #197
Agreed. I probably should have referenced it.

[2015-12-16 03:04] #197 closed

[2015-12-16 11:43] devonestes commented on #226
@kytrinyx I think this can be closed now that #258 is merged, right?

[2015-12-16 15:51] wadtech commented on #187
I'm not sure if there was anything still outstanding on this issue, but hopefully #257 means it can be closed.

[2015-12-16 19:10] kytrinyx commented on #187
Awww, yeah!! Done and done. Thanks :)

[2015-12-16 19:10] #187 closed

[2015-12-16 19:11] kytrinyx commented on #226
Yepp, thanks!

If you remember to, would you mind adding the `Fixes #NNN` directive in the commit message for the pull request? I tend to forget to check back through open issues.

[2015-12-16 19:11] #226 closed

[2015-12-16 20:46] eToThePiIPower commented on #77
Is anyone still interested in this issue? I was directed here from 24pullrequests and this sounds like a good place to start out.

[2015-12-16 21:09] kytrinyx commented on #77
Yeah, definitely still interested in this one. Up for grabs if you want it.

[2015-12-16 21:32] eToThePiIPower commented on #77
Great. I've got a preliminary version done. For the moment I thought it'd be best to only show it on the first iteration for each exercise (to keep down the annoyance factor), and hard-wrapped the lines to 80 characters.

Still working on a rotation/randomization scheme to keep some variety as you suggested. I think randomization will be easier to implement without having to keep track of the stat

[2015-12-16 21:59] kytrinyx commented on #77
Yeah, I think you're right -- we don't need to show it on subsequent iterations.

[2015-12-17 20:24] eToThePiIPower commented on #77
So I've got a simple random rotation going on the "header" to provide some variety (per your suggestion for adding variety). Currently:
* For bonus points
* Don't stop now: The fun's just begun
* Some tips to continue

It should be easy to add more (suggestions for creative phrases would be appreciated)

With enough of a selection of creative header phrases, I feel this would be enough variation.

[2015-12-18 20:38] kytrinyx commented on #77
Agreed--let's start with this and see how it feels in action.

[2015-12-27 17:47] kytrinyx opened #263 "Version is broken"
Right now if you say `exercism --version` it outputs the entire usage message.

This changed in f999e69e

[code]

@lcowell You deliberately added the app.HideVersion here. Is it safe to take it back off?

I'm thinking this would make sense:

[code]

[2015-12-27 18:29] Tonkpils commented on #263
We had talked about this when the --verbose was originally implemented and we said it would be good to have `--v` shorthand for verbose. However, `--v` was later removed because of conflicts with the CLI package. I think it makes sense for the `--v` to simply be part of version.

[2015-12-27 19:07] #263 closed

[2015-12-27 19:08] kytrinyx commented on #263
I agree. If you're going to be verbose, it's kind of poetic justice that you have to type out the whole flag name.

[2016-01-03 13:40] tejasbubane opened #267 "exercism cli fails to communicate to API: http://exercism.io"
This might be related to #202

I just downloaded the latest linux 64-bit binary from https://github.com/exercism/cli/releases/tag/v2.2.3

[code]

[2016-01-03 17:16] kytrinyx commented on #267
If you downgrade are you able to connect?

[2016-01-03 17:39] tejasbubane commented on #267
Tested with `2.2.2` and `2.2.1` and getting same error with both `debug` and `upgrade` commands. This is on 64-bit linux.

I also went ahead and tested on my macbook (`v2.2.3` installed via `brew`), there is the same error in `exercism debug` but strangely no error for `exercism upgrade`.

[2016-01-03 17:42] kytrinyx commented on #267
Here's what I'm getting on mac 64-bit

[code]

[2016-01-03 17:48] tejasbubane commented on #267
Strange, here is what I am getting:

[code]

[2016-01-03 18:49] kytrinyx commented on #267
I wonder if this has a personal component that is related to performance of the API. I'll take a look into that possibility.

[2016-01-03 18:59] Tonkpils commented on #267
We could build a new binary for @tejasbubane without timeout and see if that fixes the issue. It may be a slow client connection?

[2016-01-03 19:01] kytrinyx commented on #267
Could be a slow connection, or a really slow response from the API.

[2016-01-03 19:01] kytrinyx commented on #267
Also: yeah, let's build one without the timeout. Do you have time to do that?

[2016-01-03 19:02] Tonkpils commented on #267
Sure, I'll go ahead and do it in a couple of minutes. Just getting settled back home.

[2016-01-03 19:42] Tonkpils commented on #267
@tejasbubane I've gone ahead and cut out a release with the client timeout removed from both the debug and upgrade command. https://github.com/exercism/cli/releases/tag/v2.2.4.beta.1

You can also check the code that generated the binaries here https://github.com/exercism/cli/commit/89e102595c1546b82b9aff30f135f057be30aad0

It'd be interesting to see if this fixes the issue and if so, how long the

[2016-01-04 04:31] tejasbubane commented on #267
That removes the error:
[code]

I went ahead and put `time` for both commands:

* with timeout (`2.2.3`)
[code]
* without timout (`2.2.4.beta-1`)
[code]

This is definitely my internet. We usually have latency issues here in India.
Is there a way I can check how much time a single request needs to complete rather than the whole command?

[2016-01-04 16:12] Tonkpils commented on #267
We could add debug lines to the code to measure the time it took to actually make the request. In any case, I think bumping the timeout to a sensible default would be best.
Currently, none of the other commands have timeouts for the HTTP client. For debug it would be good to have a timeout since there can possibly be issues with the network. As for upgrade, I'm open for it having a high timeout or

[2016-01-04 16:18] Tonkpils opened #268 "Add latency check on Debug command"
It would be good to have a measure of the latency to the GitHub API and the Exercism Apps and display them in the debug command.

[2016-01-04 16:20] Tonkpils commented on #77
Going to close this since #262 was merged

[2016-01-04 16:20] #77 closed

[2016-01-12 20:56] kytrinyx commented on #225
I'm deploying the fix in exercism now.

[2016-01-12 20:57] #225 closed

[2016-01-13 23:59] #268 closed

[2016-01-21 03:18] daveyarwood opened #272 "Guard against submitting the wrong file"
I was moving a little too fast tonight and [accidentally submitted `hamming_spec.lua` instead of `hamming.lua`](http://exercism.io/submissions/7f35bb6eb9684a48ae17583c929f9888). It would be nice if the CLI tool were smart enough to know if the user is accidentally submitting a README or test cases in lieu of a solution.

Would it make sense for the CLI tool to check the filename of the file you're

[2016-01-21 03:20] daveyarwood commented on #272
Another idea: include a hidden file in each folder with a list of "bad filenames," and have the CLI tool check the submitted filename against the list in the hidden file and throw an exception if it's one of them.

[2016-01-21 03:23] Tonkpils commented on #272
We actually guard against file names that include `test` in the name unless you use the `--test` flag. We can expand that current guard to test for `spec` which is also used to describe test files. We can completely block off submitting READMEs but if we start blocking off submission of all other files then we run into situations where there's multiple other files for other languages that should n

[2016-01-21 03:40] daveyarwood commented on #272
I think including `spec` and `README` in the guard might be helpful. I could take a stab at a PR, if you'd like?

[2016-01-21 03:42] Tonkpils commented on #272
Sure, if you have any questions feel free to reach out!

[2016-01-21 03:44] daveyarwood commented on #272
Cool :+1:

[2016-01-21 05:01] #272 closed

[2016-01-21 19:46] kytrinyx opened #274 "Use test pattern from config to guard against submitting test file"
Depends on x-api: https://github.com/exercism/x-api/issues/95

See https://github.com/exercism/cli/pull/273

[2016-01-22 05:09] FunkyCat opened #275 "Unable to submit solutions - error parsing API response"
Hi guys! I can't submit any solutions:
[code]
I've already googled for some solutions and it seems that nothing worked for me - no symlinks in path, absolute paths don't work as well.
I definitely can fetch tasks, but I can't submit with any language (I've tried with golang and python).
I'm using OpenSuse 13.1. To connect to web, I use Privoxy -> TOR -> Proxy (filtering, uncontrolled by me) -> WWW

[2016-01-22 05:41] lcowell commented on #275
Hi @FunkyCat would you try calling exercism with the verbose flag? eg. `exercism --verbose submit leap.go`. That should show us what the server is sending back to you.

[2016-01-22 06:09] FunkyCat commented on #275
Hi @lcowell. Here it is:
[code]

[2016-01-22 06:10] petertseng opened #276 "should files from `download` be created non-executable instead of executable?"
Currently they're created executable, as https://github.com/exercism/cli/blob/master/cmd/download.go#L42 and https://github.com/exercism/cli/blob/master/cmd/download.go#L49 would have it. Need to think about whether that should be the case. Is the idea that some language tracks' submission files are meant to be executed directly?

However, when doing `fetch`, files are written 0644: https://github

[2016-01-22 15:50] lcowell commented on #275
I think we're need to know what the server received to understand why we're getting this response. @kytrinyx can you help here?

Also, I'd like to add the post body to the verbose output for future issues like this.

[2016-01-22 15:54] Tonkpils commented on #275
@lcowell so the status code was a 499 which gets returned by Heroku when the client gets disconnected before the request is finished. It may actually have to do with the network that @FunkyCat is using. Would it be possible that the proxy is closing the TCP socket before the whole request is complete?

[2016-01-22 17:22] lcowell commented on #275
@Tonkpils good call. I totally agree.

@FunkyCat can you see if you have the same problem using a different connection? or perhaps you can temporarily bypass any proxy you're using?

[2016-01-22 20:56] kytrinyx commented on #276
I know in Ruby the test files are executable so that people have the option of saying `ruby path/to/testfile` or just `path/to/testfile`. But I don't actually have very strong feelings about it.

We could use the shebang to check whether a file should be 0644 or 0755.

[2016-01-22 21:07] petertseng commented on #276
So you are thinking "if first line in file is shebang, make it 0755, else make it 0644?"

I could see that making sense. If we are in agreement, I can probably make it happen, though I'm a bit unclear on how I'd test.

[2016-01-22 21:11] petertseng commented on #276
My tentative test plan is: Make my change, build client from git, and just download a few submissions and see if they get created with the right modes.

Any place where it'd be appropriate to add an automated test for this?

[2016-01-22 21:15] kytrinyx commented on #276
Yeah, that was what I was thinking. Building from git is how I change things that I don't have automated tests for. If we move the code that writes the file out of `cmd/download.go` and onto a method on `Submission` then it should be fairly straight forward to write a test for it.

[2016-01-22 21:16] Tonkpils commented on #276
I don't like to encourage people to simply run an executable they've fetched from a remote. I think we should remove the shebang and simply have them execute the file with `ruby /path/to/test`. Thoughts?

[2016-01-22 21:20] kytrinyx commented on #276
Yeah, good point.

I can't remember the arguments for adding it in Ruby. I think if they want to make it executable, they're welcome to do it themselves.

OK, for now, let's make it 0644 on everything, and then I'll open a ticket on the Ruby track to remove the shebangs and add some documentation to let people know they can chmod and shebang themselves if they want.

[2016-01-22 21:46] petertseng commented on #276
OK, everything 0644 then. In that case since there's no new logic added I am not really motivated to add new automated tests; I'll just test by building from git.

Will set reminder for myself to do this since I won't be getting to it immediately. Remind me if you haven't heard back in 24 hours. Assign the ticket to me?

[2016-01-22 22:10] Tonkpils commented on #276
@petertseng would you like to make a PR to fix this? If not I can probably get to it for the weekend.

Assignment of tickets can only be done for members of the team. In any case, you can see this issue on Github under your created issues.

[2016-01-22 23:17] petertseng commented on #276
@Tonkpils : I expect I can do it sometime tomorrow, but I would have no objection at all if you (or anyone else watching this issue) beats me to it. I will comment here if I begin work.

[2016-01-23 07:13] petertseng opened #277 "`download` fails with submissions with directory structure"
The recent change in https://github.com/exercism/exercism.io/commit/2dc984d4030c2826af317b1d287a8fc9e9f9ce20 caused directory structures to be preserved in submissions. But this causes downloads to fail. Example:

[code]

As you can see, it's failed to create the `hand` directory (the directory `/home/pt/exercism/solutions/petertseng/go/poker/002951e89f1e477db457ac70ae4001d1` got created just fine

[2016-01-23 07:46] petertseng commented on #276
Should have said I was beginning work. Well not much use in saying it now, since PR's open.

[2016-01-23 18:30] #276 closed

[2016-01-23 18:30] #277 closed

[2016-01-24 12:24] ErikSchierboom opened #279 "Allow retrieval of current exercise"
I'd love the `exercism` CLI to have a command that indicates what is my current "unsolved" problem, ideally with an option to limit it to a single language. So for example:

`exercism current scala` would output: `current scala exercise: forth`

[2016-01-24 17:09] kytrinyx commented on #279
Have you tried the `status` command? `exercism status scala`

[2016-01-24 18:00] ErikSchierboom commented on #279
Whoops, that does it. I had an older version of the CLI, I'm so sorry.

[2016-01-24 18:00] #279 closed

[2016-01-24 19:13] petertseng opened #280 "`download` fails if problem has directory structure"
Oops. I thought I fixed this in a7b39b606243590c0d35df5c7e74cd8b45d271e1 for #277 but you'll notice that I only did this for *submission* files (provided by the student). I assumed that *problem* files (provided by Exercism/track maintainers) would not have directory structure. That's an incorrect assumption for many languages (try Rust).

Gonna want to stick a `MkdirAll` before https://github.com

[2016-01-24 19:44] petertseng commented on #280
PR coming soon.

[2016-01-25 01:28] kytrinyx commented on #279
No worries!

[2016-01-25 01:29] #280 closed

[2016-01-25 05:08] FunkyCat commented on #275
@lcowell @Tonkpils Unfortunately, I can't bypass any proxy, because CLI does not supports SOCKS5 proxy and I can't control last proxy in chain, so I have to use Privoxy to transform my HTTP traffic into SOCKS5.
I looked into Privoxy config and socket timeout value is 300 seconds. Here is Privoxy log when I'm trying to submit:
[code]

[2016-01-28 19:35] #218 closed

[2016-02-01 03:43] degustaf opened #287 "cli doesn't track which Exercises have been submitted"
When I run `exercism status python` all of the exercises that I have submitted are listed under `
Exercises fetched but not submitted:`

[2016-02-01 08:31] jbaiter opened #288 "`exercism upgrade` fails with `text file busy`"
I just tried to upgrade the tool from the command-line and got the following error:

[code]

[2016-02-02 02:31] AlexWheeler commented on #287
Hey @degustaf are the submitted exercises displaying correctly on your dashboard? i.e. they're _not_ listed under:
You've fetched these problems. Now solve them!

Also, what's the output when you run ```exercism --version```?

[2016-02-02 14:03] degustaf commented on #287
@AlexWheeler In the dashboard the are listed under `Keep working on these problems, or archive them.`

I have version 2.2.4

[2016-02-02 18:17] kytrinyx commented on #288
I'm not sure what's happening with this. @Tonkpils @lcowell can either of you reproduce?

[2016-02-02 18:18] kytrinyx commented on #287
There's definitely something odd going on here. I get:

[code]

[2016-02-02 18:33] jbaiter commented on #288
I just tried it on my Laptop (using the same system, Debian unstable) and could reproduce it. I uploaded a log of all syscalls (via `strace`) here: https://gist.github.com/jbaiter/8f473361245ad3649c78

[2016-02-02 20:53] lcowell commented on #288
I was able to upgrade my client without difficulty on OS X. @jbaiter What kind of filesystem is `/home/jbaiter` ?

I bet this is a linux specific issue. We might need to update the upgrade process to:
1) download the new file
2) rename the current binary to old
3) rename the new binary to current
4) remove the old binary

[2016-02-02 21:03] kytrinyx commented on #288
Yeah, it would be worth creating a test-build on an older version with that process (so that it doesn't just say "You're up to date" when you install the test build).

[2016-02-02 21:22] ErikSchierboom commented on #88
This would be great to build/test scripts, which people tend to expect in the root directory.

[2016-02-03 00:48] Tonkpils commented on #288
Yeah, so I'm able to confirm this. The one issue we will run into is with Windows as well during step 4. Windows won't allow removal of the old binary since it's technically still in use. One way we can go about this is actually hide the old binary and remove it attempt removal at the beginning of every upgrade of the old renamed binary.

I'll give this a try

[2016-02-03 09:30] jbaiter commented on #288
I just toyed around with the `installTgz` function in `release_utils.go` and I think I managed to fix the issue, at least on my machine. All I had to do was remove any existing files that would be overwritten.

Caveat: I don't know any Go, so this might be the wrong way to check for file existence/removing them:

[code]

[2016-02-03 15:21] Tonkpils commented on #288
That would assume that the write for the `upgrade` will succeed. If we remove the binary (which won't work on Windows) and the writing of the file fails, we will be in an inconsistent state. There's a couple of edge cases for this.

That's a good start though :+1: If you'd like to take a crack at making a PR for this I'd definitely be open to pairing with you.

[2016-02-03 16:19] jbaiter commented on #288
My changes don't apply to Windows anyway, since it uses the `installZip` function, which remains unchanged. But you're completely right about the inconsistent state in case the writing fails. I just pushed another commit that works around this case by creating a backup copy and recovering from that in case of an error.

I just opened a PR and am open for further changes/edge cases :-)

[2016-02-03 17:26] cjbottaro commented on #287
I got the same issue:

[code]

[code]

[2016-02-11 21:25] askkaz commented on #230
As I browse other's solutions - it would be nice to have a little flag that lets me know if the solution at least passed the base test cases on the user's system before submission.  This functionality would help people who are trying to learn not waste time looking at bad solutions.  It would also give people trying to help others an easier way to find people in need of help.

[2016-02-12 08:10] kytrinyx commented on #230
I agree that this would be helpful, but I don't know how we would do that since running the tests is something that they do completely independent of the exercism CLI.

[2016-02-12 09:16] kotp commented on #230
It is something they do independent of the CLI, however, it is received and viewable by the system... I think there is already a bot that gives some advice when you submit, (Rikki??) checks some things already.  Checking for an empty file may be something to look at, specifically in this case.

But, applying the test to the required file name for that exercise may not be out of bounds for Rikki as

[2016-02-14 01:59] kytrinyx commented on #230
Rikki is not running in a sandboxed environment, and I don't know of any service that provides sandboxed environments for 29 languages.

[2016-02-14 01:59] kytrinyx commented on #230
We could look for an empty file--that's low-effort.

[2016-02-21 20:25] #288 closed

[2016-02-21 21:39] Tonkpils commented on #216
I've vendored in dependencies using `Godeps` on #292 let me know what you all thing

[2016-03-02 15:22] kytrinyx opened #295 "Output track-specific message at the end of the list command"
Right now we always say `exercism fetch ruby matrix` at the end of the list command.

I suggest that we always use the track id, and the first problem in the list as the example.

[code]

[2016-03-03 14:05] mrageh opened #296 "exercism status returns an internal server error when there's no api key set locally"
When a user does not have their api key set and `exercism debug` returns:
[code]

If that user tries to check the status of a language with `exercism status language`, the server returns a 500 I think:
[code]

Is this a bug and should we fix it?

I'd be happy to take a stab at it by making changes to `exercism/cli`.

[2016-03-03 16:32] Tonkpils commented on #296
The server should definitely not blow up with an internal server error if the API key is not provided. It should return with an unauthorized or something similar in which case the error message on our end would be that response.

One thing I noticed, if the API Key is not set, `exercism debug` should probably display a message stating that it should be set to access some functionality.

As far as

[2016-03-03 17:12] kytrinyx commented on #296
Yeah, the server side needs to be fixed for this. I'm not sure what's going on, because the API supposedly checks for the presence of the key. I'm looking into this now.

[2016-03-03 17:13] kytrinyx commented on #296
OK, that was quick.

[code]

[code]

[2016-03-03 17:16] kytrinyx commented on #296
Fixed in exercism/exercism.io@d0c061575be65f03ceddcf096d7577f9351663e7

[2016-03-03 17:16] #296 closed

[2016-03-03 17:17] mrageh commented on #296
Wow @kytrinyx that was quick :+1:
Closing this issue as it was just (fixed)[https://github.com/exercism/exercism.io/commit/d0c061575be65f03ceddcf096d7577f9351663e7]

[2016-03-03 17:20] Tonkpils commented on #296
@mrageh if you would like to contribute to the CLI we would accept a PR to enhance the output of `exercism debug` to display a message when the API key is not present and that the user should set it to access some of the CLI features.

[2016-03-03 17:24] kytrinyx commented on #296
Yeah +1 for @Tonkpils' suggestion. That would be sweet!

[2016-03-03 17:34] mrageh commented on #296
I'll work on it tonight, thanks for the quick responses

[2016-03-13 10:36] ErikSchierboom opened #298 "Unknown track gives incorrect error message"
When you try to fetch the status of an unknown track, the error message is a bit odd:

<pre>
$ exercism status haskel

You have yet to begin the haskel track!
</pre>

[2016-03-13 10:38] ErikSchierboom commented on #287
Same here:

<pre>
exercism status haskell

Your status on the haskell track:

Most recently submitted exercise:
 - point-mutations (submitted on March 13, 2016)

Exercises fetched but not submitted:
 - lens-person
 - point-mutations
 - pov

Exercises skipped:
</pre>

However, my dashboard correctly notes that I am at 100%:

![image](https://cloud.githubusercontent.com/assets/135246/13728191/123f19

[2016-03-13 17:00] kytrinyx commented on #298
Hah. Yeah, that's a good point. We should absolutely distinguish between existing/known tracks and unknown tracks.

[2016-03-13 17:01] kytrinyx commented on #287
Definitely a bug! Thanks for adding these details, @ErikSchierboom

[2016-03-17 21:31] Tonkpils commented on #287
There seems to be a bug with the backend or there's fields that aren't properly filled out.

[code]

[code]

[code]

[2016-03-20 22:09] roseaboveit commented on #36
@kytrinyx given Dangthrimble's link above, is this issue resolved or is this still an active feature request for the future?

[2016-03-21 03:47] mhelmetag opened #300 "Submit should warn users that try to check in a directory"
Brought up in [exercism.io#2802](https://github.com/exercism/exercism.io/issues/2802).

It could be a good idea to give users a heads up when they try to submit a directory.

This could help funnel new users towards the correct usage of the cli (along with the existing control flow in [submit](https://github.com/exercism/cli/blob/master/cmd/submit.go) already).

[2016-03-21 18:10] #295 closed

[2016-03-22 15:17] Tonkpils commented on #36
@roseaboveit I can still see this being useful. On OSX we have homebrew for installing the CLI. I'm not familiar with similar tools for Windows or how complicated it would be to write an installer for it.

[2016-03-22 20:30] kytrinyx commented on #287
Closed in favor of https://github.com/exercism/exercism.io/issues/2804

[2016-03-22 20:30] #287 closed

[2016-03-22 20:33] kytrinyx commented on #300
Agreed, this would be a very nice fix. It also shouldn't be difficult to implement.

[2016-03-22 20:36] kytrinyx commented on #36
I'd also like to keep this open. It would be fantastic to have people double-click something and it would put everything in the right place and fix the registry or whatever else needs to happen. I simply don't know what type of work would be involved at the moment.

[2016-03-22 23:48] roseaboveit commented on #36
Is this the sort of thing that someone who did know how to make Window's Installers could pick up and work on it?

If not, what would need to be done to make this ticket actionable so we can label it with a todo tag?

[2016-03-22 23:50] Tonkpils commented on #36
Yup, I'm assuming for someone with some knowledge of windows programming it'd be fairly straight forward.

[2016-03-22 23:54] kytrinyx commented on #36
Yeah, presumably someone who knows windows development would be able to do this without knowing much (or anything) about Go or exercism.

[2016-03-23 00:40] roseaboveit commented on #36
@kytrinyx I am not able to add labels in this repo still. Could you apply a todo tag so that someone perusing with the skill could easily find this?

[2016-03-23 13:49] alebaffa commented on #300
I can take care of this one :) it would be my first PR here on exercism.

I took a look and it seems pretty simple to implement.
I think I could add a new check in cli/cmd/submit.go along with these existing ones:

if isTest(filename) ...
if isREADME(filename)...
I see two solutions, but I would like to hear your opinion:

1) to create a new function (which will be stored in /cmd/cmd.go)

if isDir

[2016-03-23 14:34] kytrinyx commented on #300
I would suggest using the IsDir function, since it already does what you need.

[2016-03-23 21:04] kytrinyx commented on #36
Done. Also, fixed the permissions for this repository.

[2016-03-25 16:19] mhelmetag commented on #300
@alebaffa , thanks for this :D

[2016-03-25 16:19] #300 closed

[2016-03-29 19:46] behrtam opened #303 "Incorrect track status information"
`exercism status scala` gives me totally incorrect information. For example in the *scala* track, I have submitted [`Bob`](http://exercism.io/exercises/cb2f63d644cf499a939e9795eb186326), [`Hamming`](http://exercism.io/exercises/6b72f7e37f4f4b8ba9bb9d219ec52bac), [`Word Count`](http://exercism.io/exercises/0e4612a1870d4b839ca8376dce6539c4) and [`Anagram`](http://exercism.io/exercises/3a722130d44948

[2016-03-29 22:01] kytrinyx commented on #303
This is checked on the API. There's an open pull request in the works to fix it: https://github.com/exercism/exercism.io/pull/2810

I'm going to close this as a duplicate of https://github.com/exercism/exercism.io/issues/2804

[2016-03-29 22:28] behrtam commented on #303
Sorry didn't check the PRs.

[2016-03-29 22:28] #303 closed

[2016-03-30 00:19] kytrinyx commented on #303
No worries, there's no easy way to keep track of everything everywhere in this project!

[2016-04-02 14:25] Tonkpils commented on #275
Looking a bit deeper into it, it seems as if your request didn't send the actual bytes for the request. Heroku times out clients that are idle for 55 seconds https://devcenter.heroku.com/articles/request-timeout#long-polling-and-streaming-responses and from looking at your logs, it seems that is the case from these two lines

[code]
I'm not familiar enough with the tools that @FunkyCat is using bu

[2016-04-02 14:27] Tonkpils commented on #267
@tejasbubane did the latest release of the CLI fix this issue for you?

[2016-04-02 14:54] Tonkpils commented on #259
@kytrinyx one thing I just ran into while testing this enhancement is that we are not able to restore a single track or slug. Do you think that's something people do often or would like to do rather than restoring the entire set of solutions?

[2016-04-02 14:58] Tonkpils opened #304 "Add --force flag to restore command"
From https://github.com/exercism/cli/issues/259#issuecomment-164016348

- [ ] executing `exercism restore` we should display a list of files that were not restored because they already exist and specify that if the user wants those files overwritten, they should re-run the command with the `--force` command.

- [ ] `exercism restore --force` should overwrite files with the ones provided by the res

[2016-04-02 15:04] bgrooven commented on #304
Is it possible to send these updates by language? I get emails for all the different languages. It would be cool to see just the ones I'm interested in at the time.

[2016-04-02 15:08] Tonkpils commented on #304
I'm not sure what you mean? The CLI itself doesn't send any updates. I think you mean to post this in the https://github.com/exercism/exercism.io repo?

[2016-04-02 15:58] Tonkpils commented on #304
@kytrinyx I have something going on but it seems a bit messy with the output. I'm wondering how we can improve this or maybe it's just not the right way to go with displaying the files on the output?

Here's the output I have with items being restored and some unable to be restored because they exist:

[code]

Thoughts?

[2016-04-02 16:09] kytrinyx commented on #259
Yeah, we should be consistent across all commands and allow both track-level scoping and problem-level scoping.

[2016-04-02 16:13] kytrinyx commented on #304
Yeah, that's a lot of output. A couple of options come to mind:

- `--verbose` flag could output all the actual files that didn't get written because they already exist.
- on a normal run we could say [conflict: N] with the file count in the "updated" section.

Also, maybe it doesn't make sense to differentiate with the updated/new in this context.

[2016-04-02 16:20] Tonkpils commented on #168
I was digging through a bit of searches on Google for this issue.  It's pretty dated, but this https://github.com/golang/go/issues/5694#issuecomment-66080983 caught my attention. It's possible that running the binary from a network drive doesn't allow DNS resolution because of that?

In any case, this seems to be an issue we can't fix from the CLI point of view. If it's ok with @horatius83 , I'd s

[2016-04-02 16:21] Tonkpils commented on #216
Closing this, we've merged vendor support and it should work with the go tool on Go 1.6

[2016-04-02 16:21] #216 closed

[2016-04-02 16:42] kytrinyx commented on #168
That sounds reasonable to me. If we don't hear back within 7 days, let's close this anyhow (can always reopen later if we need to).

[2016-04-03 18:09] Tonkpils commented on #304
I'm not sure what you mean there. Do you not want to display the updated/new output if there's conflicts and instead display a `conflicts: N` section?

[2016-04-03 18:23] kytrinyx commented on #304
"updated/new" is mainly relevant when fetching. When you're restoring, then presumably you've had all of them. Conflict vs not kind of makes more sense to me in this context.

[2016-04-03 18:25] Tonkpils commented on #304
Fair enough, I'll work on that :+1:

[2016-04-04 00:29] lucasloisp opened #305 "Solved exercises showed as "not submitted""
When I run `exercism status haskell`
I get
[code]
I've already solved 'accumulate', and it shows in my dashboard, but I can't seem to get the tool to recognize it.
Note, this has never happened with other exercises.

[2016-04-04 00:30] #305 closed

[2016-04-04 00:31] lucasloisp commented on #305
I realize now this has been discussed on issue #303, my bad.

[2016-04-08 13:24] Tonkpils commented on #267
Closing this, if you are still running into this issue, feel free to reopen

[2016-04-08 13:24] #267 closed

[2016-04-08 19:19] Tonkpils commented on #168
Closing this since we haven't heard any feedback

[2016-04-08 19:19] Tonkpils commented on #275
If you have any more feedback or are still running into this issue feel free to re-open

[2016-04-08 19:19] #275 closed

[2016-04-19 01:46] cjbottaro opened #308 "status fails after fresh fetch"
Hello,

[code]

Let me know if there is any more info I can provide.

Thank you.

[2016-04-19 10:15] kytrinyx commented on #308
This information is great, thanks. It looks like the API endpoint isn't returning a timestamp anymore. I'll take a look.

[2016-04-25 05:58] petertseng opened #309 "Files that have Unicode chars only after the 1024th byte get their Unicode mangled"
The situation is that I had a file whose first 1024 bytes didn't contain a Unicode character, but then a character after the 1024th byte did. An example of such a file is:

http://exercism.io/submissions/1e341848768141cf8eba94c6af6e55a7

Submitting this file mangles the Unicode character.

In contrast, this file has Unicode in the first 1024 bytes, so it is good (even the Unicode that appears afte

[2016-04-25 06:02] petertseng opened #310 "`exercism fetch <nonexistent track>` gives unhelpful message"
I tried to do this recently:

[code]

Well, obviously I forgot to include what track's `hello-world` I want. Obviously it should have been `exercism fetch <track-id> hello-world`. But the response could probably be more helpful on that front instead of telling me that nothing changed.

[2016-04-25 17:24] kytrinyx commented on #310
Yeah, definitely. This shouldn't be too hard--I think that if the API returns a 404 with a helpful error message, the CLI will automatically do the right thing.

[2016-04-26 22:51] Tonkpils commented on #304
I may be missing some context but when doing a restore `new` can actually be something? I'm assuming exercises I haven't fetched on the machine?

![image](https://cloud.githubusercontent.com/assets/1507561/14836355/79dfe2b6-0bdd-11e6-9127-98f1a0515a25.png)

I have something similar to this

![image](https://cloud.githubusercontent.com/assets/1507561/14836538/f68a5ea8-0bde-11e6-8c0d-915fd8748b53.pn

[2016-04-27 22:53] andy-young opened #311 ""exercism 2" is damaged.."
..and can't be opened. You should move it to the Trash.

Getting this message when I download the latest version and try to open. Not sure what to do here.

**** Debug Information ****
Exercism CLI Version: 2.2.0
Exercism CLI Latest Release: 2.2.5
OS/Architecture: darwin/amd64
Build OS/Architecture darwin/amd64
Home Dir: /Users/andyyoung
Config file: /Users/andyyoung/.exercism.json
API Key: xxxxxx

[2016-04-27 23:12] Tonkpils commented on #311
Are you trying to update your current CLI through `exercism upgrade`?

[2016-04-27 23:53] andy-young commented on #311
No.
Just did it. Got a permission denied. Should I sudo?

On Wednesday, April 27, 2016, Leo Correa <notifications@github.com> wrote:

[2016-04-27 23:54] andy-young commented on #311
I got it working thank you much!🤓

On Wednesday, April 27, 2016, Leo Correa <notifications@github.com> wrote:

[2016-04-27 23:55] Tonkpils commented on #311
great! glad you got it figured out! If you run into anything else, feel free to open another issue. 👍

[2016-04-27 23:55] #311 closed

[2016-04-29 02:44] kytrinyx commented on #304
Huh. Yeah, you're right. New is relevant to the machine, not to your account. Not sure how I feel about that, actually :)

Eew. Yeah, that kind of stinks. I'm not sure what to do about that.

Instead of showing conflicts by default?

[2016-04-29 11:43] kotp commented on #259
Right now, it does not restore the submitted exercism file.

I removed the hamming folder to avoid the "non-overwrite" behavior, and I did get the hamming_test.rb file, but not the last submitted (nor any) hamming.rb file.

I am using exercism version: 2.2.5

[2016-04-29 14:01] Tonkpils commented on #304
Yeah, so without any flags we'd have the number of conflicts. With a flag as `--dry-run` or something similar, it would display the files that would be overwritten by `--force`?

[2016-04-29 17:59] kytrinyx commented on #304
What if without any flags we had a small symbol in front of exercises with conflicts, and an explanation at the bottom about what it means?

I also like the idea of `--force` with `--dry-run` which would give you the verbose list of what it would overwrite with `--force`.

[2016-04-29 18:00] kytrinyx commented on #259
OK, I think that sounds like a bug. I would expect it to restore the hamming files if they are gone.

[2016-05-02 12:19] kytrinyx commented on #308
Sorry it's taken so long to get back to you. I wonder if we have a bad release out in the wild.

I have tried to reproduce this behavior by installing the lastest (2.2.5) version in three different ways:

1. from source on my machine with `go install`
1. via homebrew with `brew update && brew uninstall exercism && brew install exercism`
1. by downloading the latest release on GitHub https://github

[2016-05-02 12:20] kytrinyx commented on #308
Oh, wait. No I forgot the "after a fresh fetch" step!

I've reproduced the issue.

[2016-05-02 12:25] kytrinyx commented on #308
Update: No, I am not sure that I have. I can reproduce this only if I fetch something on a language track where I've not submitted anything. In this case We should be saying "you haven't started the track yet", I think.

If you are getting this error message on a track that you've actually started, would you see if you can figure out the reproduction steps?

[2016-05-02 12:33] kytrinyx commented on #308
I've tweaked the behavior of the API to return "you haven't started this track yet" so that the client doesn't blow up, but we might want to discuss whether or not an unstarted track where you've fetched something should tell you about what you fetched.

[2016-05-02 12:45] kytrinyx opened #313 "Pass explicit list of track ids to exercism fetch"
At the moment, `exercism fetch` calls the global fetch endpoint with no arguments (`api/api.go:48`). This causes the fetch endpoint to return the first exercise on all of the tracks. Then the CLI filters based on which directories are present locally.

Let's change this so that we're only asking for directories that are present locally:

[code]

We should probably also add a message to explain whi

[2016-05-02 13:32] kytrinyx opened #314 "Link to activity stream after submitting"
Instead of linking to the person's submission (where nothing will have happened yet), let's link to the activity stream for the relevant track and problem: `http://exercism.io/tracks/:track_id/exercises/:problem_slug`.

This may encourage people to look around more, and perhaps even start or participate in conversations.

See https://github.com/exercism/exercism.io/issues/2803

[2016-05-02 13:52] cshutchinson commented on #313
Thank you for pointing me in the right direction. Will take a look.

[2016-05-02 15:38] kytrinyx commented on #313
Awesome! Let us know if you have any questions. We're still trying to figure out how to best organize things, so sometimes this gets a bit confusing.

[2016-05-02 17:15] kytrinyx opened #315 "Update to the most recent version of codegansta/cli"
There were some significant (and breaking) changes to the cli library. This is not urgent, since we've vendored this, but eventually we should probably make the change.

See https://github.com/exercism/exercism.io/issues/2858

[2016-05-04 20:12] duckpuppy commented on #308
Should this be fixed now?  I still see the "cannot parse" error on tracks with no submissions.  I'm using the cli as installed by homebrew on OSX, version 2.2.5.

[2016-05-04 20:20] duckpuppy opened #316 "Getting "sorry, tracking disabled" when fetching status of track in progress"
I get the following when trying to fetch the status for my in-progress language tracks.

[code]

Notice that the "fetched but not submitted" has "sorry, tracking disabled".

[code]

[2016-05-04 20:55] kotp commented on #308
Looks like #316 may be either duplicated or related.

I can confirm that I have a track where it has been fetched but nothing submitted, I get the same message.

[2016-05-05 07:42] kytrinyx commented on #316
I'm closing this as a duplicate of #308

[2016-05-05 07:44] kytrinyx commented on #308
This is still a problem. I wrote the fix and forgot to merge it to master. I'll do this when I've had some sleep.

[2016-05-06 21:22] duckpuppy commented on #316
How does this duplicate that ticket?  I thought that ticket involved new tracks with no submissions.  I have two submissions already to the go track in this case.

[2016-05-06 21:24] duckpuppy commented on #308
@kotp I can see related, but it's not really duplicated - I have submissions on the track already and have fetched the next exercise.

[2016-05-06 22:16] kotp commented on #308
I did say 'may be' as I am not positive.  @kytrinyx may have understanding that it is the exact mechanism in question causing both. Purely speculative, though.

[2016-05-07 01:45] kytrinyx commented on #308
Sorry--things got extremely out of control at the conference I was at. https://twitter.com/kytrinyx/status/728480126573285380

I'll get to this on the weekend.

[2016-05-07 07:25] manusajith commented on #315
PR for the same: #317

[2016-05-08 14:25] kytrinyx commented on #316
Ahh, no you're right. Sorry about that!

[2016-05-08 14:38] kytrinyx commented on #315
Thanks @manusajith!

[2016-05-08 15:56] #314 closed

[2016-05-08 18:11] kytrinyx commented on #316
OK, the problem here is that the messaging is ambiguous. We've disabled tracking for fetches. I'll clarify it.

[2016-05-08 18:12] #316 closed

[2016-05-08 18:30] kytrinyx commented on #308
OK, this is really dirty, and we can't fix it properly without changing the CLI, which will require a new release.

Here's the temporary solution:

[code]

[2016-05-08 18:31] #308 closed

[2016-05-17 15:26] kotp opened #321 "Show current and next exercise"
Related to exercism/exercism.io#2780 where I think we should show current and next exercises.

[2016-05-17 19:25] tejasbubane commented on #321
I think this can be a part of the `exercism status`.
The purpose of this command is being thought over here: https://github.com/exercism/discussions/issues/13

[2016-05-17 19:54] kotp commented on #321
For sure, I think 2780 should be linked to that discussion.  (I probably wouldn't have made this one if it had.)

[2016-05-17 20:15] kytrinyx commented on #321
I'm going to close this until we've gotten the details of a new status command sorted out (since nothing here will be actionable until then).

[2016-05-17 20:15] #321 closed

[2016-05-19 00:11] #315 closed

[2016-05-28 20:31] cyplo opened #325 "Problems with symlinked directories"
Hi !

Thanks a lot for this awesome tool !
While using it I found something curious:
I have symlinked `rust` subdirectory of exercism's main directory and it casues the CLI to complain:

[code]

let me know if this is a non-issue, or whether there is some workaround.
I'm also happy to help to provide any details if needed

thanks !

[2016-05-29 15:36] AlexLov opened #327 "`exercism submit` prints incorrect link for related solutions"
Example:

[code]

Where http://exercism.iotracks/go/exercises/leap should be http://exercism.io/tracks/go/exercises/leap
Lost '/' between exercism.io and tracks.

I've fixed it by changing api address in ~/.exercism.json:
from
"api": "http://exercism.io"
to
"api": "http://exercism.io/"

But submit command should print correct link in both cases.

[2016-05-29 16:50] Tonkpils commented on #327
We are working on a fix for this https://github.com/exercism/cli/pull/319

[2016-05-29 19:48] kytrinyx commented on #325
I think the easiest workaround would be to configure the client to look at `/home/cyryl/dev/katas`:

[code]

[2016-05-30 00:03] #327 closed

[2016-05-30 08:01] cyplo commented on #325
Hello !
The tip indeed solves my immediate issue, thanks a lot for that !

[2016-05-30 15:23] kytrinyx commented on #325
@exercism/cli-committers I think we should go ahead and close this rather than trying to reverse-detect symlinks to the directory that someone is in. This workaround seems straight-forward enough. What do you think?

[2016-05-30 17:41] lcowell commented on #325
I agree. The workaround seems pretty simple.

[2016-05-30 17:56] lcowell opened #329 "requiring exercises to live in exercises directory"
We have a policy that users keep their exercism exercises in preconfigured directory (eg `$HOME/exercism`) and we refuse to submit files that live outside that directory. I'm wondering if this is a policy worth continuing to enforce. If a user points us to a file to submit, would it be a better experience for the user to just submit the file instead of refusing based on its location.

Pros
* user

[2016-05-30 18:46] Tonkpils commented on #329
I was honestly thinking about this over the weekend when I saw this issue https://github.com/exercism/cli/issues/325

I think it would be nice to be able to submit a file in any directory but agree that it could be confusing when doing fetches or restores.

I'd actually give a +1 for this since the user experience would be better by allowing them to submit files outside of the directory. We can gi

[2016-05-30 21:50] kytrinyx commented on #329
We need to figure out what track and exercise it is when it's submitted. Currently we do that by looking at the path: `$DIR/$TRACK_ID/$EXERCISE_SLUG`.

If we could unambiguously determine what track and exercise they're submitting, then I would have no problem with this.

The restores thing is potentially confusing, but perhaps if they don't have a configured directory we can restore to some direc

[2016-05-31 15:20] cyplo commented on #325
Seems alright for me :) The only case I could think of where this would be not enough, if someone would want to have separate outside directories per e.g. language supported. But I do not feel that need, so probably you can close this one. thanks again !

[2016-05-31 15:23] kytrinyx commented on #325
Thanks!

[2016-05-31 15:23] #325 closed

[2016-05-31 17:10] lcowell commented on #329
The only other way I can think to handle determining the full slug would be for each exercise directory to contain some configuration. This could be provided by the server or generated by the cli when the exercises are written out.

The restore thing would definitely become more confusing, even if we could restore to the directory the user submitted from.

This seems like it would be a lot of work

[2016-05-31 17:46] kytrinyx commented on #329
I agree. This sounds like a measurable amount of complexity for what feels like kind of dubious value.

I'm still open to discussing it if someone has strong opinions about it, but I would also vote to close the issue.

[2016-05-31 17:47] Tonkpils commented on #329
Closing, if someone else has strong opinions about this feel free to re-open 👍

[2016-05-31 17:47] #329 closed

[2016-06-01 18:43] kytrinyx opened #330 "Improve usage/help text of submit command."

[2016-06-01 18:45] kytrinyx commented on #330
The current output is:

[code]

The USAGE should be

[code]

or something like that.

[2016-06-05 13:31] nearbycoder opened #332 "Link for related solutions broken."
On the output that gets returned from running `exercism submit` there is an issue where the link is invalid due to missing a forward slash. The link below is the line with the issue.
https://github.com/exercism/cli/blob/56b4be81216a7272a09d78879069e0abcd758388/cmd/submit.go#L104

Example output
`http://exercism.iotracks/elixir/exercises/acronym`
![screenshot at jun 05 08-34-46](https://cloud.githu

[2016-06-05 13:35] kytrinyx commented on #332
What version of the CLI are you using? (`exercism -version` or `exercism debug` will tell you)

If you recently upgraded, you might need to kick the tires:

[code]

[2016-06-05 13:39] nearbycoder commented on #332
exercism version 2.2.5

upgraded to 2.2.6 and that fixed the issue. Closing thanks and sorry for inconvenience.

[2016-06-05 13:39] #332 closed

[2016-06-05 13:41] kytrinyx commented on #332
No problem at all, thanks for reporting it!

[2016-06-07 08:04] kytrinyx opened #334 "Update release documentation about bumping the version in homebrew"
This relates to the [RELEASE.md](https://github.com/exercism/cli/blob/master/RELEASE.md#update-homebrew) file.

The homebrew release is a several-step process. Check out this command from the homebrew codebase:

https://github.com/Homebrew/brew/blob/master/Library/Homebrew/dev-cmd/bump-formula-pr.rb

Note that you need to set `HOMEBREW_DEVELOPER=1`.

[2016-06-18 14:33] rmunn commented on #309
Another file whose Unicode was corrupted:

http://exercism.io/submissions/841caf9f0bcb4c95a5fc36e6e457efc4

It seems that the `♯`, `♭` and `♮` characters in my code (on lines 47-49) were misinterpreted as [CP-1252](https://en.wikipedia.org/wiki/Windows-1252#Code_page_layout) instead of UTF-8, because Go's `DetermineEncoding` function saw nothing but ASCII in the first 1024 bytes of my code, and th

[2016-06-21 13:27] kytrinyx commented on #309
This sounds like a reasonable approach to me.

[2016-06-26 15:59] kytrinyx opened #335 "exercism fetch TRACK_ID --all"
I've gotten a few requests for the ability to download all the exercises for a languages before getting on a long flight.

What do you think of adding a flag `--all` to the fetch command?

This wouldn't have to be fancy; I'd be totally OK with a first iteration that just loops through the full list.

[2016-07-05 23:41] guilhermeepaixaoo commented on #335
This flag is for download all exercises from the language ?

[2016-07-06 02:24] Tonkpils commented on #335
@guilhermeepaixaoo from the implementation it seems like it

[2016-07-16 00:07] kotp opened #338 "First few lines of submission repeated, but not in original code..."
[exhibits this strangeness](http://exercism.io/submissions/c8efa0c302354c31ad24c2a73449bf63)

![screenshot from 2016-07-15 20 06 02](https://cloud.githubusercontent.com/assets/16747/16891459/b5d71cf2-4ac7-11e6-848d-a5fc70046a26.png)

See comments from @mcritchlow for details in that submission.

[2016-07-16 15:25] Tonkpils commented on #338
That is very odd but I'm not sure how we could even begin debugging this. All of the other solutions don't have the duplicate module. If we had access to the request that generated this iteration then we'd be able to see what was sent on the request body but as it stands I'm not sure this is possible.

I'd be happy to take a look if we had a bit more information.

[2016-07-17 03:14] kotp commented on #338
The link shows the sha, if that is logged, the user, as well, and the time.  So if it is possible to track back, in the logs.

I have never seen it happen before, but I have only seen a small subset of submissions.

[2016-07-17 15:58] kytrinyx commented on #338
That's the strangest thing. We don't rewrite anything in the CLI.

That said, there's some stuff that munges the markdown into HTML for display inside the exercism/exercism.io application. My guess is that it has something to do with that.

I wish we could move issues easily between repositories in the same org.

[2016-07-17 22:53] mcritchlow commented on #338
thanks all! fwiw, I've done a few more exercises since and haven't experienced the issue. If you decide it's worth looking into more, please let me know if there's anything else I could do to help.

@kytrinyx - I wish we could move issues easily between repos in the same org too! Our team still uses JIRA for internal projects, but are looking to move to GH tickets + waffle.io. We have to move tick

[2016-07-17 23:11] Tonkpils commented on #338
Checkout https://www.zenhub.com/ it has a great Move Issue and it's free for Open Source! Where do we want to move this issue?

[2016-07-18 04:07] kotp commented on #338
Issue moved to [exercism/exercism.io #2977](https://github.com/exercism/exercism.io/issues/2977) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-18 04:07] #338 closed

[2016-07-22 16:48] Tonkpils commented on #335
Fixed by #336

[2016-07-22 16:48] #335 closed

[2016-07-29 02:49] hynkle opened #340 "improper slug on case-insensitive filesystems"
On case-insensitive filesystems (e.g. OS X's default), it's possible for an incorrect slug for the current exercise to be gotten from the current working directory.

Suppose an exercise exists in `~/exercism/ruby/pangram`, but you got into that directory by doing `cd ~/exercism/Ruby/pangram`.  This causes the capitalized `Ruby` in the path to get used as the slug here in NewIteration: https://gith

[2016-07-29 08:48] Insti opened #341 "Feature request: 'download' should accept full Exercism URLs"
Feature request: The download option should accept full Exercism URLs

`exercism download http://exercism.io/submissions/45aaa580ea91452bb34076ade70511f2`

Currently it's necessary to copy/paste just the uuid hex digits from the full URL.

[2016-07-29 17:38] kytrinyx commented on #341
I like this suggestion.

[2016-07-29 17:39] kytrinyx commented on #340
Yepp—that's a safe assumption and a good solution. Thanks!

[2016-07-29 18:25] Insti commented on #341
Should this change happen in the CLI or the API?

[2016-07-29 19:37] kytrinyx commented on #341
Trade-offs:

In the CLI feels cleaner. In the API means we don't need to release a new CLI.

[2016-07-30 16:53] kotp commented on #341
Alternatively, having the digits shown with a command like `exercism dl 45aaa580ea91452bb34076ade70511f2` for each submission page means that you can copy and paste to your terminal/command line.

[2016-07-30 17:32] Insti commented on #341
I'd like there to be a button that just let me download the file directly from the webpage.

[2016-07-30 21:06] kotp commented on #341
Wouldn't that require registering an "application type" to be able to use the cli in that way?  Send a message to it while the exercise is being requested.

[2016-07-31 17:16] kytrinyx commented on #341
We wouldn't have to use the CLI to download—we could zip up the exercise+solution and it would download to the default location that the browser uses for downloads.

[2016-08-01 03:40] kotp commented on #341
Yes, but would it be able to put it in the location as I am used to it being now?  I think this is based on the local config... Of course I could just choose not to use the button... I like how it works at the moment, though having the hexadecinal number easily placed on my clipboard would be nice. (It works well in my terminal based browser, so really have no strong feelings on this personally.)

[2016-08-01 07:11] Insti commented on #341
Just wanted to clarify, my "button to download directly from the webpage" would be a button on the solution page on the website implemented in the exercism.io repository and NOT as an addition to the cli.

[2016-08-01 16:58] kytrinyx commented on #341
No, I think that would be fine though.

Yeah, having the full command that could be copied to the clipboard with a click would be really nice.

[2016-08-03 05:48] aranair commented on #310
Took a jab at it at x-api, but it seems like I might be missing a few things there, would be great if someone could take a look :D

[2016-08-04 02:16] bunnymatic opened #342 "MacOSX install issues - mis-matched versions... maybe conflicting old install?"
Hi

I used exercism a long while ago.  I recently installed via Brew on a machine that probably had the cli installed (but i'm not totally sure).

I followed the docs, and I am now in a place where the cli doesn't appear to work.  And it's version doesn't match (even remotely) the brew package version.  Is that expected?  Shouldn't the brew version match the cli version?  I don't recall the old in

[2016-08-04 02:22] bunnymatic commented on #342
Ack!  my bad.

I'd put an alias in for `exercism` to point to my locally installed version `~/exercism/exercism`.  This seems to hide nicely.  `which exercism` returns nothing but `exercism` runs (the old version).

Sorry to bother you guys.

Keep up the good work.

[2016-08-04 02:22] #342 closed

[2016-08-05 18:49] kytrinyx commented on #342
I'm so glad this turned out to not be a bug, and sorry it was messy/confusing there for a bit!

[2016-08-05 21:33] blueelvis commented on #36
@kytrinyx - I have created an installer. Could you please test it? It downloads the version automatically depending on the architecture of system. Feedback would be appreciated :)

https://github.com/blueelvis/ExercismWinSetup/releases/tag/1.0

[2016-08-05 22:25] kytrinyx commented on #310
This should now be fixed. Would you mind double-checking?

[2016-08-05 23:14] petertseng commented on #310
[code]

Seems good.

By the way I didn't need to change my exercism client for this, so I confirm that "if the API returns a 404 with a helpful error message, the CLI will automatically do the right thing." is true.

[code]

[2016-08-05 23:14] #310 closed

[2016-08-05 23:15] petertseng commented on #310
Thanks @aranair.

[2016-08-06 00:19] kytrinyx commented on #36
Yay :sparkles:

I don't have access to windows machine to test on, unfortunately. I've retweeted your tweet about it, so perhaps someone will jump in. I'll also stick this in the newsletter on Sunday.

[2016-08-06 16:23] OJFord commented on #230
Couldn't each language directory have a configuration file that specifies a command to run tests and exit with an appropriate code, so that the CLI just executes that on the exercise directory, and submits only if it exits 0?

For example, Haskell would be `cd $EXERCISE && stack test`; Python would be only slightly more complex - `cd $EXERCISE && python ${EXERCISE//-/_}.py`.

[2016-08-06 17:43] blueelvis commented on #36
@kytrinyx :dancer:

The setup is working fine on my system. I would need someone to test on different systems and languages to make sure it is working properly. Let's see who jumps in ^_^

I wonder if it is ready to be included in the newsletter since I am wondering if it needs more polish. On the bright side, you include it and people would hopefully provide feedback.

[2016-08-06 22:39] kotp commented on #230
I think having it force a no submission due to a failure of the test is counter to what is wanted.  If someone needs help, they should be able to submit their code as it is and request the help.

[2016-08-07 14:24] kytrinyx commented on #230
If we were ever to do this, I think we should submit it along with the output of the failure, rather than fail to submit.

[2016-08-07 14:26] kytrinyx commented on #36
The newsletter isn't about polish—it's really more of an "insiders" newsletter than anything, I think. People who like to know what's going on, what's not working, where do we need help, etc.

I will include it and a link to the installer.

Would you put a description in the latest release of the exact steps to install and what you would want feedback on?

[2016-08-07 14:29] OJFord commented on #230
Does that happen though?

Sure - and I think that could be used to encourage more engagement by still restricting `fetch` - so you could `submit` a failing exercise, and hopefully interact with people to learn what went wrong (or worst case just copy someone else's and resubmit) before progressing to the next one.

Could have a list of "exercises you've completed but others need help with" too, to

[2016-08-07 15:10] kytrinyx commented on #230
Yeah, it does.

This is a good idea, and I believe this is in the works: a filter on the activity stream for "help requested" (which is a flag on the exercise).

[2016-08-08 19:18] Insti opened #343 "Restore not working in one case."
@borkabrak had the following issue (copied from https://github.com/exercism/exercism.io/issues/2295)

[2016-08-09 07:26] blueelvis commented on #36
@kytrinyx - Yes, I will update the description with screenshots and the whole process tonight once I am back from college.

Have a nice day ^_^

[2016-08-11 21:06] blueelvis commented on #36
@kytrinyx - I have updated the documentation as well. Released a new executable (Under Releases section). Please let me know if there is anything else which needs to be done ;)

Regarding the feedback, I would be really glad if someone could guide me on writing unit tests for a project like this (More under the contributing section). :D

[2016-08-11 22:33] kytrinyx commented on #36
@blueelvis this is great!

Would you be interested in moving this into the exercism organization? You would of course be the maintainer of the project/repo, but it would make it easier to find.

[2016-08-12 22:25] blueelvis commented on #36
@kytrinyx - I would love to do that ^_^. I don't know the process of moving a repository to an organization though.

[2016-08-13 00:57] kytrinyx commented on #36
@blueelvis it turns out it's a bit complicated to move something to an org, but if you transfer it to my user (`kytrinyx`) then I can transfer it to the exercism org (since I have admin rights on the organization, it will let me do that).

Then I'll make a team for the installer and add you to it.

[2016-08-14 08:06] blueelvis commented on #36
@kytrinyx - I have initiated the transfer of repository. Please let me know when you have moved it to Exercism :)

[2016-08-14 15:39] kytrinyx commented on #36
It's been moved. It's now at https://github.com/exercism/windows-installer and you've got access. Let me know if you want to add anyone else to the maintainer team at any point.

[2016-08-14 15:58] Tonkpils commented on #36
I am going to go ahead and close this! Thanks for the great work @blueelvis and @kytrinyx

[2016-08-14 15:58] #36 closed

[2016-08-14 16:06] kytrinyx commented on #36
@blueelvis did all the work!

[2016-08-14 18:24] blueelvis commented on #36
@Tonkpils - You are welcome ^_^.

@kytrinyx - Thanks! I will let you know in case of any issue :)

[2016-08-14 19:03] blueelvis commented on #341
We can have application specific URLs (for example - exercism://fetch ) and it will open via Exercism. That's all good and easy as well. Read this - https://msdn.microsoft.com/en-us/library/aa767914(v=vs.85).aspx

But, there could be security issues as well. Read this over here - http://stackoverflow.com/a/389271

I also think that having the command being copied to the clipboard would be best.

[2016-08-14 19:46] kotp commented on #341
:+1: for having the command copied to the clipboard.   That is how i do it now, with a tool I wrote called cdx, which takes the hex part of the url, and applies that to the exercism download (clipboard content here), and then it changes directory to the exercism/solutions/(appropriate folder).

[2016-08-28 17:03] Insti opened #345 "fetch --all gives no initial indication of progress."
On running: `exercism fetch --all ruby`
It did nothing for a long time (tens of seconds) before displaying all the exercises it had downloaded/updated/etc.

I assume it was doing something networky and fetching a lot of things.

It would be nice if there was a helpful message that appeared immediately that said something reassuring like: `fetching all ruby exercises from the website...`

[2016-08-30 17:07] ErikSchierboom commented on #88
@kytrinyx Should the on-hold status be removed, due to this [PR](https://github.com/exercism/x-api/pull/124) being merged in the x-api repository? As you can tell, I really want this feature :)

[2016-09-02 14:37] kytrinyx commented on #88
Yessss! This is ready to go now.

[2016-09-04 23:57] petertseng commented on #309
I attempted to use the proposed suggestion:

To test this out, I simply made my exercism binary always interpret as UTF-8, then submitted a UTF-16 file. Unfortunately, **no error occurred, but the files were still mangled**, which will complicate this suggestion.

You may see my submitted files at:

* http://exercism.io/submissions/b846f2733ee74552a4748d50d629e142
* http://exercism.io/submissions/

[2016-09-05 00:23] petertseng commented on #309
Amending **Suggestion B** since DetermineEncoding returns a boolean to indicate whether it is **certain** of the encoding it guesses.

Old suggestion:

Always use DetermineEncoding, ~~but if [it reports windows-1252](https://github.com/golang/net/blob/master/html/charset/charset.go#L103)~~, then ignore that and proceed with UTF-8.

New suggestion:

[2016-09-05 20:51] lcowell commented on #345
You can use `exercism --verbose fetch ruby` to see the individual steps being taken. The output isn't super friendly, but could be useful if you're debugging a network issue.

[2016-09-05 21:24] kytrinyx commented on #309
I don't really understand the requirements here either :(

[2016-09-05 23:37] petertseng commented on #309
Then my line of reasoning will be the following:

* In the beginning (Before #182), it was implicitly the case that only UTF-8 was supported (and this has test coverage), since we called `ioutil.ReadFile` directly.
* Then after #182, we did a few things:
  * intentionally added support for UTF-16-LE and UTF-16-BE (and these two have test coverage)
  * unintentionally added support for windows-1252

[2016-09-09 19:34] tylerstonge opened #347 "Exercism 2.3.0 Timeout on Arch Linux"
I have tried installing the version from the website and also the one from AUR, both seem to have the same issue. I also have installed Exercism on my Ubuntu machine and everything works properly, so it seems to be an issue just with Arch.

[code]

[2016-09-09 19:51] kytrinyx commented on #347
@Tonkpils We had some issues with timeouts before—do you recall what the problem was with that?

[2016-09-09 19:56] lcowell commented on #347
Based on the port numbers in the errors, it looks like it's a DNS issue. I don't think this is an HTTP issue.

@tylerstonge are you able to run this command in your terminal?
`dig +trace api.github.com`

[2016-09-09 20:04] tylerstonge commented on #347
@lcowell here is what I get from the dig.
[code]

[2016-09-09 20:46] lcowell commented on #347
Thanks. Does seem to be any issue there. Let's try forcing a udp connection.

`dig +trace +notcp api.github.com`

Do you have another internet connection you could try the exercism debug command from?

[2016-09-09 21:28] tylerstonge commented on #347
I do not have another internet connection at the moment, I could try tomorrow. Here is the output from that dig command though:
[code]

[2016-09-09 21:49] lcowell commented on #347
Well, I'm stumped. The last thing I can think of is that it's a udp issue between you and your primary nameservers. Try this:

`dig +notcp api.github.com`

[2016-09-09 22:05] Tonkpils commented on #347
@lcowell @kytrinyx are any of you on the beta MacOS? If not, could you cut a release for the arch in question and see if that's the issue? It may have been the Go version I built the binary against?

[2016-09-09 22:26] tylerstonge commented on #347
I did some snooping and found that issue #267 was quite similar, and rebuilding the code without the timeout seemed to fix the error.
[code]

[2016-09-10 02:01] kytrinyx commented on #347
@tylerstonge So it's connecting, just slowly. Here's my debug output:

[code]

@Tonkpils I'm not on the beta. Let me recompile and see if that helps at all.

[2016-09-10 02:05] kytrinyx opened #348 "debug output is missing build os/arch"
The debug output from my machine says:

[code]

I would expect this to say

[code]

[2016-09-10 02:07] kytrinyx commented on #347
OK, I've rebuilt tag `v2.3.0` for linux/amd64 using `go version go1.7 darwin/amd64`.

https://www.dropbox.com/s/cz5rowjl0bu4j6d/exercism-linux-64bit.tgz

Want to see if that helps?

[2016-09-10 03:06] tylerstonge commented on #347
@kytrinyx I'm still encountering the same issue with that version, thanks for recompiling it though.

[2016-09-10 11:34] kytrinyx commented on #347
I have to admit that I have no idea what to try next :(

I notice that with the version compiled without the timeout you're able to hit the GitHub API in a few milliseconds, whereas it still takes over 5 seconds to hit any of the Exercism endpoints, but in the version with timeouts, the GitHub API is also timing out at 5 seconds.

Is that consistently reproducible?

[2016-09-10 23:38] lcowell commented on #347
What's interesting is that the error message you get when you hit a timeout is different than the error @tylerstonge was getting.

[code]

The different message @tylerstonge was getting could have been different because the timeout was being hit at the DNS lookup phase of making the connection. In my case the timeout was being hit while I was waiting for a response from the http.Client

@tylerston

[2016-09-11 23:58] educastro commented on #105
Why there is not .deb package available? Is there any restriction?

This semester I have a class that requires a final project and I am thinking about use this opportunity to create something to exercism, maybe the debian package. What do you think about it?

[2016-09-12 03:55] kytrinyx commented on #105
Hi @educastro, there's no restriction. It's mostly a matter of what people have requested and what we have documented. If you would like to work on this, would you help figure out what it would take to release the .deb package every time we release a new version of the CLI?

We've had trouble in the past when we either don't know how to release new versions of the CLI to 3rd party package managers

[2016-09-12 04:24] tylerstonge commented on #347
@lcowell This solved the issue for me. I must have had some slow or broken DNS servers configured since changing them out totally fixed all latency issues. Here's my debug now, and using the release from the website now works fine. Thanks everyone for all the help!

[code]

[2016-09-12 15:44] #347 closed

[2016-09-12 17:54] kytrinyx commented on #347
🎉 🎉 🎉 So glad you figured it out!

[2016-09-12 22:43] lcowell commented on #347
You're welcome! I learned something about how go does DNS in researching your issue. Glad we got it resolved.

[2016-09-17 19:02] educastro commented on #105
@kytrinyx Amazing! So I'll work on this during the next weeks and try to figure out this issue with updates! Any updates or doubt I'll post it here :)

[2016-09-19 17:15] kytrinyx commented on #105
Yay, thank you @educastro! :heart:

[2016-09-22 06:13] 0xmohit commented on #348
This is because [`github.com/exercism/cli/cmd.BuildOS` and so on](https://github.com/exercism/cli/blob/master/cmd/debug.go#L44-L47) need to be passed to the link tool which would not happen when using go get.

[2016-09-26 19:26] #309 closed

[2016-10-01 22:35] kytrinyx commented on #348
OK, that totally makes sense. I'm going to close this.

[2016-10-01 22:35] #348 closed

[2016-10-07 05:12] jtigger commented on #345
@Insti, is that sufficient for what you were wanting?  (looking to see if there's more to explore, here, or if we should close this issue)